body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #191919;
	font-size: 14px;
	line-height: 18px;
	background:url(../image/megnor/bt-ptn.jpg) repeat scroll 0 0;
}
:focus{outline:none !important;}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
.fa-stack{width:12px;}
.fa-stack .fa{font-size:15px;}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #23a1d1;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 13px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 13px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 13px;
}
.input-group .input-group-addon {
	font-size: 13px;
	height: 30px;
}

#slideshow0 .owl-item .img-responsive{width:100%;}

/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
}

.container-inner {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.12);
    margin: 0 auto;
    width: 1260px;
}

/* top */

.header_left {
    float: left;
    position: relative;
}
#top {
	background:#fff none repeat scroll 0 0;
	height:112px;
	position:relative;
	border-bottom:1px solid #e0e0e0;
	width:1200px; 
	margin:0 auto;
}
#top .container {
	padding: 0px;
}
#top #currency .currency-select {
	text-align: left;
	width:100%;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #999999;
}
#top .lang_curr #currency .currency-menu .btn-link{padding:5px 10px; background:rgba(0, 0, 0, 0) none repeat scroll 0 0; font-size:14px;}
#currency .dropdown-menu { padding: 8px;}
#currency span, #language span{display:none;}
#top #language .dropdown-menu > li > a{padding:5px 10px; color:#fff; font-size:14px;}
#currency .dropdown-menu .btn { padding: 2px; color:#fff;}
#language .dropdown-menu > li > a:hover {color:#FFFFFF;}
#top .btn-link, #top-links li, #top-links a,#language .dropdown-menu > li > a {
	color: #191919;	
	text-decoration: none;
}
#top-links li{
	padding:0;
	background:url(../image/megnor/border.jpg) no-repeat scroll right center;
	color:#656565;
	font-size:14px;
	padding:0 10px;
}
#top-links li:first-child{padding-left:0;}
#top-links li:last-child{padding-right:0; background:none;}
#top-links a .fa{padding:0px 0 0 5px;}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
	color:#fff;
}
#top-links .dropdown-menu a:hover,#top-links .dropdown-menu a:focus {
	color: #fff;
}
#top .btn-link strong {
	font-size: 14px;
	font-weight: normal;
}
#top-links {
	padding-top: 0px;
	float:left;
	margin:70px 0 0;
	display:block;
}
#top .list-inline{margin-bottom:0;}
#top-links a + a {
	margin-left: 15px;
}
#top .fa-caret-down{vertical-align:text-bottom;}
#top #currency .btn-link {
padding: 8px 10px;
background:url(../image/megnor/border.jpg) no-repeat scroll right center transparent;
}
#top #language .btn-link {
padding: 8px 10px;
}
.lang_curr{
	position:relative;
	float:right;
	display:inline-block;
	margin-right:45px;
}
/* logo */
header {
    display: block;
    position: relative;
    width: auto;
}
.header-logo{float:left;}
.header-search{float:left;}
.header-cart{float:right;}
.col-sm-4.logo{
	position:absolute;
	left:0;
	right:0;
	width:128px;
	text-align:center;
	margin:0 auto;
	padding:0;
	z-index:99;
}
/* search */

.header_right {
    float: right;
    position: relative;
    width: auto;
	top:58px;
}
.col-sm-5.search {
    float: right;
    padding: 0;
	width:auto;
	margin-right:6px;
}
#search {
	margin-bottom: 0px;
	position:absolute;
	right:0;
	z-index:45;
}
#search .input-lg {
    border:1px solid #d5d5d5;
    border-radius: 0;
    height: 40px;
    padding: 10px 0px 10px 10px;
    position: absolute;
    right: 29px;
    transition: all 0.9s ease 0s;
	-webkit-transition:all 0.9s ease 0s ;
	-moz-transition:all 0.9s ease 0s ;
	-ms-transition:all 0.9s ease 0s ;
	-o-transition:all 0.9s ease 0s ;
    width: 0;
}
#search:hover .btn-lg {
    border-left: medium none;
}
#search:hover input.input-lg, #search .input-lg:focus{
    border: 1px solid #d0d0d0;
    width: 240px;
}
#search .btn-lg {
    background:url(../image/megnor/icons.png) no-repeat scroll 9px -340px #fff;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    margin: 0;
	padding:2px;
	width:39px;
	height:40px;
	border-left: medium none;
	border-right:1px solid #d5d5d5;
	border-top:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
    z-index: 99;
}
/* cart */

.col-sm-3.cart {
    float: right;
    padding: 0;
    width: auto;
}
#cart {
	margin-top: 0px;
	float:right;
}
#cart > .btn {
	font-size: 12px;
	line-height: 18px;
	color: #FFF;
	background:url(../image/megnor/sprite.png) no-repeat scroll 7px -272px transparent;
	padding:10px 13px;
	height:40px;
	width:40px;
	border-radius:0;
}
#cart:hover > .btn{background:url(../image/megnor/sprite.png) no-repeat scroll 7px -308px transparent;}
#cart.open > .btn {
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #fff;
}
#cart .dropdown-menu {
	background: #fff;
	z-index: 1001;
}
#cart .dropdown-menu {
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-top: 4px solid #ea4848;
	border-left:medium none;
	border-right:medium none;
	border-bottom:medium none;
    display: none;
    min-width: 20px;
    padding: 0;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 53px;
    width: 330px;
	margin-top:0;
	color:#fff;
}
.dropdown.myaccount .myaccount-menu {
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-top: 4px solid #ea4848;
	border-left:medium none;
	border-right:medium none;
	border-bottom:medium none;
    display: none;
    min-width: 130px;
    padding: 0;
    position: absolute;
    left: 0px;
    text-align: left;
    top: 40px;
	margin-top:0;
	color:#fff;
}
#currency .currency-menu, #language .language-menu {
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-top: 4px solid #ea4848;
	border-left:medium none;
	border-right:medium none;
	border-bottom:medium none;
    display: none;
    min-width: 130px;
    padding: 0;
    position: absolute;
    left: 0px;
    text-align: left;
    top: 53px;
	margin-top:0;
	color:#999;
}

.cart-menu .text-left > a{color:#fff;}
.cart-menu .text-left > a:hover{color:#fff;}
.dropdown-menu.pull-right.cart-menu > li{padding:10px 12px;}
#cart .button-container {  
    width: auto;
	float:right;
	margin-bottom:20px;
}
#top-links .myaccount-menu > li{background:none; padding:0;}
#cart .dropdown-menu .table-bordered{border:1px solid #4b4e51;}
.cart-menu .table.table-striped tr{border-bottom:1px solid #4b4e51;}
.cart-menu .table.table-striped tr:last-child{border-bottom:medium none;}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu table td{border:none;background:none;}
#cart .dropdown-menu li > div {		
}
#cart .dropdown-menu li p {
	color: #fff;
    font-size: 16px;
    line-height: 30px;
    padding: 40px 20px;
    text-transform: uppercase;	
}
#cart-total {
    padding: 1px 5px;
    position: relative;
    top: 3px;
	margin:0 auto;
	font-size:10px;
	text-align:center;
}

/* menu */


.nav-container {
    margin-top: 0;
    position: relative;
}
.nav-container {
    width: 1200px;
	position:relative;
	height:63px;
	margin:0 auto;
}

.nav-responsive { display:none;}
.responsive-menu,
.main-menu {
	margin: 7px 0 0px 0px; 
	text-align:center;
	position:relative;
	/*overflow:hidden; HIDE CATEGORIES THOSE ARE OUT OF MANU.  */	  
}
 
.main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0; 
}
.main-menu > ul > li {
	position: relative;
	float: left;
	z-index: 20;
	padding: 19px 23px;
}
.main-menu > ul > li:hover {
} 
 
 .nav-responsive span,
.main-menu > ul > li > a {
	color: #191919;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.8px;
    text-decoration: none;
    text-transform: uppercase;
	z-index:6;
	position:relative;
}
.nav-responsive span{padding:19px 23px 19px 0;}
.main-menu a:hover { text-decoration:none}

.main-menu > ul > li:hover > a {
	color:#ea4848;
}
.main-menu > ul > li > ul , .responsive-menu .main-navigation{
	display: none;
	background: #15BCF0;
	position: absolute;	
	z-index: 5;
	padding: 5px;	
} 
.main-menu > ul > li:hover > ul {
	display: block;
} 
.main-menu > ul > li ul > li > ul {
	display: none;
	background: #15BCF0;
	position: absolute;	
	z-index: 5;
	padding: 5px;	
	margin-left:-13px;
}
.main-menu > ul > li ul > li:hover > ul {
	display: block;
	 top: 0px;
    left: 173px;
}

.main-menu > ul > li > ul > ul {
	/*display: table-cell;*/
}
.main-menu > ul > li ul + ul {
	/*padding-left: 20px;*/
}
.main-menu > ul > li ul > li > a , .responsive-menu .main-navigation li a{	
	padding: 8px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap; 
}
.main-menu > ul > li ul > li > a{min-width: 160px;}
.main-menu > ul > li ul > li > a:hover  , .responsive-menu .main-navigation li a:hover  {
	color:#333;
	background-color:#fff;
}
.main-menu > ul > li ul > li > a.activSub {	
	background-image:url(../image/megnor/cat_arrow_hover.png) ;
	background-repeat:no-repeat;
	background-position: right center;
}
.main-menu > ul > li > ul > ul > li > a {
	color: #FFFFFF;
} 

/*Megamenu Start*/

#menu ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#menu > ul > li{
	float: left;
	position: relative;
    z-index: 9;
}
#res-menu {display: none;}
#menu .categoryinner > ul{float:left; padding-left:20px;}
#menu > ul > li > div{
    left: 0;
    min-width: 625px;
    padding: 30px;
    z-index: 12345;
  	display: none;
    position: absolute;
    text-align: left;
    top: 56px;
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-top: 4px solid #ea4848;
}
#menu .categoryinner > ul:first-child{padding-left:0;}
#menu > ul > li.hiden_menu div {
    min-width: 180px;
}
#menu > ul > li:hover > div{display:block;}
#menu .categoryinner ul > ul{float:left;}
#menu ul {
    float: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
	display:inline-block;
}
.main-navigation ul:last-child .categorycolumn{margin-right:0px; border-right:medium none; padding-right:0;}
.categorycolumn {
    float: left;
    margin-bottom: 0;
    margin-right: 10px;
    vertical-align: top;
	padding-right:10px;
	border-right:1px solid #3f3f3f;
	}
a.submenu1, .level0 .level0 a {
    display: block;
    position: relative;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 12px;
	padding:0px;
    text-transform: uppercase;
	text-align:left;
}
a:hover.submenu1{color:#fff;}
#menu .cate_inner_bg > ul > li a {
    padding: 5px 0 5px 0px;
   	color: #a1a1a1;
    font-size: 14px;
    font-weight: 400;
	display:block;
	text-align:left;
	text-transform:capitalize;
}
#menu .cate_inner_bg > ul > li a:hover{
	background: none;
}
#menu > ul > li ul > li:hover > a {
	color:#fff;
}
.categorycolumn ul {
    float: left;
}
.cate_inner_bg ul {
    padding-top: 7px !important;
}
.categoryinner ul {
    padding: 0;
}
.cate_inner_bg li {
    padding: 0 ;
}
#menu > ul > li ul > li ul > li{
	padding-right:0px !important;
	}
#menu > ul > li ul > li ul > li:hover{
	}
#menu > ul > li ul > li > a {
    font-weight: 400;
	color: #a27c66;
    line-height: 18px;
    padding: 4px 6px;
	text-decoration:none;
    display: inline-block;
    white-space: nowrap;
}

.submenu2 {
    border-bottom: 0 none;
    font-size: 11px;
    font-weight: 400;
    margin-left: 0;
    text-transform: uppercase;
}
#menu .hiden_menu .categoryinner > ul {
    display: none;
}
/*Megamenu End*/

/*Product Tab*/

.tabfeatured_default_width{ width:185px;}
.tabbestseller_default_width{ width:250px;}
.tablatest_default_width{ width:250px;}
.tabspecial_default_width{ width:250px;}


.hometab.container{padding:0; margin:0px auto; top:auto;} 

.htabs {
	height: 40px;
	line-height: 16px;
	text-align:center;
}
.etabs {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.htabs .etabs li {
    display: inline-block;
    float: left;
    line-height: 17px;
    list-style: none outside none;
    position: relative;
    text-align: center;
}
.htabs a {
    color: #313131;
    display: block;
    float: left;
    font-size: 15px;
    margin-right: 3px;
    padding: 8px 12px;
    text-align: center;
	text-transform:uppercase;
    font-family: "Roboto";
    font-weight: normal;
    text-decoration: none;
}
.htabs .tab:last-child > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.htabs a.selected, .htabs a:hover, .htabs .tab:last-child > a:hover, .htabs .tab:last-child > a.selected{
	background: #ea4848;
	color:#fff;
}

.hometab .tab-content {
	position:relative;
	padding: 10px 0;
	overflow: visible;
	margin-bottom:0px;
	background:none;
	margin-top:0;
}
.tab-content .tab {
    display: none;
}

.hometab .customNavigation a.prev {color: #000000;right: 18px;}
.hometab .customNavigation a { top: -48px;}
.hometab .customNavigation a.next { color:#000000; right: 0;}

/*CMS*/

.subbanner_top_outer {
    position: relative;
	background: #fff none repeat scroll 0 0;
    margin: 0 0 25px 0;
}
.subbanner_top.container {
    overflow: hidden;
	top:auto;
}
.subbanner_top .banner {
    float: left;
    width: 33.3333%;
}
.banner2 .banner_inner, .banner1 .banner_inner, .banner3 .banner_inner {
    text-align: center;
}
.banner1 .banner_inner, .banner2 .banner_inner {
    border-right: 1px solid #e6e4dc;
}
.banner_inner {
    padding: 12px 0;
}
.subbanner_top .img {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 55px;
}
.subbanner_top .banner1 .img {
    background: transparent url(../image/megnor/cms-icon.png) no-repeat scroll 0 8px;
}
.banner1 .banner_inner:hover .img {
    background: transparent url(../image/megnor/cms-icon.png) no-repeat scroll 0 -60px;
}
.subbanner_top .data {
    display: inline-block;
    vertical-align: middle;
}
.subbanner_top .data .h1 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: left;
    text-transform: uppercase;
	margin-bottom:0px;
}
.subbanner_top .data .h2 {
    color: #555;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
	margin-bottom:0;
}
.subbanner_top .data .h2 {
    color: #000;
    text-align: left;
}
.subbanner_top .banner2 .img {
    background: transparent url(../image/megnor/cms-icon.png) no-repeat scroll 0 -128px;
}
.banner2 .banner_inner:hover .img {
    background: transparent url(../image/megnor/cms-icon.png) no-repeat scroll 0 -195px;
}
.subbanner_top .banner3 .img {
    background: transparent url(../image/megnor/cms-icon.png) no-repeat scroll 0 -266px;
}
.banner3 .banner_inner:hover .img {
    background: transparent url(../image/megnor/cms-icon.png) no-repeat scroll 0 -334px;
}

.staticbanner_outer {
    margin-bottom: 70px;
    overflow: hidden;
    width: 100%;
}
.staticbanner1 {
    width: 21.9166%;
}
.staticbanner1, .staticbanner2, .staticbanner3, .staticbanner4 {
    float: left;
    overflow: hidden;
}
.staticbanner1 .staticbanner1_inner::before, .staticbanner2 .staticbanner2_inner::before, .staticbanner3 .staticbanner3_inner1::before, .staticbanner4 .staticbanner4_inner::before, .staticbanner3 .staticbanner3_inner2::before {
    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 75%) repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-khtml-opacity: 0;
    position: absolute;
    top: 0;
    transform: translate3d(0px, 50%, 0px);
	-webkit-transform: translate3d(0px, 50%, 0px);
	-moz-transform: translate3d(0px, 50%, 0px);
	-ms-transform:translate3d(0px, 50%, 0px);
	-o-transform: translate3d(0px, 50%, 0px);
    -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	-moz-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	-ms-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
	-o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    width: 100%;
}
.staticbanner1_inner, .staticbanner2_inner, .staticbanner3_inner1, .staticbanner4_inner, .staticbanner3_inner2 {
    position: relative;
}
.staticbanner1_inner, .staticbanner2_inner, .staticbanner3_inner {
    margin-right: 15px;
    overflow: hidden;
}
.staticbanner_outer img {
    margin-left: -10px;
}
.staticbanner2 {
    width: 29.3333%;
}
.staticbanner3 {
    width: 28.75%;
}
.staticbanner4 {
    width: 20%;
}
.staticbanner1:hover .staticbanner1_inner::before, .staticbanner2:hover .staticbanner2_inner::before, .staticbanner3 .staticbanner3_inner1:hover::before, .staticbanner4:hover .staticbanner4_inner::before, .staticbanner3 .staticbanner3_inner2:hover::before {
    opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-khtml-opacity: 1;
    transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	-ms-transform:translate3d(0px, 0px, 0px);
	-o-transform: translate3d(0px, 0px, 0px);
    transition: opacity 0.35s ease 0.6s, transform 0.35s ease 0.6s;
	-webkit-transition: opacity 0.35s ease 0.6s, transform 0.35s ease 0.6s;
	-moz-transition: opacity 0.35s ease 0.6s, transform 0.35s ease 0.6s;
	-ms-transition: opacity 0.35s ease 0.6s, transform 0.35s ease 0.6s;
	-o-transition: opacity 0.35s ease 0.6s, transform 0.35s ease 0.6s;
}
.staticbanner4_inner:hover img, .staticbanner1_inner:hover img, .staticbanner2_inner:hover img, .staticbanner3_inner1:hover img, .staticbanner3_inner2:hover img {
    animation: 0.6s ease 0s normal none 1 running ministorm;
	-webkit-animation: 0.6s ease 0s normal none 1 running ministorm;
	-moz-animation: 0.6s ease 0s normal none 1 running ministorm;
	-o-animation: 0.6s ease 0s normal none 1 running ministorm;
	
}
.staticbanner3_inner1 {
    margin-bottom: 15px;
}
.module_title, .box.featured .box-heading, .box.bestseller .box-heading, .box.special .box-heading, .box.latest .box-heading{
	color: #191919;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 39px;
    text-align: center;
    text-transform: uppercase;
}
.parallex {
    background-image: url(../image/megnor/px.jpg) ;
    height: 368px;
}
.parrellex_content {
    padding-top: 171px;
}
.parallex_content_inner {
    display: inline-block;
    letter-spacing: 1.6px;
    margin-left: 35px;
    text-align: center;
}
.parallex_inner.container{top:auto;}
.parallex1 {
    margin-bottom: 15px;
}
.parallex1_1 {
    color: #fff;
    font-size: 52px;
    font-weight: bold;
    line-height: 60px;
    text-transform: uppercase;
}
.p1_inner {
    margin-right: 0px;
}
.parallex1_2 {
    margin-left: 14px;
}
.parallex1_2 {
    color: #191919;
    font-size: 52px;
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
}
.parallex_bottom {
    background: #da5550 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    letter-spacing: 0.8px;
    margin-top: 10px;
    padding: 10px 45px 10px 55px;
    text-transform: uppercase;
}
.testimonials-container{
	overflow:hidden;
    margin-top: 63px;
}
.testimonial_inner{
 	margin-bottom: 71px;
    margin-right: 0px;
}
#testimonial .cms-box-heading{
	font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
	color:#191919;
	margin-bottom: 62px;
    text-align: center;
}
#testimonial .slider-wrapper .product-block-image{margin: 0 17px;}
#content #testimonial-carousel .slider-item .product-block{margin:0;}
.testi-image, .product-block .image-block {
    position: relative;
}
#testimonial .image-block > img {
    max-width: 100%;
}
.post-date {
    background-color: #ea4848;
    height: 80px;
    left: 0;
    min-width: 31px;
    padding: 12px;
    position: absolute;
    text-align: center;
    top: 0;
}
.post-date .date {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}
.post-date .month {
    color: #ffffff;
    display: block;
    font-size: 12px;
}
#testimonial .testi-name {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 27px 0 18px;
    text-transform: uppercase;
}
#testimonial .box-content > p > a {
    clear: both;
    color: #ea4848;
    float: left;
    width: 100%;
	cursor:pointer;
}
#testimonial .box-content > p {
    color: #555;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-transform: capitalize;
}

#testimonial .slider-pagination {
    margin-top: 45px;
    text-align: center;
}
#testimonial .slider-page, #testimonial2 .slider-page {
    display: inline-block;
    height: 14px;
    margin: 0 5px;
    width: 14px;
	background:url(../image/megnor/nav.png) no-repeat scroll -13px -27px transparent;
	border:1px solid #999;
}
#testimonial .slider-page.active, #testimonial .slider-page:hover, #testimonial2 .slider-page.active, #testimonial2 .slider-page:hover{
	border-color:#000; 
	background-position:0px -27px; 
	transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
}
#testimonial .customNavigation{display:none;}
.post-image-hover {
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	-khtml-transition: all 0.2s ease-out 0s;
	-ms-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
    width: 100%;
}
.testi-image .zoom {
    display: inline-block;
    opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	-khtml-opacity: 0;
    padding: 10px 12px;
    transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-khtml-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
    z-index: 10;
	border-radius:50%;
	-webkit-border-radius: 50%;
	-ktml-border-radius: 50%;
	-moz-border-radius: 50%;
	border:2px solid #fff;
	color:#fff;
	margin-right:10px;
}
.testi-image .zoom:hover, .testi-image .readmore_link:hover{border-color:#ea4848; color:#ea4848;}
#testimonial-carousel .testi-image:hover .zoom, #testimonial-carousel .testi-image:hover .readmore_link{
	opacity:1; 
	-moz-opacity: 1;
	-webkit-opacity: 1;
	-khtml-opacity: 1;
	transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease 0s;
	-khtml-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}
.testi-image .readmore_link {
    display: inline-block;
    opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	-khtml-opacity: 0;
    padding: 10px 12px;
    transition: all 0.9s ease 0s;
	-webkit-transition: all 0.9s ease 0s;
	-khtml-transition: all 0.9s ease 0s;
	-ms-transition: all 0.9s ease 0s;
	-o-transition: all 0.9s ease 0s;
    z-index: 10;
	border-radius:50%;
	-webkit-border-radius: 50%;
	-ktml-border-radius: 50%;
	-moz-border-radius: 50%;
	border:2px solid #fff;
	color:#fff;
}

#testimonial-carousel .testi-image:hover .post-image-hover{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    transition: all 0.2s ease-out 0s;
	-webkit-transition: all 0.2s ease-out 0s;
	-khtml-transition: all 0.2s ease-out 0s;
	-ms-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s;
}
.product-block .post_hover {
    left: 0;
    margin: 0 36%;
    position: absolute;
    right: 0;
    top: 40%;
    width: 102px;
}
#testimonial2 .cms-box-heading {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
	color: #fff;
    margin-bottom: 45px;
    padding-top: 75px;
}
.testimonial2_inner{margin:0 auto; width:820px;}
#testimonial2 .slider-item{
    margin-bottom: 3px;
    overflow: visible;
	position:relative;
}
#testimonial2 .description {
    border-left: 1px solid #e3e3e3;
    color: #fff;
    float: right;
    font-family: "Roboto";
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
    margin-left: 2%;
    padding: 10px 0 10px 4%;
    text-align: left;
    width: 73%;
	font-size:15px;
}
#testimonial2 .testi-detail {
    float: left;
    text-align: center;
    width: 25%;
	padding:12px 0;
}
.testimonial2-container {
    margin-top: 30px;
}

#testimonial2 .testi_image img{border:2px solid #fff;}
#testimonial2 .testi_image {
    display: inline-block;
    height: 64px;
    vertical-align: middle;
    width: 64px;
	float:left;
}

#testimonial2 .testi_content {
    display: inline-block;
    margin-left: 15px;
    text-align: left;
	color:#fff;
}

#testimonial2 .testi_content .testi-name {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
#testimonial2 .slider-pagination {
    position: relative;
    text-align: center;
	margin-top:35px;
}
.content_product_block {
    margin: 25px 0 20px;
	float:left;
}
#custom_tab.product-tabs {
    overflow: hidden;
}
#custom_tab > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#custom_tab li {
    float: left;
    margin-bottom:-1px;
	margin-left:0;
	margin-right:3px;
	padding:0;
	border:1px solid #e8e8e8;
	background:#fff none repeat scroll 0 0
}
#custom_tab.product-tabs ul li:first-child a.selected {
}
#custom_tab.product-tabs a.selected {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #000;
}
#custom_tab.product-tabs a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #999;
    float: left;
	font-size:14px;
    padding: 10px 16px;
    text-transform: uppercase;
}
#custom_tab.product-tabs a:hover {
    color: #000;
	background: #f5f5f5 none repeat scroll 0 0;
}
.tab_product {
    border: 1px solid #e8e8e8;
    display: block;
    line-height: 22px;
    margin-top: 0;
    padding: 20px 15px 15px;
    text-align: left;
	color:#999;
}
.size_guide_table {
    border: 1px solid #dddddd;
    width: 100%;
}
.size_guide_table tbody th {
    color: #4d4d4d;
    font-weight: bold;
    padding: 7px 8px;
    vertical-align: middle;
    white-space: nowrap;
}
.size_guide_table tbody th {
    background: #f5f5f5 none repeat scroll 0 0;
}
.size_guide_table tbody td {
    padding: 5px 8px;
}


/*CMS end*/


/* 1-col layout */

#column-left{
	width:23.7%;	
}
#column-right{
	width:23.7%;	
}
.layout-1 #content{
}

/* 2-col layout */

.layout-2.left-col #column-left{
	width:23.7%;
}
.layout-2.right-col #column-right{
	width:23.7%;
}
.layout-2 #content{
	width:76.3%;
}
.layout-2.left-col #content {
	padding-left:30px;
	   	
}
.layout-2.right-col #content {  
	padding-right:30px; 
}

/* 3-col layout */
.layout-3 #column-left{	
	width:23.7%;
}
.layout-3 #column-right{			
	width:23.7%;
}
.layout-3 #content{		
	width:52.6%;
}
/* content */
#content {
	min-height: 600px;
}
.content_breadcum {
    background: #f5f5f5 none repeat scroll 0 0;
    height: 55px;
    margin:0 auto 20px;
    position: relative;
	width:1200px;
}
.common-home .content_breadcum{display:none;}
.common-home .container{top:auto;}
.common-home footer{top:auto;}
.container {
    position: relative;
}
.header-container .container{top:auto;} 

/* footer */
.common-home footer {
	margin-top: 47px;
	background-color: #151515;
	color: #999;
}
footer{margin-top:30px; background-color:#151515; color:#999; position:relative; margin:0 auto; width:1200px;}
footer hr {
	border-top: none;
}
footer a {
	color: #999;
}
#footer .column li a {
    background: none;
    padding: 0px 4px;
	transition:all 1s ease 0s;
	-webkit-transition:all 1s ease 0s;
	-moz-transition:all 1s ease 0s;
	-ms-transition:all 1s ease 0s;
	-o-transition:all 1s ease 0s;
}

#footer .column li a:hover {
    background: #333 none repeat scroll 0 0;
    transition: all 0.7s ease 0s;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
}
#footer .column .social_block li{
	padding:0; 
	transition:none 0s ease 0s ;
	-webkit-transition:none 0s ease 0s ;
	-moz-transition:none 0s ease 0s ;
	-ms-transition:none 0s ease 0s ;
	-o-transition:none 0s ease 0s ;
}
#footer .column .social_block li a:hover {
	color:#ea4848 ;
	transition:none 0s ease 0s ;
	-webkit-transition:none 0s ease 0s ;
	-moz-transition:none 0s ease 0s ;
	-ms-transition:none 0s ease 0s ;
	-o-transition:none 0s ease 0s ;
	background:none;
}

footer a:hover {
	color: #fff;
}
footer h5 {
	color: #fff;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
}
.content_footer_top {
    height: 142px;
	background:#2c2c2c none repeat scroll 0 0;
}
.content_footer_top .home-about-me.container {
    padding: 49px 35px 0;
	top:auto;
}
.footer-top .footer_title1{
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
	float:left;
}
.footer_title2 {
    font-weight: 700;
    margin: 0 8px;
	color:#fff;
}
.footer-top .aboutme-read-more{float:right; margin-top:13px; padding-bottom:20px;}

.footer-top .aboutme-read-more > a{
	background: #ea4848 none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 15px;
    text-transform: uppercase;
}
.footer-top .aboutme-read-more > a:hover{background-color:#ff4848 ;}
.footer_subtext{
	color: #c3c3c2;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 22px;
	text-transform:capitalize;
	margin-top:5px;
}
#footer.container {
    padding: 60px 0px 52px;
	position:relative;
	top:auto;
}
footer .row{margin:0;}
footer a:hover{color:#fff;}
.col-sm-3.column .list-unstyled {
    margin-bottom: 0;
}
#footer #footer_left_block{
	padding-right: 26px;
    text-align: center;
    width: 350px;
	float: left;
    margin-left: 30px;
    margin-right: 24px;
	border-right: 1px solid #2d2d2d;
}
#footer_left_block > h5{
	background: transparent url(../image/megnor/location.png) no-repeat scroll 0px 0px;
    border-bottom: medium none;
    display: inline-block;
    font-size: 0;
    height: 35px;
    padding-bottom: 0;
    width: 35px;
	margin-top:0;
	margin-bottom:25px;
}
#footer_left_block > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#footer_left_block li{
	padding:2px 0;
	text-align:center;
}
#footer li{padding:2px 0; line-height:22px;}
#footer_left_block .social_block h5{display:none;}
#footer #footer_left_block .social_block {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
#footer_left_block .social_block ul li {
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 0;
    margin: 10px 0 0;
    padding: 0;
    vertical-align: middle;
    width: 25px;
}
#footer .col-sm-3.column {
    width: 210px;
	padding:0;
	margin-left:30px;
	margin-right:24px;
	float:left;
	position:relative;
}
.footer_bottom {
    position: relative;
	overflow:hidden;
}
.footer_right {
    float: right;
	margin-top:22px;
	margin-right:35px;
}
.payment_block {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.footer_right .payment_block .visa > a{
	background:url(../image/megnor/visa.png) no-repeat scroll 0px 0px transparent;
	display:block;
	padding:15px 21px;
}
.footer_right .payment_block .mastro > a{
	background:url(../image/megnor/maestro.png) no-repeat scroll 0px 0px transparent;
	display:block;
	padding:15px 21px;
}
.footer_right .payment_block .paypal > a{
	background:url(../image/megnor/paypal.png) no-repeat scroll 0px 0px transparent;
	display:block;
	padding:15px 21px;
}
.footer_right .payment_block .mastercard > a{
	background:url(../image/megnor/mastercard.png) no-repeat scroll 0px 0px transparent;
	display:block;
	padding:15px 21px;
}
.footer_right .payment_block li{
    display: inline-block;
    height: 30px;
    margin-right: 13px;
    width: 41px;
}
.footer_right .payment_block li:last-child{margin-right:0px;}
.content_footer_bottom{
	background: #090909 none repeat scroll 0 0;
    clear: both;
    height: 67px;
    overflow: hidden;
    padding: 0;
}
.footer_bottom_inner.container {
    padding: 0;
	top:auto;
}
#footer > p {
    bottom: -53px;
    position: absolute;
	z-index:9;
	left:35px;
}

@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-khtml-border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}


@media (max-width: 979px) {
#footer .column ul {
    display: none;
}
#footer .column {
    width: 100%;
}
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {}

.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
	display:inline-block;
	width:100%;
}
.btn {
	padding: 6px 12px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	-moz-border-radius:4px; 	
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover, .dropdown-menu.myaccount-menu, #currency .dropdown-menu .btn-link{
	font-size: 14px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
  	color: #fff;
    background: #428bca;
    border:1px solid #357ebd;
}
.btn-primary {
	color: #fff;
    background-color: #428bca;
    border:1px solid #357ebd;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	color: #fff;
    background-color: #3276b1;
    border:1px solid #285e8e;
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;	
	background: transparent;			
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	/*box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);*/
}
.btn-success {
	color: #ffffff;
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	/*box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);*/
}
.btn-info {
	color: #ffffff;
	background-color: transparent;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: transparent;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0,0,0,0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;	
	background: #363636;
	border:none;		
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
@media (max-width: 767px) { 

 }

/* list group */

.box .filterbox { 
    border:medium none;
}
.list-group a {
	color: #191919;
	padding: 4px 0px;
	background: none repeat scroll 0 0 transparent;
	margin-bottom:0px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
}
.filterbox .checkbox {
    margin: 0;
    padding: 4px 0;
}
.filterbox .checkbox, .filterbox label {
    display: inline-block;
}
.list-group-item-sub {
    margin-bottom: 10px;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
	position:relative;
	overflow:hidden;
}
.product-thumb .image a {
	display: block;
	margin:0px;
}
.product-thumb .image a:hover {
}
.product-block .caption a{
	color: #555;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
	height:auto;
	vertical-align:top;
}
.product-layout.product-grid.col-lg-4, .product-layout.product-list {
    padding: 0;
	position:relative;
	overflow: hidden;
	display:inline-block;
	backface-visibility:hidden;
}
.hometab .product-thumb .image img {}
.product-grid .product-thumb .image {
	/*float: none;*/
}
.image .action {
    bottom: -50px;
    display: block;
    position: absolute;
    transition: all 600ms ease 0s;
	-webkit-transition: all 600ms ease 0s;
	-moz-transition: all 600ms ease 0s;
	-ms-transition: all 600ms ease 0s;
	-o-transition: all 600ms ease 0s;
    width: 100%;
}
.product-block:hover .image .action {
    bottom: 7px;
}
.image .action .action_inner {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    margin-left: 5px;
    margin-right: 5px;
	text-align:center;
}
.action_inner .button-group{
    margin: 0;
    padding: 5px 0;
	text-align:center;
}
.product-block .image .action .button-group button {
    border: medium none;
    display: inline-block;
    font-size: 0;
    height: 32px;
    vertical-align: middle;
    width: 35px;
	margin:0 15px;
	float:none;
}
.product-block .image .action .button-group .compare_button{
	background: transparent url(../image/megnor/icons.png) no-repeat scroll 0px -130px;
}
.product-block .image .action .button-group .compare_button:hover{background-position:0px -166px;}
.product-block .image .action .button-group .cart_button {
    background: transparent url(../image/megnor/icons.png) no-repeat scroll 0px -202px;
}
.product-block .image .action .button-group .cart_button:hover{background-position:0px -237px;}
.product-block .image .action .button-group .wishlist_button{
    background: transparent url(../image/megnor/icons.png) no-repeat scroll 0px -60px;
}
.product-block .image .action .button-group .wishlist_button:hover{background-position:0px -95px;}
.product-grid .rating_list, .product-grid .addtolinks_list{display:none;}
.featured .customNavigation a.next, .bestseller .customNavigation a.next, .special .customNavigation a.next, .latest .customNavigation a.next {
    background: transparent url("../image/megnor/sprite.png") no-repeat scroll -31px -31px;
    height: 32px;
    right: 0;
    top: 175px;
    transition: none 0s ease 0s ;
    width: 32px;
    z-index: 1;
}
.featured .customNavigation a.next:hover, .bestseller .customNavigation a.next:hover, .special .customNavigation a.next:hover, .latest .customNavigation a.next:hover {
	background: transparent url("../image/megnor/sprite.png") no-repeat scroll -31px 1px;
    transition: none 0s ease 0s ;
}
.featured .customNavigation a.prev, .bestseller .customNavigation a.prev, .special .customNavigation a.prev, .latest .customNavigation a.prev {
    background: transparent url("../image/megnor/sprite.png") no-repeat scroll 0 -31px;
    height: 32px;
    left: 0;
    top: 175px;
    transition: none 0s ease 0s ;
    width: 32px;
    z-index: 1;
}
.featured .customNavigation a.prev:hover, .bestseller .customNavigation a.prev:hover, .special .customNavigation a.prev:hover, .latest .customNavigation a.prev:hover {
	 background: transparent url("../image/megnor/sprite.png") no-repeat scroll 0 1px;
    transition: none 0s ease 0s ;
}
.featured, .bestseller, .special, .latest{width:1200px; margin:51px auto 0; position:relative;}

.featured .button_cart, .bestseller .button_cart, .special .button_cart, .latest .button_cart{display:none;}
#column-left .featured .button_cart, #column-right .featured .button_cart, #column-left .bestseller .button_cart, #column-right .bestseller .button_cart, #column-left .latest .button_cart, #column-right .latest .button_cart, #column-left .special .button_cart, #column-right .special .button_cart{display:block;}

#column-left .featured, #column-right .featured, #column-left .bestseller, #column-right .bestseller, #column-left .latest, #column-right .latest, #column-left .special, #column-right .special {
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    width: auto;
}

/*product-list*/

.product-list .product-block.product-thumb{padding:10px; margin-bottom:30px; border:1px solid #ededed;}
.product-list .product-block-inner{padding:0;} 
.product-list .product-thumb .image > a{margin:0;}
.product-list .image .action{display:none;}
.product-list .rating{display:none;}
.product-list .product-thumb .caption {
    margin-left: 305px;
    padding: 0 15px 0 0;
    text-align: left;
}
.product-list .product-block h4 {
    text-align: left;
}
.product-list .product-block .caption a{color:#203548;}
.product-list .product-block .caption a:hover{color:#9d9d9d;}
.rating_list{margin:10px 0 20px;}
.product-list .desc{
	line-height: 1.6;
    margin: 10px 0 20px;
    padding: 0;
}
.product-list .price {margin: 3px 0 5px;}
.addtolinks_list{margin-top:20px;}
#product #button-cart{font-size:15px; text-transform:uppercase;}
.product-list .addtolinks_list .cart_button, #product #button-cart {
    padding: 9px 12px 9px 42px;
    width: auto;
	background:url(../image/megnor/icons.png) no-repeat scroll 10px -199px transparent;
	border:1px solid #000;
	color:#000;
	font-weight:600;
}
.product-list .addtolinks_list .cart_button:hover, #product #button-cart:hover{
	background:url(../image/megnor/icons.png) no-repeat scroll 10px -234px transparent;
	border:1px solid #ea4848;
	color:#ea4848;
}
.product-list .addtolinks_list .wishlist_button, #product .btn.wishlist{
	padding:10px;
	border:1px solid #000;
	width:38px;
	height:38px;
	background:url(../image/megnor/icons.png) no-repeat scroll 7px -57px transparent;
	margin:0 5px;
}
.product-list .addtolinks_list .wishlist_button:hover, #product .btn.wishlist:hover{
	background:url(../image/megnor/icons.png) no-repeat scroll 7px -92px transparent;
	border:1px solid #ea4848;
	color:#ea4848;
}
.product-list .addtolinks_list .compare_button, #product .btn.compare{
	padding:10px;
	border:1px solid #000;
	width:38px;
	height:38px;
	background:url(../image/megnor/icons.png) no-repeat scroll 7px -127px transparent;
}
.product-list .addtolinks_list .compare_button:hover, #product .btn.compare:hover{
	background:url(../image/megnor/icons.png) no-repeat scroll 7px -163px transparent;
	border:1px solid #ea4848;
	color:#ea4848;
}
.col-sm-10.category_description{line-height:22px;}
#column-left #banner0.single-banner.container {
    top: auto;
    width: auto;
	margin-bottom:55px;
}
.form-group.qty .control-label {
    float: left;
    margin: 9px 10px 0 0;
}
#input-quantity {
    float: left;
    margin-right: 15px;
    width: auto;
	height:38px;
}
.col-sm-12.product_tab{margin-top:20px; clear:both;}


@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0px;
	margin-right:25px;
}
}
.product-thumb h4 {
	font-weight: bold;
	text-align:center;
	margin-top:0;
	margin-bottom:7px;
}
.product-thumb .caption {
	padding: 0 20px;
	text-align:center;
	margin:16px 0 0;
}

@media (max-width: 1200px) {
.product-grid .product-thumb .caption {	
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}

.product-thumb .rating {
	padding-bottom: 2px;
}
.rating .fa-stack, .rating_list .fa-stack, #review .fa-stack{
	font-size: 8px;
}
.rating .fa-star, .rating_list .fa-star, #review .fa-star{
	color: #999;
	font-size: 15px;
}
.rating .fa-star + .fa-star, .rating_list .fa-star + .fa-star, .rating-wrapper .fa-star + .fa-star, #review .fa-star + .fa-star{
	color: #ea4848;
}
.product-list .rating .fa-star, .rating-wrapper .fa-star, #review .fa-star, .product-compare .rating .fa-star{
	color: #ddd;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #191919;
	display:inline-block;
	vertical-align:middle;
	font-size:20px;
	font-weight:900;
	text-align:center;
	margin-bottom:7px;
}
.product-thumb .price-new {
	color: #2c2f32;
    font-size: 20px;
    font-weight: 900;
}
.product-thumb .price-old {
	text-decoration: line-through;
	margin-right: 10px;
	color: #2c2f32;
    font-size: 15px;
    font-weight: normal;
    margin-right: 3px;
}
.product-thumb .price-tax {
	color: #999;
    display: inline-block;
    font-size: 12px;
    width: 100%;
	display:none;
}
.product-thumb .button-group {
	overflow: auto;
}

@media (max-width: 768px) {
.product-list .product-thumb .button-group {
	border-left: none;
}
}
.product-thumb .button-group button,#cart .text-right .addtocart,#cart .text-right .checkout {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #eee;
	color: #888;
	padding: 10px 15px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
#cart .text-right .addtocart,#cart .text-right .checkout{width:auto;float:left; background-color:#fff; color:#000; display:inline-block; border:1px solid #000; padding:9px 15px 8px;}
#cart .text-right .addtocart:hover,#cart .text-right .checkout:hover{color:#ea4848; border-color:#ea4848;} 	
#cart .dropdown-menu .img-thumbnail{width:auto; max-width:none;}
.cart-menu .btn-danger {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
}
#cart .text-right .addtocart{margin:0 5px 0 0;}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #ddd;
	
}
.product-thumb .button-group button:hover{
	color: #444;
	background-color: #ddd;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
.product-thumb .button-group button, .product-thumb .button-group button + button {
	width: 33.33%;
}
}
@media (max-width: 767px) {
.product-thumb .button-group button, .product-thumb .button-group button + button {
	width: 33.33%;
}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {	
}
.thumbnails {	
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 0px;
	display: block;
	border: medium none;
}
.image-additional {
}
.thumbnails .image-additional {
	float: left;
}
.product-info .image {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	display:block;
	margin-bottom: 15px;
	text-align: center;
}
.productpage h3 {margin-top:0; font-size:28px; font-weight:600;}
.product-info .zoomContainer{ z-index:9; } /* It need for ie7 */
.product-info .additional-carousel{ position:relative; margin-left:12px; }
.product-info .image-additional {
	clear: both;
	overflow: hidden;
	padding-left: 20px;
    padding-right: 20px;
	width:460px;	
}

.product-block .caption a:hover{color:#9d9d9d;}
#column-left .caption a:hover, #column-left .caption a:hover{color:#555;}
#carousel-0 .customNavigation a {display: none;}
#carousel-0:hover .customNavigation a {display: block;}

.product-info .image-additional img {width:100%;}
.product-info .image-additional a {
	float: none;
	display: block;
}

.product-right .btn-group .wishlist .fa,.product-right .btn-group .compare .fa{margin-right:5px;}

/* Megnor www.templatemela.com Start */

/* box */  
.box {
	margin-bottom:12px;
}
.box .box-heading, #column-left .box.featured  .box-heading, #column-right .box.featured  .box-heading, #column-left .box.bestseller  .box-heading, #column-right .box.bestseller  .box-heading, #column-left .box.special  .box-heading, #column-right .box.special  .box-heading, #column-left .box.latest .box-heading, #column-right .box.latest .box-heading {
	background: transparent none repeat scroll 0 0;
    border-radius: 0;
    color: #000;
    font-size: 17px;
    font-weight: bold;
    padding: 0px;
    text-transform: uppercase;
	text-align:left;
	margin-bottom:0;
}
.box .box-content {
	padding:0 0 10px;
	overflow:hidden;
	position:relative;
}

#content .box .box-heading {
	padding: 10px 10px 10px 10px;
	font-size: 25px;
	font-weight:500;
	color: #191919;
	letter-spacing:1.6px;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:15px;
}
#content .box .box-content {
	background: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	border:none;
	padding:10px 0;
 
}

.box .box-content ul , #content .content ul { 
	padding:0px;
	margin:0px;
	list-style:none;
}
.box .box-content ul li , #content .content ul li {
	line-height:18px;
	padding:5px 0;
	border-bottom:medium none;
}
.box .box-content ul li a , #content .content ul li a{
	color:#191919;
	font-size:14px;
	font-weight:normal;
}
.box .box-content ul li a + a , .box .box-content ul li a + a:hover{ background:none; padding-left:0; }
.box .box-content ul li a:hover , #content .content ul li a:hover{
}

.box .box-content ul ul{
	margin-left:15px;
}
.hometab .box {
    margin-bottom: 2px;
}



/* Product Grid Start */
/*.product-grid-list { }*/
#content .box-product/*,
.product-grid-list ul*/{ 
	list-style-type: none;
	position:relative;
	width: 100%;
	padding:0px;
	margin:0px;
	list-style: none;
	overflow: hidden;
}

/*.product-grid-list ul li,*/
#content .box-product .product-items { 
	margin-bottom: 14px;
	padding: 0;
	margin:0;
	position:relative;
	overflow: hidden;
}

.product-grid li,
#content .box-product .product-items,
#content .product-carousel .slider-item, .hometab .box-product .product-items,
.hometab .product-carousel .slider-item, .featured .box-product .product-items, .bestseller .box-product .product-items, .latest .box-product .product-items, .special .box-product .product-items {
	width:185px;
	float:left;
	display: inline-block;
}
 
.ie7 .product-grid li{ width:192px !important; }
#content .image-additional .slider-item{	
	display: inline-block;
    float: left;
}

#content .image-additional .slider-item .product-block{	
	margin:4px 4px; 
	background:#fff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	clear:both;
	overflow:hidden;
}

#content .image-additional .slider-item .product-block:hover {   box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; }	
.product-block-inner {position: relative; overflow:hidden; padding:18px 0;}

.grid_default_width { width:230px;}
.featured_default_width{ width:250px;}
.module_default_width{ width:200px;}
.latest_default_width{ width:250px;}
.special_default_width{ width:250px;}
.related_default_width{ width:250px;}
.bestseller_default_width{ width:250px;}
.additional_default_width{ width:100px;}
.testimonial_default_width{width:400px;}
.testimonial2_default_width{width:100%;}
.banners-slider-carousel .product-block-inner{text-align:center;}

#content .product-carousel .product-block,
#content .product-grid  .product-block,
#content .box-product .product-block, .hometab .product-carousel .product-block,
.hometab .box-product .product-block, .featured .box-product .product-block, .bestseller .box-product .product-block, .special .box-product .product-block, .latest .box-product .product-block{ 
	margin:5px 12px; 
	background:#fff;
	border-radius: 0px;
	clear:both;
	overflow:hidden;
	border:medium none;
	position:relative;
}

#content .product-carousel .product-block:hover,
#content .product-grid .product-block:hover,
#content .box-product .product-block:hover, .hometab .product-carousel .product-block:hover,
.hometab .box-product .product-block:hover, .featured .box-product .product-block:hover , .bestseller .box-product .product-block:hover , .special .box-product .product-block:hover , .latest .box-product .product-block:hover  {
	overflow:hidden;
	clear:both;
}

.ie7 #content .product-carousel .product-block,
/*.ie7 #content .product-grid-list .product-block,*/
.ie7 #content .box-product .product-block {border:1px solid #ddd;}

.ie7 #content .product-carousel .product-block:hover,
/*.ie7 #content .product-grid-list .product-block:hover,*/
.ie7 #content .box-product .product-block:hover {border:1px solid #ddd;}


.product-grid .product-thumb .desc,.productbox-grid .product-thumb .price-tax,.product-carousel .product-thumb .price-tax{display:none;}
.product-list .product-details{overflow:hidden;}

#content .product-carousel .product-block-inner,
/*#content .product-grid .product-block-inner,*/
#content .box-product .product-block-inner{ padding:0 0; text-align:center; overflow:hidden; position:relative; margin:0;}


.banners-slider-carousel {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
	clear:both;
}

.sale{	
	color: #ea4848 ;
	padding: 5px 10px;    
	text-align: right;
    text-transform: uppercase;	
	position:absolute;
	top:6px;
	left:0px;
	font-size:14px;
	font-weight:bold;
}
	
/* box products for Left Column and Right Column */
#column-left .box-product,
#column-right .box-product {
	width: 100%;
	overflow: hidden;
	padding-top:10px;
}
#column-left .box-product > div,
#column-right .box-product > div  {
	display:block;
	vertical-align: top;
	margin-right:0px;
	margin-bottom: 5px;	
	width:100%;
}

#column-left .box .box-content div.product-items:last-child > div, #column-right .box .box-content div.product-items:last-child > div,
#column-left .box .box-content div.slider-item:last-child > div, #column-right .box .box-content div.slider-item:last-child > div {
    border: 0 none;
}

#column-left .box-product .image,
#column-right .box-product .image {
	display: block;
	margin-bottom: 0px;
	float:left;
	margin-right:10px;
	border:medium none;
}
#column-left .product-items .product-details,
#column-right .product-items .product-details, #column-left .featured .product-items .caption,
#column-right .featured .product-items .caption, #column-left .bestseller .product-items .caption,
#column-right .bestseller .product-items .caption, #column-left .special .product-items .caption,
#column-right .special .product-items .caption, #column-left .latest .product-items .caption,
#column-right .latest .product-items .caption {
	margin-left:85px;
	width:auto; /* specify width as per your requirement */
	
}
#column-left .product-thumb .caption,
#column-right .product-thumb .caption{
	padding:0;
	text-align:left;
	margin:0;
}


#column-left .box-product .product-thumb h4, #column-right .box-product .product-thumb h4 {font-weight:normal; font-size:14px; margin: 0 0 5px; text-align:left;}
#column-left .box-product .name,
#column-right .box-product .name {
	display: block;
}
#column-left .box-product .cart,
#column-right .box-product .cart {
	display: block;
}
#column-left .box-product .cart .button,
#column-right .box-product .cart .button{
	padding:0; 
	background:none;
	box-shadow:none; 
	height:auto;
	font-weight:normal;
	border-radius:0;
	color:#555;
	display:block;
	text-align:left;
}

#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button{font-weight:normal;}

#column-left .product-block-inner, #column-right .product-block-inner{padding:0;}
#column-left .box-product .price,
#column-right .box-product .price{font-size:18px; text-align:left;}

#column-left .box-product .cart .button:hover,
#column-right .box-product .cart .button:hover {text-decoration:underline;}
#column-left .box-product .image img,
#column-right .box-product .image img { width:auto;}

#column-left .box-product .rating,
#column-right .box-product .rating,
#column-left .box-product .name,
#column-right .box-product .name,
#column-left .box-product .price,
#column-right .box-product .price,
#column-left .box-product .cart,
#column-right .box-product .cart {margin-bottom:2px; }

#column-left .box .box-content, #column-right .box .box-content,
#column-left .box .filterbox, #column-right .box .filterbox
{margin-bottom:55px; padding: 18px 0 0 ;}

#column-left .box-product .rating,
#column-right .box-product .rating {
	display: none;
	margin-bottom: 0px;
}
#column-left .product-thumb, #column-right .product-thumb {
	margin: 0 0 10px;
	padding:0px 0;
	border:medium none;
}
#column-left .sale, #column-left .price-tax, #column-left .wishlist , #column-left .compare,
#column-right .sale, #column-right .price-tax, #column-right .wishlist , #column-right .compare {display:none !important;}
#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button, #column-left .featured .product-thumb .button_cart button, #column-right .featured .product-thumb .button_cart button, #column-left .bestseller .product-thumb .button_cart button, #column-right .bestseller .product-thumb .button_cart button, #column-left .special .product-thumb .button_cart button, #column-right .special .product-thumb .button_cart button, #column-left .latest .product-thumb .button_cart button, #column-right .latest .product-thumb .button_cart button {   
	background: none repeat scroll 0 0 transparent;
    padding: 0;
    width: auto;
	line-height: 18px;
	text-transform:capitalize;
	color:#888;
	border:medium none;
}	
#column-left .featured .product-thumb .button_cart button:hover, #column-right .featured .product-thumb .button_cart button:hover, #column-left .bestseller .product-thumb .button_cart button:hover, #column-right .bestseller .product-thumb .button_cart button:hover, #column-left .latest .product-thumb .button_cart button:hover, #column-right .latest .product-thumb .button_cart button:hover, #column-left .special .product-thumb .button_cart button:hover, #column-right .special .product-thumb .button_cart button:hover{color:#444;}
#column-left .action {display: none;}

#column-left .product-thumb .button-group, #column-right .product-thumb .button-group {background:none; border:none; }

.top_button {
	background: url("../image/megnor/top_arrow.png") no-repeat scroll 0 0 transparent;
	height: 30px;
	width: 30px;
	right: 8px;
	bottom: 5px;
	display: none;
	position: fixed;
	z-index: 9999;
	font-size:0;
   	margin:0 10px 10px 0;
}
.col-sm-8.product-left{width:42%;}
.col-sm-4.product-right{width:58%; padding-left:34px;}

#content ul.list-unstyled {  
	border: medium none;
    margin-bottom: 0px;
    overflow: auto;
    /*padding: 10px 0 0;*/
	padding:0 0 15px;
}
#product{margin:10px 0 25px;}
.productpage .description {
    line-height: 23px;
    padding: 10px 0;
	color:#999;
}
.description .description-right > a {
    color: #999;
}
.description .description-right > a:hover{color:#ea4848;}
.productpage .product-option {color: #656565;}
.productpage .special-price, .productpage .product-price{color:#2c2f32; font-size:26px; font-weight:900;}
.productpage .special-price{float:left; margin-bottom:0px;}
.productpage .old-price{margin-left:15px; font-size:20px; color:#a1a1a1;}
.product-description .description-right {
    padding-left: 15px;
}
#content ul.list-unstyled li {
    line-height: 22px;
    padding: 4px 0;
}
.manufacturer-list {
    border: 1px solid #dbdee1;
    margin-bottom: 20px;
    padding: 5px;
}
.manufacturer-heading {
    background: none repeat scroll 0 0 #f8f8f8;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
    padding: 5px 8px;
}
.manufacturer-content {
    padding: 8px;
}
.manufacturer-list ul {
    float: left;
    list-style: outside none none;
    margin: 0 0 10px;
    padding: 0;
    width: 25%;
}

.category_filter .sort .form-control {cursor:pointer;}
.productpage .box {margin-top:32px;}
.tab-content {
	overflow:hidden;
	background: #f8f8f8 none repeat scroll 0 0;
    color: #999;
    margin-top: 0px;
    padding: 25px 30px;
}
.col-sm-4.total_amount { margin-top: 70px;}
.product-tag{margin:5px 0;}
#content .aboutus {
    clear: both;
	margin-bottom:20px;
}
.image1 {
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll 7px -165px;
    float: left;
    height: 60px;
    width: 60px;
}

.image2 {
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll 7px -108px;
    float: left;
    height: 60px;
    width: 60px;
}

.image3 {
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll 7px -52px;
    float: left;
    height: 60px;
    width: 60px;
}
.image4 {
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll 7px 6px;
    float: left;
    height: 60px;
    width: 60px;
}
.aboutus h2{clear:both;font-size:20px;}
.about-content{overflow:hidden; margin-left:60px; line-height:22px;}
.information-information .right{float:right;}

.category_filter #grid-view{background:url(../image/megnor/sprite.png) no-repeat scroll -3px -234px transparent; border:medium none; width:33px; height:33px; padding:2px;}
.category_filter #list-view{background:url(../image/megnor/sprite.png) no-repeat scroll -30px -234px transparent; border:medium none; width:33px; height:33px; padding:2px;}
.category_filter #grid-view:hover,.category_filter #grid-view.active{background-position:-3px -206px;}
.category_filter #list-view:hover,.category_filter #list-view.active{background-position:-30px -206px;}
.category_filter .btn-list-grid{float:left;width:auto;padding:0;}
.compare-total {float: left; margin: 8px 10px 0; font-size:14px; text-transform:uppercase;}
.pagination-right { float: right;margin:0; width: auto;}
.category_filter .sort-by {float: left;margin: 8px 10px 0 0; width: auto;padding:0; text-transform:uppercase;}
.category_filter .show {float: left; margin: 8px 10px 0;padding:0; text-transform:uppercase;}
.category_filter .sort { float: left; width: 150px;padding:0;}
.category_filter .limit {float: right; width: 100px;padding:0;}
.sort-by-wrapper,.show-wrapper{
    float: left;
}
.category_filter .list.active,.category_filter .grid.active{background:#428bca;}
.category_thumb .category_img, .category_thumb .category_description {
    float: left;
    width: 100%;
}
.category_list ul {
    padding: 0;
	display:inline-block;
	margin:0;
}
.refine-search ul{padding:0;}
.refine-search ul li{list-style:none;}
.category_list li a {      
    color: #000;
    display: block;
    padding: 5px 5px;
	border:1px solid #ddd;
	background:#fff;
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	-khtml-border-radius:0px;
}
.category_list li a:hover {
    color: #ea4848;
	border:1px solid #ea4848;
}
.category_list li {
    float: left;
    list-style: outside none none;
    margin: 0 10px 5px 0;
}
.category_filter {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    margin: 0 0 10px;
    padding: 10px 0px;
    width: 100%;
}
.pagination-wrapper{
	border-top: 1px solid #ddd;
    display: inline-block;
    margin: 0 0 10px;
    padding: 10px 0px;
    width: 100%;
}
.pagination-wrapper .page-link {
    float: right;
    padding: 0;
    width: auto;
}
.pagination-wrapper .page-result
 {
    float: left;
    padding: 0;
    width: auto;
	margin: 8px 0 0;
	font-size:14px;
	text-transform:uppercase;
}
.contact-info .left {
    float: left;   
    width: 50%;	
}
.contact-info .right {
    float: right;
    width: 50%;
}
.row.contact-info {
    padding: 0 15px;
}
.information-contact .panel-body{padding:30px;overflow:auto;}
.contact-info{color:#666;}
.contact-info .address-detail strong {
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll -6px -235px transparent;
   	padding: 5px 0 0 35px;
	height:28px;
	margin:10px 0;
	float:left;
	clear:both;
}
.contact-info .address-detail,.contact-info .telephone,.contact-info .fax{float:left;width:100%;}
.contact-info .telephone strong{
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll -5px -314px transparent;
    padding: 5px 0 0 35px;
	margin:10px 0;
	height:28px;
	float:left;
	clear:both;
}
.contact-info .fax strong{
    background: url("../image/megnor/cms-sprite.png") no-repeat scroll -5px -272px transparent;
    padding: 5px 0 0 35px;
	height:28px;
	margin:10px 0;
	float:left;
	clear:both;
}
.contact-info address {
    display: inline-block;
    margin: 0 0 0 36px;
	float:left;
	clear:both;
}
#spinner {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url("../image/megnor/ajax-loader.gif") 50% 50% no-repeat #fff;
}
.main-slider {
    position: relative;
}
.information-sitemap .sitge-map ul{padding:0 0 0 20px;}
.forget-password {margin: 5px 0 0;}
.product-compare .btn-primary{margin:5px 0 5px;}
.productpage .write-review,.productpage .review-count{color: #ccc;
    font-style: italic;
    margin: 0 10px;
    text-transform: uppercase;
}
.productpage .write-review:hover,.productpage .review-count:hover{color:#ea4848;}
.productpage .rating-wrapper{ margin: 10px 0;}
.checkout-cart .hasCustomSelect{width: 95% !important;}

.page-title{
	padding:0 0 10px;
	border-bottom:1px solid #eeeeee;
}
.page-title,.refine-search,.product-title,.product-option{
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;
}
.container h1 {
    color: #000;
    float: left;
    margin: 0;
    position: relative;
    text-align: left;
    font-size: 18px;
    position: absolute;
    text-transform: uppercase;
    z-index:1;
	font-weight:bold;
	padding:0;
	border-bottom:medium none;
	line-height:26px;
	top:-60px;
	left:20px;
}
.breadcrumb a {
    font-size: 14px;
    text-transform: uppercase;
	color:#191919;
}
.copy-right {
    border-top: 1px solid #444;
    padding: 10px 0;
	text-align:center;
}

#bottom-footer li{display:inline; padding:1px 7px 1px 2px; background:url(../image/megnor/pipe.gif) no-repeat scroll right center transparent;}
#bottom-footer li.contact{background:none;}

.account-address .table>tbody>tr>td{vertical-align:middle;}
.account-address .btn-info{margin:2px 0;}

.affiliate-account .btn-primary .list-group-item{padding:0; background:none; color:#000 ;}
.affiliate-account .btn-primary:hover .list-group-item, .affiliate-account .btn-primary .list-group-item:hover{color:#ea4848;}
#content .affiliate-logout { border: medium none; padding: 10px 0;}


.shopping-cart .img-thumbnail{max-width:none;}
#accordion label.col-sm-2.control-label{margin:7px 0 0; padding:0 15px 0 0;}
#accordion #collapse-shipping label.col-sm-2.control-label{padding:0 15px;}
.checkout-checkout #accordion label.col-sm-2.control-label{padding-left:15px;}
.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin-left:5px; font-size:14px;}

.col-sm-3.search_subcategory {width: auto; margin-top:7px;}

#button-search{float:right; margin-bottom:20px;}
.product-search h2{clear:both;}
#module-0-carousel .product-block-inner img{width:100%;}

.hometab .customNavigation a.next {
    background: transparent url("../image/megnor/sprite.png") no-repeat scroll -31px -31px;
    height: 32px;
    right: 0;
    top: 150px;
    transition: none 0s ease 0s ;
	-webkit-transition:none 0s ease 0s ;
	-moz-transition:none 0s ease 0s ;
	-ms-transition:none 0s ease 0s ;
	-o-transition:none 0s ease 0s ;
    width: 32px;
    z-index: 1;
}
#products-related .customNavigation .fa.next{
	background: transparent url(../image/megnor/sprite.png) no-repeat scroll -31px -31px;
    height: 32px;
    opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	-khtml-opacity: 0;
    right: 0px;
    transition: none 0s ease 0s ;
	-webkit-transition: none 0s ease 0s ;
	-moz-transition: none 0s ease 0s ;
	-ms-transition: none 0s ease 0s ;
	-o-transition: none 0s ease 0s ;
    width: 32px;
	top:150px;
	z-index:1;
}
#products-related .customNavigation .fa.next:hover, .hometab .customNavigation a.next:hover{background-position:-31px 1px;}
.hometab .customNavigation a.prev {
    background: transparent url("../image/megnor/sprite.png") no-repeat scroll 0 -31px;
    height: 32px;
    left: 0;
    top: 150px;
    transition: none 0s ease 0s ;
	-webkit-transition:none 0s ease 0s ;
	-moz-transition:none 0s ease 0s ;
	-ms-transition:none 0s ease 0s ;
	-o-transition:none 0s ease 0s ;
    width: 32px;
    z-index: 1;
}
#products-related .customNavigation .fa.prev{
	background: transparent url(../image/megnor/sprite.png) no-repeat scroll 0 -31px;
    height: 32px;
    left: 0px;
    opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	-khtml-opacity: 0;
    transition: none 0s ease 0s ;
	-webkit-transition:none 0s ease 0s ;
	-moz-transition:none 0s ease 0s ;
	-ms-transition:none 0s ease 0s ;
	-o-transition:none 0s ease 0s ;
    width: 32px;
	top:150px;
	z-index:1;
}
#products-related .customNavigation .fa.prev:hover, .hometab .customNavigation a.prev:hover{background-position:0px 1px;}
#products-related:hover .customNavigation .fa.next, #products-related:hover .customNavigation .fa.prev{
	opacity:1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	-khtml-opacity: 1;
}
#product hr {margin-top: 0;}
#column-left #banner0 .img-responsive{max-width:none;}
.product-search #content > p{margin-top:10px;}
.well h2{font-size:15px; font-weight:bold; text-transform:uppercase;}
.site-map {
    border: 1px solid #f0f0f0;
    line-height: 22px;
    margin: 0 !important;
    padding: 15px;
}
.tm_headerlinkmenu{display:none;}
.product_content{padding:0 15px;}

@media only screen and (min-width: 1105px) and (max-width: 1299px) {
	.container-inner{width:1060px;}
	#top, .nav-container, footer, .content_breadcum{width:1010px;}
	.staticbanner_outer img {margin: 0; width: 100%;}
	#testimonial .image-block > img{width:100%;}
	#footer #footer_left_block{width:300px; margin-left:25px;}
	#footer .col-sm-3.column{width:185px; margin-left:10px;}
	.layout-2.left-col #column-left{width:26.2%;}
	.layout-2 #content{width:73.8%;}
	#column-left #banner0 .img-responsive{width:100%;}
	.product-grid .product-thumb .price-old{line-height:10px;}
	.product-info .image-additional{width:395px;}
	#menu > ul > li > div{left:-115px;}
	.footer-top .footer_title1{font-size:20px;}
	.product-thumb .image img{max-width:none; width:100%;}
	.featured, .bestseller, .special, .latest{width:1010px;}
}
.product_content{padding:0 15px; position:relative; overflow:hidden; backface-visibility:hidden;}
.account-reward .col-sm-6.text-right{float:right;}
.shopping-cart .input-group-btn {position: relative; width: auto;}

@media only screen and (min-width: 1024px) and (max-width: 1104px) {
	.container-inner{width:980px;}
	#top, .nav-container, footer, .content_breadcum{width:940px;}
	.staticbanner_outer img {margin: 0; width: 100%;}
	#testimonial .image-block > img{width:100%;}
	#footer #footer_left_block{width:300px; margin-left:20px; padding-right:20px; margin-right:15px;}
	#footer .col-sm-3.column{width:175px; margin-left:10px; margin-right:15px;}
	.layout-2.left-col #column-left{width:26.2%;}
	.layout-2 #content{width:73.8%;}
	#column-left #banner0 .img-responsive{width:100%;}
	.product-grid .product-thumb .price-old{line-height:10px;}
	.product-info .image-additional{width:375px;}
	#menu > ul > li > div{left:-141px;}
	.footer-top .footer_title1{font-size:20px;}
	.contact-info .right{float:left;}
	.contact-info .left{width:48%;}
	#column-left .product-thumb .price-old, #column-right .product-thumb .price-old  {margin-left:0; margin-bottom:5px;}
	#column-left .product-thumb .price-old, #column-right .product-thumb .price-new, #column-right .product-thumb .price-old, #column-left .product-thumb .price-new{float:left;}
	#column-left .fa-shopping-cart:before, #column-right .fa-shopping-cart:before  {display:none;}
	#column-left .hidden-xs, #column-left .hidden-sm, #column-left .hidden-md {display:block !important; text-transform: capitalize; font-weight:normal;   margin-top: -25px;}
	.col-sm-4.total_amount { margin-top: 88px;}
	.subbanner_top .data .h1, .subbanner_top .data .h2{margin-bottom:0px;}
	 #column-left #banner0 .img-responsive{width:100%;}
    .featured, .bestseller, .special, .latest{width:940px;}
	.product-info .additional-carousel{margin-left:0;}
	.product-info .product-image .customNavigation span.next{background-position:-28px -63px !important;}
	.product-info .product-image .customNavigation span.next:hover{background-position:-28px -87px !important;}
	footer{margin-top:8%;}
	.sale{left:10px;}
	.product-grid .sale{left:0;}
	.product-info .product-image .customNavigation span.prev, .product-info .product-image .customNavigation span.next{top:64px !important;}
	.product-block .image .action .button-group button{margin: 0 8px;}
	.product-thumb .image img{max-width:none; width:100%;}
}
@media only screen and (min-width: 980px) and (max-width: 1023px) {
	.container-inner{width:950px;}
	#top, .nav-container, footer, .content_breadcum{width:920px;}
	#menu.main-menu{display:none;}
	#res-menu{display:block;}
	.responsive-menu, .main-menu{text-align:left;}
	.sub_inner, .inner1 img, .inner2 img, #column-left #banner0 .img-responsive{width:100%;}
	#footer #footer_left_block {padding-right: 10px; width: 300px; margin:0 10px;}
	#footer .col-sm-3.column { margin:0 10px; width: 175px;}
	.footer-top .footer_title1{font-size:18px;}
	.main-menu > ul > li > a{border-right:medium none;}
	.product-thumb .image img{width:100%;}
	.product-info .image-additional{width:365px;}
	.product-info .additional-carousel{margin-left:0;}
	footer{margin-top:8%;}
	.product-info .product-image .customNavigation span.prev, .product-info .product-image .customNavigation span.next{top:54px !important;}
	.contact-info .right{float:left;}
	.contact-info .left{width:47%;}
	.featured, .bestseller, .special, .latest{width:920px;}
	.product-grid .product-thumb .price-old{line-height:13px;}
	#testimonial .image-block > img, .staticbanner_outer img{width:100%;}
	.staticbanner_outer img{margin:0;}
	.nav-responsive span, .main-menu > ul > li > a{border-right:medium none;}
	.product-thumb .image img{max-width:none; width:100%;}
	#column-left .product-thumb .price-old, #column-right .product-thumb .price-old, #column-left .product-thumb .price-new, #column-right .product-thumb .price-new{float:left;}
	.product-block .image .action .button-group button{margin:0 13px;}
}
@media only screen and (min-width: 768px) and (max-width: 980px){
	.layout-2.left-col #column-left,.layout-2.right-col #column-right{width:26%;}
	.layout-2 #content{width:74%;}
}
@media (max-width: 979px) {
	.container-inner{width:740px;}
	#top, .nav-container, footer, .content_breadcum{width:710px;}
	#menu.main-menu, .subbanner_top_outer{display:none;}
	.staticbanner_outer img{width:100%; margin:0;}
	#res-menu{display:block;}
	#top .container{margin-right:20px;}
	.subbanner_top_outer.container{display:none;}
	.testimonials-container{width:100%; margin-top:50px;}
	.testimonial_inner{margin-right:0; margin-bottom:50px;}
	.testimonial2_inner{margin-left:0; padding:0 20px;}
	#testimonial2 .description{width:68%;}
    .featured, .bestseller, .special, .latest{width:710px;}
	.testimonial2-container{width:100%; margin-top:0px;}
	#testimonial2 .testi_image{display:block; float:none; width:100%}
	#testimonial2 .testi_content{display:block; margin-top:15px; margin-left:0; text-align:center;}
	#testimonial2 .cms-box-heading{padding-top:45px;}
	.content_footer_top .home-about-me.container{padding:35px 20px 0;}
	.sub-banner1.container{padding-bottom:33px;}
	.footer-top .footer_title1{font-size:15px;}
	#column-left .product-thumb .button-group button, #column-right .product-thumb .button-group button{font-size:12px;}
	#footer #footer_left_block{padding:0; margin:0; width:100%; text-align:left; border-right:medium none;}
	#footer .col-sm-3.column{margin:0; width:100%;}
	#footer_left_block > h5{background:none; font-size:20px; color:#fff; font-weight:normal; text-transform:uppercase; width:100%; margin-bottom:5px; height:auto; padding:10px 0 5px;}
	footer h5{margin-bottom:5px; font-size:20px; margin-top:0;}
	#footer.container{padding:45px 15px;}
	#footer > p{left:15px;}
	.footer_right{margin-right:15px;}
	#search:hover input.input-lg, #search .input-lg:focus{width:200px;}
	#footer .row{margin:0}
	#footer_left_block li{text-align:left;}
	#column-left .box-product .image,
	#column-right .box-product .image {margin-right:7px;}
	.col-md-4.btn-list-grid {margin-bottom: 10px;}	
	.pagination-right {
		clear: both;
		float: left;
		margin: 5px 0;   
	}
	.product-compare .table-bordered{
		width:100%;
		float:left;
		overflow:auto;
		display:inline;
	}
	#accordion .form-horizontal .control-label{width:100%;}
	#column-left #banner0 .img-responsive{width:100%;}
	footer{margin-top:10%;}
	.product-list .product-thumb .image{margin-right:0;}
	.product-list .product-thumb .caption{float:left; margin-left:0; padding-top:20px;}
	.container h1{top:-60px;}
	.breadcrumb{top:-56px !important;  text-align:left !important; left:auto; right:20px !important;}
	.product-info .image, .product-info .additional-carousel{margin:0 auto; width:487px;}
	.col-sm-8.product-left, .product-info .image-additional{width:100%;}
	.product-info .product-image .customNavigation span.next{background-position:-28px -63px !important;}
	.product-info .product-image .customNavigation span.next:hover{background-position:-28px -87px !important;}
	.col-sm-4.product-right{width:100%; padding: 30px 15px 0;}
	.contact-info .right{float:left; width:100%; padding-top:20px;}
	.contact-info .left{width:100%;}
	.information-contact .panel-body{padding:0 15px;}
	#column-left .product-thumb .price-old, #column-right .product-thumb .price-old{float:left; margin-right:0; margin-bottom:3px;}
	#column-left .product-thumb .price-new, #column-right .product-thumb .price-new{float:left; font-size:18px;}
	.product-grid .price-old{line-height:14px;}
	.product-block .image .action .button-group button{margin:0 10px;}
	.nav-responsive span, .main-menu > ul > li > a{border-right:medium none;}
	.responsive-menu, .main-menu{text-align:left;}
	.testimonial2_inner{width:100%;}
	#products-related .customNavigation .fa.prev, #products-related .customNavigation .fa.next{opacity:1; -webkit-opacity:1; -moz-opacity:1; -khtml-opacity:1;}
	.hometab .customNavigation a.next, .hometab .customNavigation a.prev{top:140px;} 
	.product-thumb .image img{max-width:none; width:100%;}
	.product-list .product-thumb .image img{width:auto;}
}
@media (max-width: 767px) { 
	.container-inner{width:auto; margin:0 15px;}
	#top, .nav-container, footer, .content_breadcum{width:auto; margin:0 15px;}
	.layout-2 #content,.layout-3 #content{width:100%;}
	.product-info .image-additional {width: 100%;} 
	.product-info .image-additional a {padding: 1px;} 
	.subbanner_top_outer{display:none;}
	.header-container{position:relative; height:260px;}
	.btn-info {margin-bottom:3px;} 
	#top{position:relative; height:70px;}
	.responsive-menu, .main-menu{top:0px; margin:0; border-top:1px solid #e0e0e0; }
	.nav-container{position:relative; top:127px;}
	#cart .dropdown-menu{top:55px;}
	.owl-carousel .owl-buttons div{display:none;}
	.nav-responsive .expandable{margin-top:19px !important;}
	#logo{top:70px;}
	header #logo a{top:0px; position:relative;}
	#top .container{margin-right:0;}
	#top-links{display:none;}
	.col-sm-4.logo{top:70px;}
	.tm_headerlinkmenu{display:block;}
	.header_right{top:15px; margin-right:0px;}
	.headertoggle_img {
    background: transparent url(../image/megnor/sprite.png) no-repeat scroll -23px -156px;
    height: 38px;
    margin-top: 0;
    position: relative;
    width: 38px;
	padding:2px;
	}
	.tm_headerlinks_inner {
    border: 1px solid #ddd;
    margin: 15px 0 0 0px;
}
	.header_links {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    border-top: 4px solid #ea4848;
	border-left:medium none;
	border-right:medium none;
	border-bottom:medium none;
    display: none;
    float: none;
    list-style: outside none none;
    padding:5px 0;
    position: absolute;
    left:0px;
    text-align: left;
    top: 70px;
    width: 130px;
	z-index:999;
}
	.header_links a{color:#fff;}
	.header_links a:hover{color:#fff;}
	.header_links > li{padding:5px 20px;}
	nav .container{padding:0;}
	.nav-responsive span, .main-menu > ul > li > a{border-right:medium none;}
	.col-sm-4.total_amount {margin-top: 20px;}
	.main-slider{top:auto;}
	.checkout-cart .table.table-bordered .input-group-btn {clear: both; margin: 5px 0 0; float: left;}
	.checkout-cart .btn.btn-danger { margin-top: -2px !important;}
	.button_class {clear:both;}
	.show-wrapper{clear:both;margin:10px 0 0;}
	.category_filter .show {float: left; margin: 8px 10px 0 0;}
	.product-compare .table-bordered{float:left;width:100%;overflow:auto;display:inline;}
	.product-info .image, .product-info .additional-carousel { margin: 0 auto; width: 420px;}
	.addthis_toolbox.addthis_default_style{margin: 0px 0 30px;}
	#content .category_list .filterbox{border:1px solid #ddd;margin:10px 0;}
	#content .category_list .filterbox .list-group a{border:none;}
	.checkout-cart .input-group-btn:last-child > .btn, .checkout-cart .input-group-btn:last-child > .btn-group{margin-left:0; margin-right:5px;}
	.owl-carousel.bannercarousel.container.owl-theme{width:auto !important; padding:0 15px;}
	.featured, .bestseller, .special, .latest{width:auto; padding:0 15px;}
	#testimonial .image-block > img{width:100%;}
	.product-block .post_hover{margin:0 auto; top:45%;}
	.content_footer_top .home-about-me.container{padding:25px 15px 0;}
	.footer-top .footer_title1{text-align:left; line-height:25px;}
	.content_footer_top{height:180px;}
	.footer-top .aboutme-read-more{text-align:center; float:left; position:relative; top:20px; clear:both;}
	#footer.container{padding:30px 15px;}
	.parrellex_content{padding-top:90px;}
	.footer_right{padding-right:15px;}
	.hometab.container{margin:35px auto 0;}
	.hometab .tab-content{margin-bottom:0;}
	.parallex{margin-top:45px;}
	.testimonials-container{margin-top:45px;}
	#testimonial .cms-box-heading, .module_title{margin-bottom:35px;}
	.testimonial2_inner{margin-bottom:45px; padding-top:0px;}
	.container, .content_breadcum{top:auto;}
	#content .category_list .filterbox{border:medium none;}
	#products-related .customNavigation .fa.next, #products-related .customNavigation .fa.prev{top:115px;}
	.affiliate-success .breadcrumb{top:-104px !important;}
	.affiliate-success .container h1{top:-57px;}
	.breadcrumb{left:15px;}
	.testimonial2-container{padding:0 20px;}
	#testimonial2 .description{width:100%; padding:0; margin:0; border-left:medium none; text-align:center;}
	#testimonial2 .cms-box-heading{padding-top:20px; margin:20px 0;}
	#testimonial2 .testi-detail{width:100%;}
	#testimonial2 .slider-controls.clickable{bottom:-25px;}
	.footer-top .aboutme-read-more{top:22px;}
	.parallex1_1, .parallex1_2{font-size:30px; line-height:30px;}
	.parallex1_2{margin-left:5px;}
	.parallex_content_inner{margin-left:10px;}
	.staticbanner_outer{margin-top:15px; margin-bottom:40px;}
	.staticbanner1 {margin-bottom: 10px; width: 43.4%;}
	.staticbanner2 { margin-bottom: 10px; width: 56.6%;}
	.staticbanner3 {width: 59%;}
	.staticbanner1_inner, .staticbanner2_inner, .staticbanner3_inner {margin-right: 10px;}
	.staticbanner3_inner1 {margin-bottom: 10px;}
	.staticbanner4 {width: 41%;}
	.staticbanner2_inner {margin: 0;}
	.testimonial_title {margin: 20px 0; padding: 0;}
	.product-block .image .action .button-group button{margin:0 5px;}
	.content_footer_bottom{height:110px;}
	.footer_right{float:none; margin-top:60px; text-align:center; margin-right:0; padding-right:0;}
	#footer > p {bottom: -40px; left: 0; margin: 0 auto; position: absolute; right: 0; text-align:center;}
	.content_breadcum{height:75px; margin-bottom:20px;}
	.container h1{top:-81px; left:30px;}
	.breadcrumb{left:30px; right:auto !important; top:-52px !important;}
	.account-order-info .btn.btn-primary{margin-bottom:0;}
	#testimonial2 .slider-pagination{margin-top:10px;}
	#carousel-0 .customNavigation a{display:block;}
	.product-layout.product-grid.col-lg-4{width:50%;}
	.product-block:hover .image .action, .product-block .image .action{bottom:7px;}
	.owl-carousel .owl-buttons div{display:none;}
	#input-coupon.form-control, #input-voucher.form-control, #input-reward.form-control{margin-left:-3px;}
	.layout-2.left-col #content{padding-left:15px;}
	.product-list .product-thumb .image{float:left;}
	footer{top:auto;}
	#currency .currency-menu, #language .language-menu{top:55px; right:0; left:auto;}
	.product-search .col-sm-3.sort{margin-top:5px;}
}
@media only screen and (max-width: 479px) {
	.product-info .image-additional a{float:none; text-align:center; padding: 1px;}
	.table{	
		float: left;
		margin-bottom: 20px;
		overflow: scroll;
		width: 100%;
	}
	.content_breadcum{height:105px;}
	.container h1{top:-109px; font-size:16px;}
	.breadcrumb a{font-size:12px;}
	.breadcrumb{top:-77px !important;}
	.product-layout.product-grid{width:100% !important;}
	.shopping-cart .input-group .form-control{width:100%;padding:0;text-align:center;}
	.account-wishlist .table-bordered, .account-return .table-bordered{float:left;width:100%;overflow:auto;display:inline;}
	#cart .dropdown-menu table {display: inline-block;}
	.flex-direction-nav a:before {font-size:27px !important;}
	#search:hover input.input-lg, #search .input-lg:focus, #search:hover input.input-lg:focus{width:170px;}
	.parallex_bottom{padding:10px 6px;}
	#testimonial .slider-wrapper .product-block-image{margin:0;}
	#testimonial2 .testi-detail{width:100%; margin-bottom:4%;}
	#testimonial2 .description{width:100%;}
	#testimonial2 .testi_image{display:inline-block; float:none; width:auto;}
	#testimonial2 .testi_content{margin-left:20px; margin-top:0px; display:inline-block; float:none;}
	#cart .dropdown-menu {right: -68px;  width: 260px;}
	#testimonial2 .description{padding:3%; margin-left:0; margin-top:2%; border-left:medium none; font-size:13px;}
	.dropdown-menu.pull-right {width: 100%;}
	.content_footer_top{height:230px;}
	.product-list .product-thumb .caption{padding:0 5px;}
	#cart .dropdown-menu li > div {min-width:100%;}	
	.category_filter .limit {float: left;}
	#content .box .box-heading{font-size:20px;}
	.contact-info .left,.contact-info .right{width:100%;}
	.product-info .image, .product-info .additional-carousel {width: 100%;}
	.nav-tabs > li{width:100%;}	
	.nav-tabs > li > a{margin:0 0 2px;}
	.productpage .write-review, .productpage .review-count { display: inline-block;margin: 5px 0 0;width: 100%;}
	.pagination-wrapper .page-link{float:left;}
	.pagination-wrapper .page-result{float:left;clear:both;}
	.checkout-cart .buttons .pull-right {clear: both;float: left; margin: 10px 0;}
	.bootstrap-datetimepicker-widget.dropdown-menu{width:auto;}
	.checkout-cart #accordion .input-group-btn {float: left; margin: 5px 0 0; width:auto;}
	.product-info .image-additional img{width:auto;}
	.product-list .product-thumb .image img{width:100%;}
	#input-quantity{overflow:hidden; margin-right:0; margin-bottom:15px; float:none;}
	.nav-tabs > li{padding-right:0 !important; margin-right:0 !important; background:none !important; text-align:center;}
	.content_footer_bottom{height:110px;}
	.footer_right{float:none; margin-top:60px; text-align:center;}
	#footer > p {bottom: -40px; left: 0; margin: 0 auto; position: absolute; right: 0; text-align:center;}
	.dropdown.myaccount .myaccount-menu{right:-44px; width:300px;}
	#cart .dropdown-menu{right:0;}
	.etabs{padding:0px; width:100%;}
	#testimonial2 .cms-box-heading{margin:10px 0; padding-top:18px; font-size:18px;}
	.testimonial2-container{padding:0;}
	.nav-tabs > li > a{font-size:15px;}
	.htabs{height:130px;}
	.htabs .etabs li{width:100%;}
	.htabs a{width:100%; float:none; margin-right:0; margin-bottom:3px; background:none;}
	.box .box-content{padding:0;}
	.parallex_content_inner{margin-left:0;}
	.parallex_width{margin:20px 0 25px;}
	.breadcrumb{line-height:22px;}
	.myaccount-menu .lang_crr_block{margin:0 36%;}
	.account-success .container h1{top:-170px;}
	.account-success .breadcrumb{top:-108px !important;}
	.account-voucher .breadcrumb{top:-55px !important;}
	.form_header_search.search-selected{width:90%;}
	.footer-top .footer_title1{text-align:center;}
	.footer-top .aboutme-read-more{float:none; top:30px; text-align:center;}
	#testimonial2 .slider-pagination{margin-top:5px;}
	.tab-content .product-block .image .action .button-group button, #related-carousel .product-block .image .action .button-group button, .featured .product-block .image .action .button-group button, .bestseller .product-block .image .action .button-group button, .latest .product-block .image .action .button-group button, .special .product-block .image .action .button-group button{margin:0 3px;}
	/*.product-grid .product-thumb .image img{width:100%;}*/
	#custom_tab.product-tabs a, #custom_tab li {text-align: center; width: 100%;}	
        #products-related .customNavigation .fa.next, #products-related .customNavigation .fa.prev{top:145px;}
	#input-coupon.form-control, #input-voucher.form-control, #input-reward.form-control{margin-left:0;}
	#testimonial-carousel .slider-item.first_item_tm .product-block-image, #testimonial-carousel .slider-item.last_item_tm .product-block-image, #testimonial-carousel .slider-item .product-block-image{margin:0;}
	.productpage h3{line-height:30px;}
	.product-list .addtolinks_list .wishlist_button, #product .btn.wishlist{margin:0 4px;}
	.featured .customNavigation a.prev, .bestseller .customNavigation a.prev, .special .customNavigation a.prev, .latest .customNavigation a.prev, .featured .customNavigation a.next, .bestseller .customNavigation a.next, .special .customNavigation a.next, .latest .customNavigation a.next{top:125px;}
}
@media only screen and (max-width: 319px){
	.product-info .product-image .customNavigation{ width:196px; margin:0 auto; position: relative; } 
	.product-info .additional-carousel {width:196px; margin:0 auto;}
	.header-logo .img-responsive { width: 100%;}
	.btn-primary {margin-bottom:2px;}
	.compare-total {clear: both; margin: 8px 10px 10px 0;}
	#cart .dropdown-menu { right: 0px;width: 210px;}
	#cart .dropdown-menu{width:210px;}
	#cart .text-right .addtocart{margin:0 0 5px;}
	#cart .text-right .checkout{margin:0;}
	.content_footer_top .home-about-me.container{padding:12px 15px 0;}
	.content_footer_top, .footer-top, .home-about-me.container{height:200px;}
	.product-grid .product-thumb .image img{width:100%;}
}
#accordion .panel-title > a {
    color: inherit;
    display: inline-block;
    width: 100%;	
}
#accordion .panel-title{padding:10px;}
#accordion .panel-heading .fa.fa-caret-down {float: right; margin-top:4px;}
#accordion .col-sm-10 {width: 75%;}
#accordion #collapse-shipping .col-sm-10{width:100%;}
#accordion .form-horizontal .control-label {text-align:left;}
/* Megnor www.templatemela.com End */