#quickview-bg-block {
	display: none; 
	background-color : rgba(0,0,0,0.9); 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;  
	margin: auto; 
	position: fixed; 
	z-index: 9991;
}
.quickview-load-img {  
	display: none; 
	position: fixed; 
	top: 50%; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	text-align: center; 
	z-index: 9999; 
	margin: auto;
}
.a-qv-close {
    position: absolute;
	z-index: 10001;
	width: 30px;
	height: 30px;
	background: #fff;
	color: #434343;
	font-size: 0px;
	text-align: center;
	margin-right: -15px;
	top: 18px;
	right: 18px;
	margin-top: -15px;
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.a-qv-close::before {
    content: "\f2d7";
	font-family: "Ionicons";
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
}
.qv-button-container { 
	position: relative;
}
#quickview-content .alert{
	margin: 20px 0;
}
#quickview-content {
	position: fixed;
    background-color: #fff;
    display: none;
    z-index: 9999;
    padding: 30px;
    width: 1100px;
    height: 550px;
    top: 50%;
    margin-top: -270px;
    left: 50%;
    margin-left: -555px;
    box-shadow: 0 0 2px 2px #666;
    overflow: auto !important;
}
#product2 + div{
	margin-top: 40px;
}
.quickview-container .thumbnails a.thumbnail {
    pointer-events: none;
}
@media(max-width: 1024px){
	#quickview-content{
		width: 90%;
		left: 5%;
	}
	.a-qv-close{
		right: 5%;
	}
}
