.product-info .image-additional img {
      width: auto !important;
 }

.productpage h3 {
     margin-top: 0;
     font-size: 26px;
     font-weight: 600;
     line-height: 1;
}

input[type=radio], input[type=checkbox] {
     margin-top: 1px;
     line-height: normal;
     margin: 0px 0px 0;
     vertical-align: -3px;
}

.content_product_block {
     width: 100%;
}

.breadcrumb {
     top: 20px;
}
.container h1 {
     top: 15px;
}
#content .box .box-heading{
     text-align: left;
}