<table cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#ffffff"><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td></td>
          <td align="right" valign="bottom"><strong>Ngày</strong>: [[|date|]] </td>
        </tr>
        <tr bgcolor="#215194">
          <td colspan="2" height="5"></td>
        </tr>
      </tbody>
    </table></td>
  </tr>
  <tr>
    <td align="left" bgcolor="#ffffff"><table align="center" border="0" cellpadding="0" cellspacing="0" width="579">
          <tbody>
            <tr>
              <td align="center"><h1>LỜI BÌNH</h1></td>
            </tr>
            <tr>
              <td><p>Họ và tên: [[|full_name|]]</p>
                <p>Email: [[|email|]]</p>
<p>Nội dung: [[|content|]]</p>
<p>Đã viết lời bình cho tin <a href="[[|news_href|]]">[[|news_name|]]</a></p>              
</tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      <br>
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" height="70"><table align="center" border="0" cellpadding="0" cellspacing="0" width="570">
      <tbody>
        <tr>
          <td align="center">TẠP CHÍ THƯƠNG GIA &amp; THỊ TRƯỜNG</td>
        </tr>
        <tr>
          <td align="center">Email: info@thuonggiathitruong.vn</td>
        </tr>
        <tr>
          <td align="center">Website: www.thuonggiathitruong.vn</td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        
      </tbody>
    </table></td>
  </tr>
</table>
