<table cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#ffffff"><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td></td>
          <td align="right" valign="bottom"><strong>Ngày</strong>: [[date]] </td>
        </tr>
        <tr bgcolor="#C10003">
          <td colspan="2" height="2"></td>
        </tr>
      </tbody>
    </table></td>
  </tr>
  <tr>
    <td align="left" bgcolor="#ffffff"><table align="center" border="0" cellpadding="0" cellspacing="0" width="579">
          <tbody>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><p>Thông tin liên hệ từ [[full_name]]</p>
                <p>Địa chỉ: [[address]]</p>
                  <p>Email: [[email]]</p>
                  <p>Điện thoại: <strong>[[phone]]</strong>              </p>
              <p>Nội dung: [[content]]</p></tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="579">
          <tbody>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
                  <p>Trân trọng.<br>
              </p></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tbody>
      </table>
      <br>
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" height="70"><table align="center" border="0" cellpadding="0" cellspacing="0" width="570">
      <tbody>
        <tr>
          <td align="center">  </td>
        </tr>
      </tbody>
    </table></td>
  </tr>
</table>
