<table cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#ffffff"><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td></td>
          <td align="right" valign="bottom"><strong>Ngày</strong>: [[date]] </td>
        </tr>
        <tr bgcolor="#C10003">
          <td colspan="2" height="2"></td>
        </tr>
      </tbody>
    </table></td>
  </tr>
  <tr>
    <td align="left" bgcolor="#ffffff"><table align="center" border="0" cellpadding="0" cellspacing="0" width="579">
          <tbody>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><p>Đơn đặt hàng từ khách hàng: [[full_name]]
                </p>
                <p>Email: [[email]]</p>
                <p>Điện thoại: <strong>[[phone]]</strong>              </p>
                <p>Xem chi tiết: <a target="_blank" href="[[href]]"><strong>>></strong></a></p></tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="579">
          <tbody>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><p>Để biết thêm thông tin vui lòng vào phần quản trị liên hệ của http://hangjeans.com</p>
                  <p>Trân trọng.<br>
              </p></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tbody>
      </table>
      <br>
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" height="70"><table align="center" border="0" cellpadding="0" cellspacing="0" width="570">
      <tbody>
        <tr>
          <td align="center"> Copyright(c) - lmanshop.com</td>
        </tr>
      </tbody>
    </table></td>
  </tr>
</table>
