<table cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#ffffff"><table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td></td>
          <td align="right" valign="bottom"><strong>Date</strong>: [[date]] </td>
        </tr>
        <tr bgcolor="#215194">
          <td colspan="2" height="5"></td>
        </tr>
      </tbody>
    </table></td>
  </tr>
  <tr>
    <td align="left" bgcolor="#ffffff"><table align="center" border="0" cellpadding="0" cellspacing="0" width="579">
          <tbody>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><p>Thông tin liên hệ từ [[full_name]]</p>
                <p>Vị trí: [[position]]</p>
                <p>Tên khách sạn: [[hotel_name]]</p>
            <p>Email: [[email]]</p>
                  <p>Mobile: <strong>[[mobile]]</strong></p>
                  <p>Điện thoại: [[phone]]</p>
                  <p>Fax: [[fax]]</p>
                  <p>Địa chỉ: [[address]]</p>
                  <p>Website: [[website]]</p>
                  <p>Quy mô khách sạn: [[level_hotel]]</p>
                  <p>Số phòng: [[room_number]]</p>
                  <p>Các tính năng đăng ký: [[qlks_function]]</p>
              <p>Nội dung: [[content]]</p></tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="579">
          <tbody>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><p>Để biết thêm thông tin vui lòng vào phần quản trị liên hệ của http://quanlykhachsan.net</p>
                  <p>Trân trọng<br>
              </p></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
          </tbody>
      </table>
      <br>
    </td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee" height="70"><table align="center" border="0" cellpadding="0" cellspacing="0" width="570">
      <tbody>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td align="center"> Copyright(c) TCV.,JSC. </td>
        </tr>
      </tbody>
    </table></td>
  </tr>
</table>
