.dynamic-tab-pane-control .tab-pane {
	position:relative;
	display:block;
	/*width:		100%;		 width needed weird IE bug */
	/*margin-right:	-2px;	 to make room for the shadow */
}
.dynamic-tab-pane-control .tab-row .tab {
	height: 20px;
	position: static;
	top: 0;
	display: inline;
	float: left;
	overflow: hidden;
	cursor: pointer;
	margin: 1px 2px 1px 0px;
	padding: 2px 5px 0px 5px;
	border:1px solid  #999999;
	background-color:#EFEFEF;
	font-size:10pt;
	font-weight:bold;	z-index: 1;
	white-space: nowrap;
	text-align: center;
}
.dynamic-tab-pane-control .tab-row .tab.selected {
	height: 20px !important;
	height: 20px;
	position: static;
	top: 0;
	display: inline;
	float: left;
	overflow: hidden;
	cursor: pointer;
	margin: 1px 2px 1px 0px;
	padding: 2px 5px 0px 5px;
	border:1px solid  #999999;
	border-top:2px solid  #FF7900;
	border-bottom:0px;
	background-color:#FFFFFF;
	font-size:10pt;
	font-weight:bold;
	z-index: 1;
	white-space: nowrap;
	text-align: center;
}
.dynamic-tab-pane-control .tab-row .tab a {
	font:	11px Tahoma;
	color: #333;
	text-decoration: none;
	cursor: pointer;
	width:100px;
}
/*hover*/
.dynamic-tab-pane-control .tab-row .tab.hover {
	height: 20px !important;
	height: 20px;
	position: relative;
	top: 0;
	display: inline;
	float: left;
	overflow: hidden;
	cursor: pointer;
	margin: 1px 2px 1px 0px;
	padding: 2px 5px 0px 5px;
	border:1px solid  #999999;
	border-top:2px solid  #FF7900;
	border-bottom:0px;
	background-color:#FFFFFF;
	font-size:10pt;
	font-weight:bold;
	z-index: 1;
	white-space: nowrap;
	text-align: center;
}
.dynamic-tab-pane-control .tab-page {
	border: 1px solid #D5D5D5;
	width: 100%;  /* stupid stupid stupid IE!!! */
	float: left;
}
.dynamic-tab-pane-control .tab-row {
	z-index: 3;
	white-space: nowrap;
}