.slide-bound{
	border-left:1px solid #000000;
}
.scroll-left{
	float:left;
	width:24px;
	cursor:pointer;
}
.slide-scroll{
	float:left;
	overflow:hidden;
	height:50px;
}
.scroll-right{
	float:left;
	width:24px;
	cursor:pointer;
}
.slide-image{
	border:2px solid #000000;
	width:101px;
	height:40px;
}
.slide-image-view-bound{
	margin-bottom:10px;
	width:678px;
	height:267px;
}
.slide-image-view{
	width:678px;
	height:267px;
}