#page-404 {background: #bc0000 url(../images404/bg.png) top left no-repeat;padding: 100px 0px;}
.main-pages-404 {background: #f2f2f2;padding: 20px 0px;box-shadow: 0px 2px 3px #3e3e3e;margin: 0px auto;width: 940px;border-radius: 2px;}
.col-left-404 {width: 412px;float: left;}
.col-right-404 {float: right;width: 482px;background: url(../images404/bg1.png) left center no-repeat;padding: 20px;}
.text-404 {padding: 30px;}
.note-404 {width: 398px;height: 77px;background: url(../images404/khongtontai.png) top left no-repeat;text-indent: -9999px;position: relative;left: -24px;}
.col-right-404 h1 {color: #505050;}
.col-right-404 p {font-size: 16px;font-family: arial;color: #5b5b5b;}
.col-right-404 h2.title {width: 252px;height: 35px;background: url(../images404/title-link.png) no-repeat;position: relative;left: -20px;}
.col-right-404 h2.title span {font-size: 15px;color: #fff;font-family: arial;font-weight: normal;display: block;padding: 8px 20px;}
.col-right-404 ul {list-style: none;padding: 0px;margin: 0;overflow: hidden;}
.col-right-404 ul li {float: left;margin-right: 20px;width: 44%;padding: 5px 0px;border-bottom: 1px solid #dcdfe3;}
.col-right-404 ul li a {color: #777;font-size: 14px;text-decoration: none;font-family: arial;padding-left: 12px;background: url(../images404/icon-arrows.png) 0px 6px no-repeat;}
.col-right-404 ul li a:hover {color: #bc0000;background-position: 0px -74px;}
.search-404 {padding: 10px;text-align: center;}
.search-404 input[type="text"] {border: none;width: 203px;height: 27px;background: url(../images404/input-search.png) no-repeat;font-size: 12px;line-height: 27px;padding: 0px 7px;font-family: arial;color: #aaaaaa}
.search-404 input[type="submit"] {width: 28px;height: 31px;border: none;background: url(../images404/button-search.png) no-repeat;cursor: pointer;}