.register-title{
border-bottom:1px solid #CCCBCA;
color:#DB4702;
font-size:15px;
font-weight:bold;
padding-bottom:10px;
text-decoration:none;
text-transform:uppercase;
}
.contact-us-bound{
	padding-left:10px;
	padding-right:5px;
}
.contact-us-title{
	border-bottom:1px solid #C2C2C2; margin:10px 0px 10px 0; padding-bottom:10px;
	color:#664B3A; font-size:12px; font-weight:bold; text-transform:uppercase; text-decoration:none;
}
.contact-us-require-field{
	color:#FF0000;
}
.contact-us-field label,
.contact-us-confirm-code label{
}
.contact-us-star{
	color:#FF0000;
}
.contact-us-introduction{
	padding-bottom:20px;
}
.contact-us-input-text label.error,.register-verify-confirm-code label.error{
	color:red; padding-left:5px;
}
.contact-us-content label.error{
	color:red; line-height:30px; padding-left:5px;
}
.contact-us-content label.success{
	color:#00CC00; line-height:30px; padding-left:5px;
}
.contact-us-input-text label.success,.register-verify-confirm-code label.success{
	color:#00CC00; padding-left:5px;
}
.contact-us-button-bound{
	padding:10px 0 5px 94px;
}
.contact-us-button{
	border:1px solid #664B3A;
	color:#664B3A; padding:3px; margin-right:10px;
}
