.faq-list-bound,
.frame-default-bound{
}
.faq-list-title{
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	border-bottom:1px solid #CCCBCA;
	padding-bottom:10px;
	text-decoration:none;
	margin-bottom:10px;
}
.faq-list-title a,
.faq-list-title a:hover,
.faq-list-title a:visited:hover,
.faq-list-title a:visited {
	color:#DB4702;
	text-decoration:none;
}
.faq-list-item{
	margin-bottom:20px;
}
.faq-list-answer{
	font-size:12px;
	color:#003580;
	text-indent:25px;
}
.faq-list-answer img{
	float:left;
}
.frame-default-title{
	color:#003580;
	font-size:16px;
	font-weight:bold;
	line-height:30px;
}
.faq-category-content{
	background-color:#E5EAF0;
	padding:5px;
}
.faq-category-item{
	line-height:25px;
	border-top:1px dotted #CCCCCC;
	padding-left:10px;
}
.faq-list-item a,
.faq-category-item a{
	font-size:14px;
}
.notice {
	padding-top:15px;
}