/*-------------Services------------------*/
.services-bound{}
.services-item{ margin-bottom:15px;}
.services-name{
	margin-bottom:8px;
	padding-left:7px;
	background:url(../images/service_icon.png) 0% 20% no-repeat;
}
.services-name a:link,.services-name a:visited,
.services-name a:hover,.services-name a:hover:visited{
	text-decoration:none;
	font-weight:bold;
	color:#073F6F;
}
.services-image{}
.services-image img{
	background:#0B9ECE;
	padding:0px 3px;
	opacity:0.6;filter:alpha(opacity=60);
}
.services-viewall {
	text-align:right;
	margin-top:5px;
}
.services-viewall a,
.services-viewall a:hover,
.services-viewall a:visited,
.services-viewall a:visited:hover {
	color:#DB4702;
}
/*-------------Partner--------------------------*/
.partner-bound{ height:192px; clear:both;}
.partner-title{
	background:url(../images/partner_title.png) 0% 0% repeat-y;
	text-indent:26px;
}
.partner-title a,
.partner-title a:hover,
.partner-title a:visited,
.partner-title a:visited:hover {
	line-height:28px;
	text-transform:uppercase;
	color:#DB4702;
	font-weight:bold;
	text-decoration:none;
}
.partner-slide{
	background:url(../images/partner_slide.png) 0% 0% repeat-x;
}
.partner-slide-prev{}
.partner-slide-prev img,
.partner-slide-next img{
	margin-top:120px;
	padding:0px 15px;
	cursor:pointer;
}
#partner{ padding-top:8px;}
.partner-content{}
.partner-item{ margin-right:6px;_margin-right:3px; position:relative;}
.partner-image-bound{ text-align:center; width:213px; height:136px;margin:1px;}
.partner-image-bound img{
	width:211px;
	height:134px;
	margin:auto;
}
.partner-image-frame{
	height:136px;
	width:210px;
	position:absolute;
	z-index:1000;
	top:0px;
}
.partner-image-frame img{_behavior:url(iepngfix.htc);}
.partner-name{ text-align:center;}
.partner-name a:link,.partner-name a:visited,
.partner-name a:hover,.partner-name a:hover:visited{
	text-decoration:none;
	color:#373737;
	line-height:16px;
	font-size:11px;
}
/*-----------------Comment--------------------------*/
.comment-bound{}
.comment-content{
	background:url(../images/comment_top.png) no-repeat;
	padding-top:30px;
	margin-bottom:14px;
}
.comment-content-1{text-align:justify; color:#DB4702; padding-bottom:30px; background:url(../images/comment_bottom.png) 100% 100% no-repeat;}
.comment-name{ text-align:center; color:#46290B;}
.comment-viewall {
	text-align:right;
	margin-top:5px;
}
.comment-viewall a,
.comment-viewall a:hover,
.comment-viewall a:visited,
.comment-viewall a:visited:hover {
	color:#018DB9;
}
.comment-name span{ font-weight:bold; color:#46290B;}
/*-------------------HomeSolutions--------------------*/
.home-solutions-bound{}
.home-solutions-title{
	font-weight:bold; color:#686868; margin-bottom:10px;
}
.home-solutions-title p{ margin:0; padding:0;}
.home-solutions-item{ padding-bottom:15px;}
.home-solutions-name{ background:url(../images/room_out.gif) 0% 50% no-repeat; text-indent:20px; color:#686868;}
.home-solutions-open{
	background:url(../images/room_in.gif) 0% 50% no-repeat;
}
.home-solutions-brief{ display:none; background:#F5F0E5; padding:6px 12px; text-indent:20px; line-height:17px; margin-top:10px; text-align:justify; color:#073F6F;}
.home-solutions-view-detail{ text-align:right;}
.home-solutions-view-detail a:link,.home-solutions-view-detail a:visited,
.home-solutions-view-detail a:hover,.home-solutions-view-detail a:visited:hover{
	text-decoration:none;
}
/*------------------ NewsDetail ------------------*/
.newsdetail-bound{
	padding-bottom:10px;
	text-align:left;
}
.newsdetail-tilte{
	display:none;
}
.newsdetail-bound-content{
}
.newsdetail-name{
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	border-bottom:1px solid #CCCBCA;
	padding-bottom:10px;
	color:#DB4702;
	text-decoration:none;
}
.newsdetail-time{
	margin-bottom:10px;
	padding-right:5px;
	color:#04664F;
	text-align:right;
}
.newsdetail-brief{
	text-indent:30px;
	line-height:22px;
	font-weight:bold;
	padding-bottom:10px;
	text-align:justify;
}
.newsdetail-brief div,.newsdetail-brief span,.newsdetail-brief p{
}
.newsdetail-description{
	text-indent:30px;
	line-height:22px;
	padding-top:10px;
	text-align:justify;
	color:#000;
	overflow:hidden;
}
.newsdetail-description p{
	margin:0px;
}
.newsdetail-description div,
.newsdetail-description span,
.newsdetail-description a,
.newsdetail-description a:hover{
	color:#000;
}
.newsdetail-edit{}
.not-exist-id{ text-align:center; font-size:12pt; font-weight:bold;}
.newsdetail-bound-related{
	clear:both;
	font-size:0;
	margin-top:20px;
}
.newsdetail-related-text{
	margin-bottom:6px;
	font-weight:bold;
	border-bottom:1px dotted #333333;
	padding-bottom:4px;
}
.newsdetail-related-name{
	padding-left:10px;
	line-height:18px;
}
.newsdetail-related-name a:link,.newsdetail-related-name a:visited,
.newsdetail-related-name a:hover,.newsdetail-related-name a:visited:hover{
}
.newsdetail-other-item-title{
	font-size:10pt; text-transform:uppercase; padding:10px 0; margin-left:5px; color:#333;
}
.newsdetail-other-item ul{ margin-left:15px;line-height:17px;}
.newsdetail-other-item li a,.newsdetail-other-item li a:visited,
.newsdetail-other-item li a:hover,.newsdetail-other-item li a:visited:hover{
	color:#333; text-decoration:none;
}
.newsdetail-other-item li{
	color:#333;
}
.newsdetail-attachment{
	text-align:right;
}
.newsdetail-attachment a,.newsdetail-attachment a:visited,
.newsdetail-attachment a:hover,.newsdetail-attachment a:visited:hover{
	color:red; text-decoration:none;
}
.data-is-updating{
	text-align:center; font-weight:bold; padding:10px;
}
.newslist-date-bound{
	 padding:20px 0;
}
.newslist-date{
	 font-weight:bold; padding:0 3px; color:#333333;
}
.news-date-select{
	 float:left; padding-right:5px;
}
.comment-title{background:#297537 url(../images/home/icon_audence.gif) 5% 70% no-repeat;height:19px;line-height:20px;text-indent:25px; width:120px;}
.comment-title a, .comment-title a:hover,
.comment-title a:visited, .comment-title a:visited:hover
{
	color:#fff;
	text-decoration:underline;
}
/*--------------------------NewsList--------------------------*/
.news-list-bound{
	_width:98%;
	padding:0px 10px 10px;
}
.news-list-category-name{
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	border-bottom:1px solid #CCCBCA;
	padding-bottom:10px;
	color:#DB4702;
	text-decoration:none;
}
.news-list-content{
	margin:0px;
	padding:0px;
}
.news-list-item{
	list-style:none;
	padding:0px;
	margin-bottom:5px;
}
.news-list-name{
	padding:5px 0;
}
.news-list-name a,.news-list-name a:visited,
.news-list-name a:hover,.news-list-name a:visited:hover{
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
	color:#DB4702;
	text-decoration:none;
}
.news-list-name-1{
	padding:5px 0;
}
.news-list-name-1 a,.news-list-name-1 a:visited,
.news-list-name-1 a:hover,.news-list-name-1 a:visited:hover{
	text-decoration:none; color:#46840E; font-size:14px; font-weight:bold;
}
.news-list-newsname {
	padding:5px 0;
}
.news-list-newsname a,.news-list-newsname a:visited,
.news-list-newsname a:hover,.news-list-newsname a:visited:hover{
	text-decoration:none; color:#46840E; font-size:12px; font-weight:bold;
}
.news-list-content-1 {
	padding-left:15px;
}
.news-list-image{
	float:left;
	margin-right:5px;
}
.news-list-brief{
	text-indent:20px;
	line-height:18px;
	text-align:justify;
}
.news-list-detail {
	text-align:right;
}
.news-list-detail a,
.news-list-detail a:hover,
.news-list-detail a:visited,
.news-list-detail a:visited:hover {
	color:#018DB9;
	font-weight:bold;
}
.news-list-description{line-height:17px;}
.news-list-image img{
	width:187px;
	border:1px solid #CCCCCC;
}
.news-list-paging{
	text-align:center; padding:10px 0;
}
.news-list-viewdetail a,.news-list-viewdetail a:visited,
.news-list-viewdetail a:hover,.news-list-viewdetail a:visited:hover{
	color:#46840E;font-size:11px;text-decoration:none; font-weight:bold;
}
/*----extra shadow----*/
.JQFEText{
	color:#1A4CA7;
	text-align:justify;
	text-decoration:none;
	line-height:17px;
	font-weight:bold;
	font-size:13px;
	font-family:"Times New Roman", Times, serif;
	cursor:pointer;
}
.JQFEShadow{
	color:#402b2b;
	font-weight:normal;
	line-height:17px;
	font-size:13px;
}