/*------------------- layout default ---------------------*/
.default-layout-bound{
	background:#F7F6F4;
}
.default-layout-bg{
	margin:0 auto; width:1000px;
	background:url(../images/bg_left.gif) 0% 0% repeat-y;
}
.default-layout-bg-1{
	background:url(../images/bg_right.png) 100% 0% repeat-y;
}
.default-layout-content{
	width:980px;
	margin:0 auto;
	background:#FFFFFF;
}
.default-layout-banner{
}
.default-layout-center{
	background:#F7F6F4;
	padding-top:10px;
}
.default-layout-center-1{
	background:#E6E6E4;
}
.default-layout-footer{
}
/*--------------------- Footer ------------------------*/
.footer-bounds{
	background:url(../images/footer_bg.png) repeat-x;
	padding-top:17px;
	padding-bottom:20px;
}
.footer-bound-center {
	width:480px;
	margin:0px auto;
}
.footer-links {
	padding:5px 0px;
	margin-bottom:5px;
	border-top:1px solid #C2C1BC;
	border-bottom:1px solid #C2C1BC;
	text-align:center;
	color:#AFAFAD;
}
.footer-link,
.footer-link:visited,
.footer-link:hover,
.footer-link:visited:hover {
	padding:0px 25px;
	color:#AFAFAD;
}
.footer-infor {
}
.footer-logo {
	float:left;
	margin-right:5px;
}
.footer-licence {
	color:#949391;
	font-size:11px;
}
.footer-address {
	color:#949391;
	font-size:11px;
}
.footer-phone-email {
	color:#949391;
	font-size:11px;
}
/*--------------------------------Banner-------------------------------*/
.banner-bound {
	background:url(../images/banner_bg.png) repeat-x;
	height:117px;
	_height:116px;
}
.banner-img {
	margin-left:60px;
	float:left;
	height:117px;
	_height:116px;
}
.banner-link-language {
	text-align:right;
	margin-right:30px;
	font-size:11px;
	color:#98999B;
	padding-top:21px;
}
.banner-link,
.banner-link:hover,
.banner-link:visited,
.banner-link:visited:hover {
	color:#98999B;
}
.banner-language-change{
	background:url(../images/language_center.png) repeat-x;
}
.banner-language-change:hover,
.banner-language-change:visited:hover {
	text-decoration:none;
}
.banner-language-change span {
	background:url(../images/language_left.png) 0% 0% no-repeat;
}
.banner-language-change span span {
	padding:0px 10px;
	background:url(../images/language_right.png) 100% 0% no-repeat;
	color:white;
}
.banner-menu-links {
	text-align:right;
	margin-top:12px;
	margin-right:175px;
}
.banner-menu-link,.banner-menu-link:visited{
	line-height:60px;
	_line-height:61px;
	padding:26px 15px 0px 15px;
	color:white;
	font-weight:bold;
	font-size:14px;
}
.banner-menu-link:hover,
.banner-menu-link:visited:hover {
	text-decoration:none;
	background:url(../images/menu_active.png) top repeat-x;
	color:#54CCE5;
}
.banner-link-language ul
{
	list-style:none;
}
ul {
	behavior: url(whateverhover.htc);
}
.banner-link-language ul li
{
	display:inline;
	float:left;
	position: relative;
}
.banner-link-language li ul
{
	display:none;
	position:absolute;
	width:150px;
	left:15px;
	_top:61px;
	_left:15px;
	background-color:#FFFBEB;
	z-index:1000;
}
.banner-link-language li ul li:hover
{
	background-color:#F4DDB9;
}
.banner-link-language li ul li a:hover
{
	color:#DB4702;
	text-decoration:none;
}
.banner-link-language li ul li
{
	display:block;
	padding:5px;
	border-top:#FAFAFA solid 1px;
	border-left:#CCCCCC solid 2px;
	border-right:#CCCCCC solid 1px;
	border-bottom:#CCCCCC solid 1px;
	float:none;
	text-align:left;
}
.banner-link-language li:hover ul
{
	display:block;
}
/*-------------------------------ApplicationHot------------------------------*/
.application-hot-bound {
	height:200px;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.application-hot-content-bound{
	position:absolute;
	bottom:0px;
	background-color:#1F3544;
	width:100%;
	height:45px;
	padding-top:10px;
	opacity:0.8;
	filter:alpha(opacity=80);
}
.application-hot-content {
	float:left;
	padding-left:28px;
}
.application-hot-content span {
	font-weight:bold;
	color:white;
}
.application-hot-name {
	font-size:14px;
	text-transform:uppercase;
}
.application-hot-name-en {
}
.application-hot-buttons {
	margin-left:320px;
}
a.application-hot-button-down,
a.application-hot-button-down:hover,
a.application-hot-button-down:visited,
a.application-hot-button-down:visited:hover{
	float:left;
	display:block;
	height:31px;
	width:133px;
	background:url(../images/support/app_button_down.png) 0% 0% no-repeat;
	text-decoration:none;
	line-height:31px;
	color:white;
	text-indent:25px;
	font-weight:bold;
	behavior:url(iepngfix.htc);
	margin:0px 6px;
	_margin-left:3px;
}
.application-hot-button-preview,
.application-hot-button-preview:hover,
.application-hot-button-preview:visited,
.application-hot-button-preview:visited:hover{
	float:left;
	display:block;
	height:31px;
	width:133px;
	background:url(../images/support/app_button_preview.png) 0% 0% no-repeat;
	text-decoration:none;
	line-height:31px;
	color:white;
	padding-left:7px;
	font-weight:bold;
	_behavior:url(iepngfix.htc);
}
/*----------------------------SupportOnline-------------------------------*/
.supportonline-bound {
	background:url(../images/support_bg.png) no-repeat;
	height:199px;
}
.supportonline-bound1 {
	background:url(../images/support_bg.png) no-repeat;
	height:199px;
}
.supportonline-bound2 {
	background:url(../images/support_bg2.png) no-repeat;
	height:199px;
}
.supportonline-content {
	padding:37px 10px 0px;
}
.supportonline-name {
}
.supportonline-tittle {
	padding-left:12px;
	color:#A06538;
}
.supportonline-tittle-a,
.supportonline-tittle-a:hover,
.supportonline-tittle-a:visited:hover,
.supportonline-tittle-a:visited {
	text-decoration:none;
}
.support-hotline {
	margin-top:25px;
	margin-left:20px;
	font-size:18px;
	font-weight:bold;
	color:#883700;
}
/*----------------------------NEWSHOT--------------------------*/
.newshot-bound {
	margin-bottom:30px;
}
.newshot-main-content {
}
.newshot-main-content-bound {
	margin-bottom:20px;
}
.newshot-tittle,
.newshot-tittle a,
.newshot-tittle a:hover,
.newshot-tittle a:visited,
.newshot-tittle a:visited:hover {
	text-transform:uppercase;
	font-size:15px;
	font-weight:bold;
	border-bottom:1px solid #CCCBCA;
	padding-bottom:10px;
	color:#DB4702;
	text-decoration:none;
}
.newshot-content {
	padding-top:15px;
}
.newshot-img {
	float:left;
	width:193px;
	height:130px;
	padding:2px;
	margin-right:10px;
	border:1px solid #C7D8DE;
}
.newshot-brief {
	text-align:justify;
	line-height:17px;
}
.newshot-brief p{
	margin:0px;
	padding:0px;
}
.newshot-link {
	text-align:right;
	background:url(../images/detail_icon.png) 100% 50% no-repeat;
}
.newshot-link a:hover,
.newshot-link a:visited,
.newshot-link a:visited:hover,
.newshot-link a {
	color:#DE5819;
	margin-right:8px;
}