.support-online-bound{
}
.support-yahoo-sales,
.support-yahoo-tech,
.support-skype,
.support-phone,
.support-mobiphone{
	font-weight:bold;
	color:#9E5328;
	padding-left:30px;
	height:26px;
	line-height:26px;
	float:left;
	margin-top:5px;
	margin-bottom:5px;
	cursor:pointer;
}
.support-yahoo-sales{
	background:url(../images/support/online.png) 0 0 no-repeat;
	_behavior:url(iepngfix.htc);
}
.support-yahoo-tech{
	background:url(../images/support/online.png) 0 0 no-repeat;
	_behavior:url(iepngfix.htc);
	margin-right:60px;
}
.support-skype{
	background:url(../images/support/skype.png) 0 0 no-repeat;
}
.support-skype a,
.support-skype a:hover,
.support-skype a:visited,
.support-skype a:visited:hover{
	color:#9E5328;
}
#support-yahoo,
#support-skype{
	display:none;
	position:absolute;
	border:1px solid #EFB37A;
	background-color:#FFF;
	text-align:left;
	width:170px;
	padding:5px;
	z-index:1;
	float:left;
}
.supportonline-bound {
	background:url(../images/support_bg.png) no-repeat;
	height:199px;
}
.supportonline-bound1 {
	background:url(../images/support_bg.png) no-repeat;
	height:199px;
}
.supportonline-bound2 {
	background:url(../images/support_bg2.png) no-repeat;
	height:199px;
}
.supportonline-content {
	padding:37px 10px 0px;
}
.supportonline-name {
}
.supportonline-tittle {
	padding-left:12px;
	color:#A06538;
}
.supportonline-tittle-a,
.supportonline-tittle-a:hover,
.supportonline-tittle-a:visited:hover,
.supportonline-tittle-a:visited {
	text-decoration:none;
}
.support-hotline {
	margin-top:136px;
	margin-left:26px;
	font-size:18px;
	font-weight:bold;
	color:#883700;
}
