.fm-bound{background:#FFF;padding:0px 2px;min-height:550px;margin:1px;border-radius:5px;}
.fm-bound #back{float:left;width:65px;border:1px solid #CCC;height:45px;padding:5px 2px 2px 2px;margin-right:5px;background:#FFFFFF;cursor:pointer;}
.fm-bound #back:hover{border:1px solid #CCC;}
.fm-bound #create_folder{float:left;width:65px;border:1px solid #CCC;height:45px;padding:5px 2px 2px 2px;background:#FFFFFF;cursor:pointer;}
.fm-bound .path{float:left;font-weight:bold;color:#039;background:#FFF;padding:2px;border:1px solid #CCC;border-radius:5px;width:99%;}
.fm-create-folder{float:left; width:200px;display:none;}
.fm-create-folder #url{width:100px;}
.fm-create-folder #folder_name{width:130px;float:left;margin-left:5px;}
.fm-create-folder #reate_folder_btn{float:left;}
.fm-menu-bound{}
.fm-menu{margin:2px 2px 6px;background:#EDEDE2;}
.fm-menu tr td{ padding:5px;}
.fm-menu  .fm-upload img{border:1px solid #000099;margin-bottom:-6px;width:21px;}
.fm-menu  .fm-upload #upload{width:140px;}
.fm-list-bound{height:460px;overflow:scroll;}
.fm-folder, .fm-file{float:left;width:120px;text-align:center;height:120px;margin:8px;cursor:pointer;}
.fm-file{font-size:8px;}
.fm-folder img{margin-bottom:5px;}
.fm-folder-selected{background:#0099CC;}
.fm-file img{width:90px;height:70px;padding:1px;margin-bottom:5px;}
.fm-action{background:#3399CC;padding:10px;text-align:center;}
.fm-menu-command{background:#99CC00;padding:5px 20px;border:1px solid #9900CC;width:80px;position:absolute;display:none;}
.fm-menu-command div{line-height:18px;font-weight:bold;}