/*menu*/
.header #nav {height: 30px;margin-bottom: 10px;width: 100%;clear: both;position: relative;z-index: 99}
.header #nav #menu{margin: 0px;padding: 0px;list-style: none;line-height: 30px;display: inline-block;z-index: 1000;border-right:0px;box-shadow:1px 3px 3px #999;border-radius:3px;width:99%;position:relative}
.header #nav #menu .selected  {color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 14px;text-shadow: 0px 0px 2px #fff}
.header #nav #menu a {color:#fff;text-decoration:none;font-family: Arial, Helvetica, sans-serif;font-size: 14px}
.header #nav #menu > li {cursor:pointer;float:left;position:relative;padding-top: 0px;padding-right: 12px;padding-bottom: 0px;padding-left: 12px;border-right:solid 1px #CCC}
.header #nav #menu > li a:hover {color:#fff}
/* sub-menus*/
.header #nav #menu ul {padding:0px;margin:0px;display:block;display:inline;z-index:998}
.header #nav #menu li ul {position:absolute;top:0px;margin-top:30px;line-height:25px;background: #fff;border: 1px solid #999;box-shadow: 2px 2px 2px #3e3e3e;color:#d4d4d4;/* for IE */
display:none;font-size: 14px;left: -1px}
*+html .header #nav #menu li ul{background-color:#fff}
.header #nav #menu li ul{background:#fffff9}
.header #nav #menu li:hover ul {display:block}
.header #nav #menu li ul li{display:block;list-style-type:none;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;width: 250px;border-bottom: 1px dotted #ccc}
.header #nav #menu li ul li:first-child {border-top: none}
.header #nav #menu li ul li a {font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;display:block;color:#323232;padding-left: 20px}
.header #nav #menu li ul li a:hover {color: #30add3}
/*Menu cap 3*/
.header #nav #menu ul li > ul{display:none !important;left:221px !important}
.header #nav #menu li:hover ul li:hover ul{display:block!important;top:auto;margin-top:-31px;z-index:998}

.home-menu-function-bound {margin: 10px;border: 1px solid #ddd;border-radius: 5px;padding: 10px 10px 1px 10px;overflow: hidden;background: #f1f1f1;text-align: center}
.home-menu-item {width: 170px;height: 115px;background: #fff;border: 1px solid #ccc;border-radius: 5px;margin: 0px 10px 10px 0px;display: inline-block}
.home-menu-item-img img {width: 64px;height: 64px;display: block;margin: 10px auto;}