<div class="footer-bounds">
	<div class="footer-bound-center">
        <div class="footer-links">
            <a class="footer-link" href="<?php echo Url::build('xem-tin-tuc',array('name_id'=>'gioi-thieu'),REWRITE);?>"><?php echo Portal::language('about_us')?></a> |
            <a class="footer-link" href="<?php echo Url::build('tin-tuc',array('name_id'=>'tinh-nang'),REWRITE);?>"><?php echo Portal::language('features')?></a> |
            <a class="footer-link" href="<?php echo Url::build('faqs','',REWRITE);?>"><?php echo Portal::language('faqs')?></a> |
            <a class="footer-link" href="<?php echo Url::build('lien-he','',REWRITE);?>"><?php echo Portal::language('contact_us')?></a>
        </div>
        <div class="footer-infor">
            <img src="assets/hotel/images/footer_logo.png" class="footer-logo"/>
            <div class="footer-licence">
            	<?php echo Portal::language('tcv_licence')?>
            </div>
            <div id="footer-bac">
            	<div class="footer-address">
            		<p>Nguyen chi thanh</p>
            	</div>
            	<div class="footer-phone-email">
            		<p>01699 106 199</p>
            	</div>
        	</div>
            <div id="footer-nam">
            	<div class="footer-address">
            		<p>Quan 6</p>
            	</div>
            	<div class="footer-phone-email">
            		<p>0984 101 797</p>
            	</div>
        	</div>
    </div>
</div>