<!--new-->
.main-menu-bound .menu a:link,.main-menu-bound .menu a:visited,
.main-menu-bound .menu a:hover,.main-menu-bound .menu a:visited:hover{color:#FFFFFF;text-decoration:none;}
<!--new-->
.banner-logo
{}
.clear-both
{clear:both;}
.main-menu-bound{overflow:hidden;border:0px;padding:0px;height:40px;border-radius:7px;border:1px solid #F60;}
.main-menu-bound .menu{height:40px;padding:1px;color: #333333;font-weight:bold;line-height:40px;font-size:14px;}
#root-menu-div ul {border: 1px solid #F60;overflow: visible;}
#root-menu-div li{white-space:nowrap;}
* html #root-menu-div li{height: 1.2em;/* fixing ie6 problem */}
ul.menu,
#root-menu-div ul {
background-color: #333333 ;list-style: none;margin: 0;padding: 3px;
background:-moz-linear-gradient(top, #000 0%,#333 50%,#111 51%,#999 100%); /* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#000), color-stop(50%,#333333), color-stop(51%,#111), color-stop(100%,#999)); /* Chrome,Safari4+ */
background: -ms-linear-gradient(top, #000 0%,#333 50%,#111 51%,#999 100%); /* IE10+ */
background: linear-gradient(to bottom, #000 0%,#333 50%,#111 51%,#999 100%); /* W3C */
}
#root-menu-div ul li ul{background: #333333 !important}
li.active{background-color:#0099FF;}
#root-menu-div li{}
#root-menu-div li.active a:link,#root-menu-div li.active a:visited,
#root-menu-div li.active a:hover,#root-menu-div li.active a:visited:hover {color: #FFFFFF;text-decoration:none;display:block;}
li.menumain {color:#FFF;float: left;padding: 0 10px;line-height:40px;cursor:pointer;white-space:nowrap;}
li.activetarget{background:#F60}
li.activetarget{color:#000;}
* html div.menu-item {}
#root-menu-div li a:link,
#root-menu-div li a:visited,
#root-menu-div li a:hover,
#root-menu-div li a:visited:hover {color:#FFF;line-height:22px;vertical-align:middle;display:block;width:100%;text-decoration:none;}
div.menu-item {padding: 1px 10px 1px 4px;}
img.menu-item-arrow{position: absolute;right: 4px;top: 8px;}
li.menu-separator{border-top: 1px solid #FFF;border-bottom: 1px solid #F60;font-size: 0px;/* for ie */
overflow:hidden;height: 0px;line-height: 0px;/* for ie */
margin:5px 3px 5px 3px;}
li.menu-separator.active{}
li.red {color: red;}
li.blue {color: blue;}/*-------------Module HomeMenu-------------------------*/
.home-menu-bound{margin-top:10px;}
.home-menu-group-name{clear:both;background:#EFEFEF;font-weight:bold;font-size:14px;text-align:left;padding-left:10px;color:#0D2EA1;line-height:24px;}
.home-menu-item{float:left;width:15%;margin:10px;padding:16px;height:80px;border:1px solid #F60;background:#F7F7F7;cursor:pointer;border-radius:10px;}
.icon-category-bound{cursor:pointer;}
.home-menu-item:hover{background:#FF9;}
.home-menu-item:hover a:link,
.home-menu-item:hover a:visited,
.home-menu-item:hover a:hover,
.home-menu-item:hover a:visited:hover{color:#FF0000;}
.home-menu-function-bound{}
.home-menu-item-img{text-align:center;}
.home-menu-item-img img{width:50px;height:50px;}
.home-menu-item-name{text-align:center;}
.home-menu-item-name a:link,.home-menu-item-name a:visited{font-weight:bold;color:#0D2EA1;text-decoration:none;}
.home-menu-item-name a:hover,
.home-menu-item-name a:visited:hover{color:#0080FF;}
/*------------------ HotelMenu ------------------------*/
.user-menu-list{}
.user-menu-list ul{
overflow:hidden;
background-color: #e1d49b ;list-style: none;margin: 0;padding: 3px;
background:-moz-linear-gradient(top, #e1d49b 0%,#cfb95f 50%,#dccd8b 51%,#bb9d26 100%); /* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e1d49b), color-stop(50%,#cfb95f), color-stop(51%,#bb9d26), color-stop(100%,#bb9d26)); /* Chrome,Safari4+ */
background: -ms-linear-gradient(top, #e1d49b 0%,#cfb95f 50%,#bb9d26 51%,#bb9d26 bb9d26%); /* IE10+ */
background: linear-gradient(to bottom, #e1d49b 0%,#cfb95f 50%,#bb9d26 51%,#bb9d26 100%); /* W3C */
border-radius:7px;
}
.user-menu-list li{float:left;line-height:22px;}
.user-menu-list li div div{padding:7px 7px 0;color:#000;font-weight:bold;}
.user-menu-list li.selected{background:url(../images/panel/menu_action_center.png) repeat-x 0 0;height:29px;margin-top:5px;}
.user-menu-list li.selected div{background:url(../images/panel/menu_action_left.png) no-repeat 0 0;float:left;}
.user-menu-list li.selected div div{background:url(../images/panel/menu_action_right.png) no-repeat 100% 0;padding:2px 13px 0;height:29px;font-weight:bold;font-size:12px;float:left;}
.user-menu-list a,.user-menu-list a:visited,
.user-menu-list a:hover,.user-menu-list a:visited:hover{font-size:12px;display:block;text-decoration:none;color:#000;font-weight:normal;}
.user-menu-list li.selected a{}
.user-menu-title{font-size:16px;font-weight:bold;}
.user-menu-sign-out{background:url(../images/panel/home.png) no-repeat 0 50%;width:79px;height:34px;padding-right:10px;cursor:pointer;}
.user-menu-home{background:url(../images/panel/sign_out.png) no-repeat 0 50%;width:79px;height:34px;padding-right:10px;cursor:pointer;}
.user-sub-menu-bound{position:absolute;display:none;top:34px;opacity:0.9;background-color:#999;border:1px outset #ccc;width:200px;}
.user-main-menu{height:34px;}
.user-sub-menu-bound a,.user-sub-menu-bound a:visited{font-weight:bold;color:#000;display:block;padding-left:5px;}
.user-sub-menu-bound a:hover,.user-sub-menu-bound a:visited:hover{background-color:#BD9E21;font-weight:bold;}
.user-sub-menu-item{border-top:1px dashed #AC8F1E;float:none !important;}
.user-sub-menu-item-1{border-top:none;}
/*--------------------------- hotel panel -------------------*/
.user-panel-bound{background-color:#EDEDED;}
.user-panel-content-bound{background:url(../images/panel/bg_content_center.png) repeat-y 0 0;width:960px;margin:auto;}
.user-panel-item-bound{background:#F9F5DD url(../images/panel/line_footer.png) repeat-x 0 100%;}
.user-panel-content{width:942px;margin:auto;padding-bottom:30px;}
.user-panel-title{background:url(../images/panel/bg_title.png) repeat-x 0 0;height:42px;line-height:42px;font-size:22px;color:#278206;padding-left:10px;}
.user-panel-item{width:25%;padding:10px;}
.user-panel-item-title{background:url(../images/panel/bg_item_title_center.png) repeat-x 0 0;height:28px;}
.user-panel-item-title-1{background:url(../images/panel/bg_item_title_left.png) no-repeat 0 0;height:28px;}
.user-panel-item-title-2{background:url(../images/panel/bg_item_title_right.png) no-repeat 100% 0;height:28px;}
.user-panel-item-title-2 div{background:url(../images/panel/bg_item_title_icon.png) no-repeat 10px 50%;height:28px;color:#A67E37;font-weight:bold;padding-left:32px;line-height:28px;font-size:12px;}
.user-panel-item-icon{background-color:#fff;border-left:2px solid #D3D0BB;border-right:2px solid #D3D0BB;height:130px;}
.icon-category{width:60px;}
.user-panel-item-link{border-bottom:1px dashed #ddd;padding-top:3px;margin-bottom:3px;}
.user-panel-item-bottom{background:url(../images/panel/bg_item_bottom_center.png) repeat-x 0 0;height:10px;}
.user-panel-item-bottom-1{background:url(../images/panel/bg_item_bottom_left.png) no-repeat 0 0;height:10px;}
.user-panel-item-bottom-2{background:url(../images/panel/bg_item_bottom_right.png) no-repeat 100% 0;height:10px;}
.user-panel-footer-bound{background-color:#D9CF9A;width:942px;margin:auto;}
.img{border:0px solid #FFFFFF;_display:none;}
.sign-in{position:absolute;right:0px;text-align:center;top:0px;width:500px;line-height:18px;margin-top:30px;color:#000000;}
.sign-in span,a{color:#000000;}
.banner{float:left;height:56px;line-height:35px;width:100%;background:#FFF;font-size:16px;font-weight:bold;color:#F60;text-shadow:#F00;position:relative;text-indent:5px;}
.banner span{height:30px;padding:0px;margin:0px;position:absolute;bottom:5px;left:0px;color:#999;}
@media (max-width: 600px) {
.banner span{display:none;}
#toolbar-title{font-size:12px !important;background:none !important;text-indent:0px !important;width:auto !important;}
#toolbar-title span{display:none;}
}