.navbar{min-height:40px;}
.navbar-default{background-color: #84BE6A;border:0px;}
.navbar-default .navbar-nav>li>a{color:#FFF;}
.navbar-default .navbar-brand {color: #FFF;}
.nav>li>a {padding:10px 10px;}
/********************************************/
.pager li{list-style:none;float: left;border: 1px solid #CCC;width: 30px;height: 30px;line-height: 30px;text-align: center;margin: 0px 3px 3px 0px;}
.pager li a{color:#666;}
.pager li a.current{font-weight:bold;color:#F00;}
.pt{float:left;}
ul.pagination >li{float:left;list-style:none;}
ul.pagination >li >a{border:1px solid #F1F1F1;margin-right:5px;border-radius:5px;font-size:12px;padding:5px 10px;border:1px solid #CCC;background:#FFF;}
ul.pagination >li >a i{margin-left:5px;margin-right:5px;}
ul.pagination >li.active{background:none;}
ul.pagination >li.active >a,ul.pagination >li:hover >a{background-color:#990000 !important;border-color:#990000 !important;color:#fff;}
/*------------------------------*/
.banner{float:left;height:56px;line-height:35px;width:100%;background:#FFF;font-size:16px;font-weight:bold;color:#F60;text-shadow:#F00;position:relative;text-indent:5px;}
.banner span{height:30px;padding:0px;margin:0px;position:absolute;bottom:5px;left:0px;color:#999;}
/*------------------------------*/
.dropdown-submenu {    position:relative;}
.dropdown-submenu>.dropdown-menu {    top:0;    left:100%;    margin-top:-6px;    margin-left:-1px;}
.dropdown-submenu:hover>.dropdown-menu {    display:block;}
.dropdown-submenu:hover>.dropdown-menu a{color:#FF5700 !important;}
.dropdown-submenu>a:after {    display:block;    content:" ";    float:right;    width:0;    height:0;    border-color:transparent;    border-style:solid;    border-width:5px 0 5px 5px;    border-left-color:#cccccc;    margin-top:5px;    margin-right:-10px;}
.dropdown-submenu:hover>a:after {    border-left-color:#ffffff;color:#AD0002}
.dropdown-submenu.pull-left {    float:none;}
.dropdown-submenu.pull-left>.dropdown-menu {    left:-100%;    margin-left:10px;}
/*-------------------Screen-----------------*/
@media (max-width: 600px) {
.banner span{display:none;}
#toolbar-title{font-size:12px !important;background:none !important;text-indent:0px !important;width:auto !important;}
#toolbar-title span{display:none;}
}
/*-------------------/Screen----------------*/
.multi-item-wrapper{background:#EFEFEF;float:left;width:100%;}
.multi-item-group{float:left;background:#FFF;margin-bottom:5px;border-bottom:1px solid #CCC;}
.multi-item-group:hover{background:#FF9;}

.multi-edit-input{float:left;border:1px solid #CCC;box-sizing:border-box;border-style:inset;}
.multi-edit-input input{width:100%;padding:0px;margin:0px !important;border:0px;}
.multi-edit-input .align-right{text-align:right;}
.no-border{border:0px;margin:0px 2px !important;}
.no-bg{background:none !important;}
.multi-edit-input.header{font-weight:bold;color:#666 !important;background:#CCC;padding:2px !important;}