/** ver megamenu **/
.vermagemenu{
    position: relative;
    padding: 0 0px 0 0;
    z-index: 3000;
}
.over-menu { display: none; }
.close-wrap i,
.more-wrap i{
    margin-right:10px;
}
.close-wrap a,
.more-wrap a{
    border-bottom: none!important;
	line-height:45px !important;
	padding:0 !important;
}
.navleft-container{
    background: #fff;
    font-size:14px;
    width: 100%;
    display:none;
	position:absolute;
	box-shadow:0px 0px 7px 0.5px rgba(0, 0, 0, 0.15);
}
.common-home .navleft-container {
    display: block;
}
.navleft-container {
	display: none;
}
.pt_vmegamenu{margin:0px}
.pt_vmegamenu div.pt_ver_menu.active{background:none!important}
.pt_vmegamenu .parentMenu .parentMenu a span{font-size:15px!important}
#pt_vmegamenu{margin-bottom: 0;padding-bottom:0;padding-top:0}
.pt_vmegamenu .parentMenu a img{
	position: absolute;
	top: 14px;
	left: 0;
	display: inline-block;
}
.pt_vmegamenu .parentMenu a {
    text-decoration: none;
	display: block;
	word-wrap: break-word;
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	padding-left:35px;
	text-transform: capitalize;
    line-height: 48px;
	position: relative;
	text-align: left;
	border-bottom: 1px solid #ededed;
}
.pt_vmegamenu .parentMenu a:hover,
.pt_vmegamenu .pt_ver_menu .parentMenu a:hover:after,
.pt_vmegamenu .pt_ver_menu.active .parentMenu a,
.pt_vmegamenu .pt_ver_menu.active .parentMenu a:after {
	color:#fb9935;
}
.pt_vmegamenu .pt_ver_menu:last-child .parentMenu a:last-child{border:none;}
.pt_vmegamenu div.had-child .parentMenu a:after {
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    line-height: 45px;
    content:"\f105";
    color: #666;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: 13px;
    font-weight: 400;
    font-family: "FontAwesome";
}
.pt_vmegamenu div.had-child .parentMenu a:hover::before{
    color: #fff;
}
/*#pt_vmegamenu .pt_ver_menu{
    padding: 10px 0;
}*/
#pt_vmegamenu > .pt_ver_menu:last-child{
	border: none;
}
#pt_vmegamenu .pt_ver_menu {
	position:relative;
}
#pt_vmegamenu .pt_ver_menu .parentMenu{
	width:100%;
	position: relative;
	padding:0 15px;
}
.pt_vmegamenu .pt_ver_menu .popup{
    border:none;
    padding: 0px;
    position: absolute;
    left: 100%;
    text-align: left;
    z-index: 3000;
    background: #fff;
	top: 0;
	box-shadow:0 0 6px 1px rgba(0,0,0,0.1);
}
.pt_vmegamenu div.column {
    width: 180px;
}
.pt_vmegamenu .pt_ver_menu .popup .content-popup{
    float: left;
    box-shadow: none;
    border-radius: 0;
    color: #fff;
    padding: 20px;
	border: 1px solid #e5e5e5;
	background: #fff;
}
.pt_vmegamenu div.popup a.act{color:#333;}
.block1 .column{padding-bottom:0!important; margin-bottom:0px!important}
.block1 .column .itemMenu a.level1:hover{
	color: #fb9935;
}
.block1 .column .itemMenu a.level1{
    font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	word-wrap: break-word;
	color: #444444;
	margin-bottom: 15px;
	display: block;
}
.block1 .column .itemMenu a.level1.actParent{
    
}
.block1 .column .itemMenu a.level1.actParent span{
}
.block1 .column .itemSubMenu a.level1{background:none}
.pt_vmegamenu div.column{
    border:none!important;
    margin:0 15px 0 0!important;
    padding:0px!important;
    float:left;
}
.pt_vmegamenu div.column.last{
    margin-right:0px!important;
}
.pt_vmegamenu div.column.blockright{
    width:150px;
    text-align: center;
    margin-right:0 ;
}
.popup .block1{
    float:left;
}
.pt_vmegamenu div.itemSubMenu {
    margin: 20px 0;
}
.block1 .itemSubMenu .itemMenu a.itemMenuName{
    line-height:28px;
    font-weight: normal;
    line-height: 35px;
    font-size: 12px;
    text-transform: capitalize;
	margin: 0;
	display:block;
}
.block1 .itemSubMenu .itemMenu a.itemMenuName:hover{
    color: #fb9935;
}
a.itemMenuName:hover{
    color: #fb9935;
    
}
.navleft-container .thumbnail_image{
    background: #797979;
    border-radius: 100%;
    margin-right: 10px;
}
.title-vetical {
	background: #fb9935;
	position: relative;
	height:54px;
}
.title-vetical h2 span{
    font-size: 20px;
    text-transform: capitalize;
    width: 100%;
    display: block;
    margin-top: 3px;
}
.title-vetical{
	cursor: pointer;
}
.title-vetical h2 {
    font-size: 18px;
    color: #fff;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 55px;	
	line-height:56px;
	letter-spacing:1px;
	position:relative;
}
.title-vetical h2:before {
	content: "\f20d";
	font-family:'Ionicons';
	font-size:21px;
	color:#fff;
	line-height:56px;
	font-weight:normal;
	position:absolute;
	left:20px;
	top:0;
}
/** /ver megamenu **/
/* responsive */
@media(max-width: 1199px){
	.title-vetical h2 { font-size:16px; }
	.pt_vmegamenu .parentMenu a { font-size:13px; line-height:39px; }
}
