#column-left .box-product .image, #column-right .box-product .image {
    max-width: 127px;
    height: 84px;
    overflow: hidden;
}
#column-left .box-product .image img, #column-right .box-product .image img{
    height: auto;
    width: 100%;
}
.product-block .caption a {
    color: #000;
    font-size: 11px;
}
.clearfix{display: none !important;}
.tieu-de-tin-tuc {
    font-size: 18px !important;
}

.product-thumb .image img {
    width: auto;
    height: auto;
}

.product-grid .product-thumb .image {
    height: 260px;
    overflow: hidden;
}
.product-layout.product-grid.col-lg-4, .product-layout.product-list {
    padding: 5px;
}
.news-items .image{
    height: 190px;
    overflow: hidden;
}