.box .box-heading, #column-left .box.featured .box-heading, #column-right .box.featured .box-heading, #column-left .box.bestseller .box-heading, #column-right .box.bestseller .box-heading, #column-left .box.special .box-heading, #column-right .box.special .box-heading, #column-left .box.latest .box-heading, #column-right .box.latest .box-heading {
  background: transparent none repeat scroll 0 0;
  border-radius: 0;
  color: #000;
  font-size: 17px;
  font-weight: bold;
  padding: 0px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0;
}

#content .box .box-heading {
  padding:0px;
  font-size: 17px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0px;
}

.sp-noi-bat .product-thumb .image img {
  width:75px;
  height:94px;
}

.sp-noi-bat .product-thumb{
  height: 94px !important;
}

.sp-noi-bat .product-items{
  height: 94px !important;
}

.sp-noi-bat .product-items{
  height: 94px !important;
}

.sp-noi-bat .productbox-grid{
  height: 94px !important;
}
