.gsc-search-box {display: none;}
.gsc-above-wrapper-area-container {display: none;}
table.gcsc-branding {display: none;}
.gsc-results .gs-title {text-decoration: none!important;color: #005496!important;font-size: 14px!important;margin-bottom: 7px;}
.gsc-results .gs-title:hover {color: #FD8304!important;}
.gsc-results .gs-title b {background: #ffff00!important;font-size: 14px!important;text-decoration: none!important;padding-left: 5px!important;padding-right: 5px!important;}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {color: #505050;line-height: 1.6em;}
.gsc-result {border-color: #d0d0d0!important;padding: 5px!important;border-radius: 5px!important;margin: 0px 0px 10px 0px!important;}
.gsc-thumbnail {border: none!important;padding: 0px!important;border-radius: 0px!important;margin-right: 10px!important;}
.gs-web-image-box, .gs-promotion-image-box {float: none!important;padding: 0px!important;width: auto!important;}
.gs-result img.gs-image, .gs-result img.gs-promotion-image {border: 1px solid #e0e0e0!important;padding: 3px!important;max-width: none!important;max-height: none!important;display: block!important;margin: 0px auto!important;width: 150px!important;margin-right: 10px!important;}
.gsc-cursor-page {padding: 5px 7px;border: 1px solid #d0d0d0;text-decoration: none!important;}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {border-color: #FD8304!important;background-color: #FD8304!important;}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page:hover {border-color: #FD8304!important;color: #fff!important;}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {color: #fff!important;}.gsc-adBlock {display: none!important;}
.gsc-webResult .gsc-result {background: #f1f1f1!important;}.gsc-above-wrapper-area {display: none!important;}.gsc-webResult .gsc-result:hover {background: #fff!important;}
.gsc-results .gsc-cursor-box {text-align: right!important;}.gsc-results .gsc-cursor-box .gsc-cursor-page {margin-left: 8px!important;margin-right: 0px!important;}
.gsc-adBlockVertical {display:none !important;}
.gsc-wrapper.gsc-thinWrapper  {float:none !important; width:100% !important;}
.gs-image-box.gs-web-image-box.gs-web-image-box-portrait{height:auto !important;}