/*custom fonts*/
@font-face {
    font-family: utm-avo-bold;
    src: url(../fonts/UTM_AvoBold.ttf);
}
@font-face {
    font-family: utm-avo;
    src: url(../fonts/UTM_Avo.ttf);
}
body{background:#f2f2f2;font-family: 'utm-avo',arial;color:#4e4e4e;line-height:22px;font-size:12px;}
.container.full{width:100% !important;}
.container.full .product-list{padding:0px;}
h1,h2,h3,h4,h5,h6{font-weight:600;font-family:'utm-avo','Open Sans',sans-serif;color:#4e4e4e}
h1{font-size:26px;color:#333}
h2{font-size:20px}
h3{font-size:16px;color:#787878;font-weight:400;line-height:24px}
h4{font-size:16px}
.general-title h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;
	color: #333;
}
.service-title h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #282828;
	text-transform: uppercase;
	font-weight: 600;	
}
.project-title h3{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;	
}
.title-devider{
	border-bottom: 2px solid #ff5733;
	display: block;
	width: 20%;
	margin: auto;
	margin-bottom: 40px;
}
a{color:#333;font-family: 'utm-avo',arial;-webkit-transition:color 300ms,background-color 300ms;-moz-transition:color 300ms,background-color 300ms;-o-transition:color 300ms,background-color 300ms;transition:color 300ms,background-color 300ms}
a:hover,a:focus{color:#d43133}
.breadcrumb{margin-top:25px;}
.breadcrumb a{color:#666;}
.breadcrumb a:hover{color:#ff5733;}
hr{border-top:1px solid #e5e5e5;border-bottom:1px solid #fff}
.btn-primary{padding:8px 20px;background:#ff5733;color:#fff;border-radius:4px;border:none;margin-top:10px}
.btn-primary:hover,.btn-primary:focus{background:#ff5733;outline:none;box-shadow:none}
.btn-transparent{border:3px solid #fff;background:transparent;color:#fff}
.btn-transparent:hover{border-color:rgba(255,255,255,0.5)}
a:hover,a:focus{color:#111;text-decoration:none;outline:none}
.dropdown-menu{margin-top:-1px;min-width:180px}
.center h2{font-size:26px;margin-top:0;margin-bottom:20px;text-transform:uppercase;}
.center h2 strong{border-bottom:1px solid #ff5733;padding-bottom:5px;}
.media>.pull-left{margin-right:20px}
.media>.pull-right{margin-left:20px}
body > section{padding:20px 0}
.center{text-align:center;padding-bottom:20px}
.scaleIn{-webkit-animation-name:scaleIn;animation-name:scaleIn}
.lead{font-size:16px;line-height:24px;font-weight:400}
.transparent-bg{background-color:transparent !important;margin-bottom:0}
@-webkit-keyframes scaleIn{0%{opacity:0;-webkit-transform:scale(0);transform:scale(0)}
100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes scaleIn{0%{opacity:0;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
/********************************Header********************************/
#header .search{display:inline-block}
#header {border-bottom: 1px solid #999;}
.carousel-inner{min-height:520px;}
.navbar{min-height:60px;background:#282828}
.navbar>.container .navbar-brand{margin:0px 0px 0px 0px;font-size:18px;color:#333;}
.navbar>.container .navbar-brand img{position:absolute;top:0px;}
.top-bar{padding:5px 0;background:#000;line-height:28px}
.top-number{color: #FFF;font-size: 16px;font-weight: bold;}
.top-number p{margin:0}
.social{text-align:right;}
.social img{width:29px}
.social .lg{position:relative;display: inline-block;}
#google_translate_element {display: inline-block;}
#google_translate_element .goog-te-gadget-icon {display: none!important;}
#google_translate_element .goog-te-gadget-simple {padding: 0px;border: none!important;height: 26px;border-radius: 2px;background: #ff5733!important;}
#google_translate_element .goog-te-gadget-simple .goog-te-menu-value span {font-size: 11px!important;color: #fff!important;}
#google_translate_element .goog-te-gadget-simple img {width: auto!important;}
.social-share{display:inline-block;list-style:none;padding:0;margin:0}
ul.social-share li{display:inline-block}
ul.social-share li a{display:inline-block;color:#fff;background:#ff5733;width:25px;height:25px;line-height:25px;text-align:center;border-radius:2px}
ul.social-share li a i {line-height: 25px;}
ul.social-share li a:hover{background:#0085ee;color:#fff}
.search i{color:#fff}
input.search-form{background:transparent;border:0 none;width:60px;padding:0 10px;color:#FFF;-webkit-transition:all 400ms;-moz-transition:all 400ms;-ms-transition:all 400ms;-o-transition:all 400ms;transition:all 400ms}
input.search-form::-webkit-input-placeholder{color:transparent}
input.search-form:hover::-webkit-input-placeholder{color:#fff}
input.search-form:hover{width:180px}
.navbar-brand{padding:0;margin:0;}
.navbar{border-radius:0;margin-bottom:0;background:#282828;z-index:1;}
.navbar-nav{position:relative;top:10px;}
.navbar-nav>li{margin-left:5px;padding-bottom: 10px;}
.navbar-inverse .navbar-nav > li > a {padding:5px 10px;margin:0;color:#777;line-height:25px;display:inline-block;text-transform:uppercase;    font-family: 'Open Sans', sans-serif;font-weight:600;font-size:13px;}
.navbar-inverse .navbar-nav > li > a:hover{color:#ff5733;}
.navbar-inverse{border:none}
.navbar-inverse .navbar-brand {font-size:36px;color:#000;padding-top:5px;}
.navbar-inverse .navbar-nav > .active > a,.navbar-inverse .navbar-nav > .active > a:hover,.navbar-inverse .navbar-nav > .active > a:focus,.navbar-inverse .navbar-nav > .open > a,.navbar-inverse .navbar-nav > .open > a:hover,.navbar-inverse .navbar-nav > .open > a:focus{color:#ff5733;background:none;font-weight:bold;}
.navbar-inverse .navbar-nav .dropdown-menu {background-color:rgba(0,0,0,.85);border:0;padding:0;border-top:0;border-radius:0;left:0;top:40px;width: 200px;}
.navbar-inverse .navbar-nav .dropdown-menu:before {position:absolute;top:0}
.navbar-inverse .navbar-nav .dropdown-menu > li > a{padding:8px 15px;color:#fff}
.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,.navbar-inverse .navbar-nav .dropdown-menu > li.active > a{background-color:#ff5733;color:#fff}
.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a{border-radius:0 0 3px 3px}
.navbar-inverse .navbar-nav .dropdown-menu > li.divider{background-color:transparent}
.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form{border-top:0;padding-bottom:0}
.navbar-inverse .navbar-nav .dropdown-menu > li {position: relative;}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 {position: absolute;top: 0px;right: 200px;width: 200px;background-color:rgba(0,0,0,.85);-webkit-box-shadow:0 3px 8px rgba(0,0,0,0.125);-moz-box-shadow:0 3px 8px rgba(0,0,0,0.125);box-shadow:0 3px 8px rgba(0,0,0,0.125);border:0;padding:0;margin-top:0;border-top:0;border-radius:0;list-style: none;display: none;}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li > a{color:#fff;display: block;}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li:hover > a,.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,.navbar-inverse .navbar-nav .dropdown-menu > li.active > a{background-color:#ff5733;color:#fff}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li.divider{background-color:transparent}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li > a { padding: 7px 15px;}
.navbar-inverse .navbar-nav .dropdown-menu > li:hover > .dropdown-menu2 {display: block;}
.navbar-inverse .navbar-toggle .icon-bar {background: #ff5733;}
.navbar-inverse .navbar-toggle {border-color: #fff;}
/********************************Home Page********************************/
#main-slider{position:relative;margin-top: -43px;z-index:0;padding:0px;}
.no-margin{margin:0;padding:0}
#main-slider .carousel .carousel-content{margin-top: 215px;text-shadow: 1px 1px 2px #000;}
#main-slider .carousel .carousel-content h1,#main-slider .carousel .carousel-content h2{color:#FFF;}
#main-slider .carousel .slide-margin{margin-top:50px}
#main-slider .carousel h1{color:#fff;font-size:36px;}
#main-slider .carousel h2{color:#fff;font-size:26px;margin-top:20px;}
#main-slider .carousel .btn-slide{font-family:'utm-avo-bold';padding:8px 15px;color:#fff;background:rgba(0, 0, 0, 0.6);text-transform:uppercase;border:1px solid #FFF;border-radius:4px;margin-top:25px;display:inline-block;-webkit-transition:opacity 300ms;-moz-transition:opacity 300ms;-o-transition:opacity 300ms;transition:opacity 300ms;}
#main-slider .carousel .btn-slide:hover{background:#ff5733}
#main-slider .carousel .slider-img{text-align:right;position:absolute;display: none;}
#main-slider .carousel .item{background-position:50%;background-repeat:no-repeat;background-size:cover;left:0 !important;opacity:0;top:0;position:absolute;width:100%;display:block !important;height:510px;-webkit-transition:opacity ease-in-out 500ms;-moz-transition:opacity ease-in-out 500ms;-o-transition:opacity ease-in-out 500ms;transition:opacity ease-in-out 500ms}
#main-slider .carousel .item:first-child{top:auto;position:relative}
#main-slider .carousel .item.active{opacity:1;-webkit-transition:opacity ease-in-out 500ms;-moz-transition:opacity ease-in-out 500ms;-o-transition:opacity ease-in-out 500ms;transition:opacity ease-in-out 500ms;z-index:1}
#main-slider .prev,#main-slider .next {position:absolute;top:50%;color:#fff;display:inline-block;margin-top:-25px;height:40px;line-height:40px;width:40px;line-height:40px;text-align:center;border-radius:4px;z-index:5}
#main-slider .prev i,#main-slider .next i {line-height: 40px;font-size:20px;font-weight:bold;}
#main-slider .prev:hover,#main-slider .next:hover{color:#ff5733}
#main-slider .prev{left:10px}
#main-slider .next{right:10px}
#main-slider .carousel-indicators li{width:16px;height:16px;background-color:#fff;margin:0 15px 0 0;position:relative}
#main-slider .carousel-indicators li:after{position:absolute;content:"";width:20px;height:20px;border-radius:100%;background:rgba(0,0,0,0);border:1px solid #FFF;left:-3px;top:-3px}
#main-slider .carousel-indicators .active{width:16px;height:16px;background-color:#ff5733;margin:0 15px 0 0;border:1px solid #ff5733;position:relative}
#main-slider .carousel-indicators .active:after{position:absolute;content:"";width:20px;height:20px;border-radius:100%;background:#ff5733;border:1px solid #FFF;left:-3px;top:-3px}
#main-slider .active .animation.animated-item-1{-webkit-animation:fadeInUp 300ms linear 300ms both;-moz-animation:fadeInUp 300ms linear 300ms both;-o-animation:fadeInUp 300ms linear 300ms both;-ms-animation:fadeInUp 300ms linear 300ms both;animation:fadeInUp 300ms linear 300ms both}
#main-slider .active .animation.animated-item-2{-webkit-animation:fadeInUp 300ms linear 600ms both;-moz-animation:fadeInUp 300ms linear 600ms both;-o-animation:fadeInUp 300ms linear 600ms both;-ms-animation:fadeInUp 300ms linear 600ms both;animation:fadeInUp 300ms linear 600ms both}
#main-slider .active .animation.animated-item-3{-webkit-animation:fadeInUp 300ms linear 900ms both;-moz-animation:fadeInUp 300ms linear 900ms both;-o-animation:fadeInUp 300ms linear 900ms both;-ms-animation:fadeInUp 300ms linear 900ms both;animation:fadeInUp 300ms linear 900ms both}
#main-slider .active .animation.animated-item-4{-webkit-animation:fadeInUp 300ms linear 1200ms both;-moz-animation:fadeInUp 300ms linear 1200ms both;-o-animation:fadeInUp 300ms linear 1200ms both;-ms-animation:fadeInUp 300ms linear 1200ms both;animation:fadeInUp 300ms linear 1200ms both}
#main-slider p{font-family:'utm-avo',Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif !important}
#feature{background:#DDD;padding-bottom:40px}
.features{padding:0}
.feature-wrap{margin-bottom:35px;overflow:hidden}
.feature-wrap h2{margin-top:10px}
.feature-wrap .pull-left{margin-right:25px}
.feature-wrap i{font-size:38px;height:110px;width:110px;margin:3px;border-radius:100%;line-height:110px;text-align:center;background:#fff;color:#ff5733;border:3px solid #fff;box-shadow:inset 0 0 0 5px #DDD;-webkit-box-shadow:inset 0 0 0 5px #DDD;-webkit-transition:500ms;-moz-transition:500ms;-o-transition:500ms;transition:500ms;float:left;margin-right:25px}
.feature-wrap i:hover{background:#ff5733;color:#fff;box-shadow:inset 0 0 0 5px #ff5733;-webkit-box-shadow:inset 0 0 0 5px #ff5733;border:3px solid #ff5733}
#recent-works .col-xs-12.col-sm-4.col-md-3{padding:0px;}
#recent-works{padding-bottom:15px;background:#FFF}
.recent-work-wrap{position:relative;margin:5px;height:220px;overflow:hidden;}
.recent-work-wrap img{width:100%}
.recent-work-wrap .recent-work-inner{top:0;background:transparent;opacity:.8;width:100%;border-radius:0;margin-bottom:0}
.recent-work-wrap .recent-work-inner h3{margin:0 0}
.recent-work-wrap .recent-work-inner h3 a{font-size:14px;color:#fff}
.recent-work-wrap .overlay{width:100%;border-radius:0;color:#fff;text-align:center;vertical-align:middle;-webkit-transition:opacity 300ms;-moz-transition:opacity 300ms;-o-transition:opacity 300ms;transition:opacity 300ms;background:#282828;padding:10px}
.recent-work-wrap .overlay .preview{bottom:0;display:inline-block;height:35px;line-height:35px;border-radius:0;text-align:center;color:#fff}

#toTop{
	position: fixed;
	bottom: 50%;
	right: 10px;
	cursor: pointer;
	display: none;
}
#toTop .fa {margin-right: 5px;}

.zoom_img img{
-moz-transition:-moz-transform 0.3s ease-in; 
-webkit-transition:-webkit-transform 0.2s ease-in; 
-o-transition:-o-transform 0.3s ease-in;
-ms-transform:rotate();
}
.zoom_img img:hover{
-moz-transform:scale(1.2); 
-webkit-transform:scale(1.2);
-o-transform:scale(1.2);
-ms-transform:scale(1.2);
}

#services {background:#CCC;background-size:cover}
#services .view-all a {background: #fff;color: #333;}
#services .view-all a:hover{background: #333;color: #fff;}
#services .lead,#services h2{color:#fff}
.services-wrap{padding:10px 10px;background:#fff;border-radius:4px;margin:0 0 30px;min-height:175px;}
.services-wrap h3{font-size:16px;margin:5px 0}
.services-wrap p{font-size:12px;text-align:justify;}
.services-wrap .pull-left{margin-right:10px;overflow:hidden;width:111px;height:111px;border-radius:111px;border:2px solid #ff5733}
#middle{background:#fff}
.skill h2{margin-bottom:25px}
.progress-wrap{position:relative}
.progress .color1,.progress .color1 .bar-width{background:#2d7da4}
.progress .color2,.progress .color2 .bar-width{background:#6aa42f}
.progress .color3,.progress .color3 .bar-width{background:#fc3}
.progress .color4,.progress .color4 .bar-width{background:#db3615}
.progress,.progress-bar{height:15px;line-height:15px;background:#e6e6e6;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-radius:0;overflow:visible;text-align:right}
.progress{position:relative}
.progress .bar-width{position:absolute;width:40px;height:20px;line-height:20px;text-align:center;font-size:12px;font-weight:700;top:-30px;border-radius:2px;margin-left:-30px}
.progress span{position:relative}
.progress span:before{content:" ";position:absolute;width:auto;height:auto;border-width:8px 5px;border-style:solid;bottom:-15px;right:8px}
.progress .color1 span:before{border-color:#2d7da4 transparent transparent transparent}
.progress .color2 span:before{border-color:#6aa42f transparent transparent transparent}
.progress .color3 span:before{border-color:#fc3 transparent transparent transparent}
.progress .color4 span:before{border-color:#db3615 transparent transparent transparent}
.accordion {margin-bottom: 15px;}
.accordion h2{margin-bottom:25px;margin-top: 0px;}
.panel-default{border-color:transparent}
.panel-default>.panel-heading,.panel{background-color:#DDD;border:0 none;box-shadow:none}
.panel-default>.panel-heading+.panel-collapse .panel-body{background:#CCC;color:#000;}
.panel-body{padding:20px 20px 10px}
.panel-group .panel+.panel{margin-top:0;border-top:1px solid #CCC;}
.panel-group .panel{border-radius:0;}
.panel-heading{border-radius:0}
.panel-title>a{color:#4e4e4e}
.accordion-inner img{border-radius:4px}
.accordion-inner h4{margin-top:0}
.panel-heading.active{background:#1f1f20}
.panel-heading.active .panel-title>a{color:#fff}
a.accordion-toggle i{width:45px;line-height:44px;font-size:20px;margin-top:-10px;text-align:center;margin-right:-15px;background:#333;color:#FFF;}
.panel-heading.active a.accordion-toggle i{background:#ff5733;color:#fff}
.panel-heading.active a.accordion-toggle.collapsed i{background:#ff5733;color:#fff}
.nav-tabs>li{margin-bottom:0;border-bottom:1px solid #e6e6e6}
.nav-tabs{border-bottom:transparent;border-right:1px solid #e6e6e6}
.nav-tabs>li>a{background:#DDD;color:#666;border-radius:0;border:0 none;line-height:24px;margin-right:0;padding:13px 15px}
.nav-tabs li:last-child{border-bottom:0 none}
.nav-stacked>li+li{margin-top:0}
.nav-tabs>li>a:hover{background:#1f1f20;color:#fff}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{border:0;color:#fff;background:#1f1f20;position:relative}
.nav-tabs>li.active>a:after{position:absolute;content:"";width:auto;height:auto;border-style:solid;border-color:transparent transparent transparent #1f1f20;border-width:25px 22px;right:-44px;top:0}
.tab-wrap{border:1px solid #e6e6e6;margin-bottom:20px}
.tab-content{padding:20px}
.tab-content h2{margin-top:0}
.tab-content img{border-radius:4px}
.testimonial h2{margin-top:0}
.testimonial-inner{color:#858586;font-size:14px}
.testimonial-inner .pull-left{border-right:1px solid #e7e7e7;padding-right:15px;position:relative}
.testimonial-inner .pull-left:after{content:"";position:absolute;width:9px;height:9px;top:50%;margin-top:-5px;background:#FFF;-webkit-transform:rotate(45deg);border:1px solid #e7e7e7;right:-5px;border-left:0 none;border-bottom:0 none}
#partner{background:#FFF;overflow:hidden;padding:10px;text-align:center}
#partner{color:#fff;text-align:center}
#partner h2,#partner h3{}
.partners ul{list-style:none;margin:0;padding:0}
.partners ul li{    float: left;
    width: 19.2%;
    margin-bottom: 10px;
    /* border: 1px solid #CCC; */
    height: 150px;
    box-shadow: 1px 3px 1px #CCC;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    background: #FFF;
    padding: 10px;
    box-sizing: border-box;}
.partners ul li a{text-align:center;overflow:hidden;}
#conatcat-info{background:#fff url(../images/contact.png) no-repeat 90% 30px;padding:30px 0}
.contact-info i{width:20px;height:20px;font-size:15px;line-height:20px;color:#fff;background:#000;text-align:center;border-radius: 3px}
.contact-info h3 {margin-top:0;color:#000;font-weight: bold;}
.contact-info{color:#000}
/*.img-responsive {height: 100%!important;}*/
/********************************** About Us Page CSS ********************************/.about-us{margin-top:110px;margin-bottom:-110px}
#blog-detail {background: #fff;padding: 30px 0px!important;margin-top: 15px;margin-bottom: 15px;border-radius: 5px;}
#blog {background: #fff;padding: 30px 15px!important;margin-top: 15px;margin-bottom: 15px;border-radius: 5px;}
#blog h1 {color: #4e4e4e;margin: 0px;}
#contact-info {background: #fff;}
#contact-page {background: #fff;}
.about-us h2,.skill_text h2{color:#4e4e4e;font-size:30px;font-weight:600}
.about-us p{color:#4e4e4e}
#carousel-slider{position:relative}
#carousel-slider .carousel-indicators{bottom:-25px}
#carousel-slider .carousel-indicators li{border:1px solid #ffbd20}
#carousel-slider a i{border:1px solid #777;border-radius:50%;font-size:28px;height:50px;padding:8px;position:absolute;top:50%;width:50px;color:#777}
#carousel-slider a i:hover{background:#bfbfbf;color:#fff;border:1px solid #bfbfbf}
#carousel-slider .carousel-control{width:inherit}
#carousel-slider .carousel-control.left i{left:-25px}
#carousel-slider .carousel-control.right i{right:-25px}
#carousel-slider.carousel-control.left,#carousel-slider.carousel-control.right{background:none}
.skill_text{display:block;margin-bottom:60px;margin-top:25px;overflow:hidden}
.sinlge-skill{background:#DDD;border-radius:100%;color:#FFF;font-size:22px;font-weight:bold;height:200px;position:relative;width:200px;text-transform:uppercase;overflow:hidden;margin:30px 0}
.sinlge-skill p em{color:#FFF;font-size:38px}
.sinlge-skill p{line-height:1}
.joomla-skill,.html-skill,.css-skill,.wp-skill{position:absolute;height:100%;bottom:0;width:100%;border-radius:100%;padding:70px 0;text-align:center}
.joomla-skill{background:rgb(242,242,242);/* Old browsers */ background:-moz-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%);/* FF3.6+ */ background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(242,242,242,1)),color-stop(28%,rgba(242,242,242,1)),color-stop(28%,rgba(45,125,164,1)));/* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%);/* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%);/* Opera 11.10+ */ background:-ms-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%);/* IE10+ */ background:linear-gradient(to bottom,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 28%,rgba(45,125,164,1) 28%);/* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDD',endColorstr='#2d7da4',GradientType=0 );/* IE6-9 */}
.html-skill{background:rgb(242,242,242);/* Old browsers */ background:-moz-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%);/* FF3.6+ */ background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(242,242,242,1)),color-stop(9%,rgba(242,242,242,1)),color-stop(9%,rgba(106,164,47,1)));/* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%);/* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%);/* Opera 11.10+ */ background:-ms-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%);/* IE10+ */ background:linear-gradient(to bottom,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 9%,rgba(106,164,47,1) 9%);/* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDD',endColorstr='#6aa42f',GradientType=0 );/* IE6-9 */}
.css-skill{background:rgb(242,242,242);/* Old browsers */ background:-moz-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%);/* FF3.6+ */ background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(242,242,242,1)),color-stop(32%,rgba(242,242,242,1)),color-stop(32%,rgba(255,189,32,1)));/* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%);/* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%);/* Opera 11.10+ */ background:-ms-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%);/* IE10+ */ background:linear-gradient(to bottom,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 32%,rgba(255,189,32,1) 32%);/* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDD',endColorstr='#ffbd20',GradientType=0 );/* IE6-9 */}
.wp-skill{background:rgb(242,242,242);/* Old browsers */ background:-moz-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%);/* FF3.6+ */ background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(242,242,242,1)),color-stop(19%,rgba(242,242,242,1)),color-stop(19%,rgba(219,54,21,1)));/* Chrome,Safari4+ */ background:-webkit-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%);/* Chrome10+,Safari5.1+ */ background:-o-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%);/* Opera 11.10+ */ background:-ms-linear-gradient(top,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%);/* IE10+ */ background:linear-gradient(to bottom,rgba(242,242,242,1) 0%,rgba(242,242,242,1) 19%,rgba(219,54,21,1) 19%);/* W3C */ filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDD',endColorstr='#db3615',GradientType=0 );/* IE6-9 */}
.skill-wrap{display:block;overflow:hidden;margin:60px 0}
.team h4{margin-top:0;text-transform:uppercase}
.team h5{font-weight:300}
.single-profile-top,.single-profile-bottom{font-weight:400;line-height:24px}
.single-profile-top,.single-profile-bottom{border:1px solid #ddd;padding:15px;position:relative}
.media_image{margin-bottom:10px}
.team .btn{background:transparent;font-size:12px;font-weight:300;margin-bottom:3px;padding:1px 5px;text-transform:uppercase;border:1px solid#ddd;margin-right:3px}
ul.social_icons,ul.tag{list-style:none;padding:0;margin:10px 0;display:block}
ul.social_icons li,ul.tag li{display:inline-block;margin-right:5px}
ul.social_icons li a i{border-radius:50%;color:#FFF;height:25px;line-height:25px;font-size:12px;padding:0;text-align:center;width:25px;opacity:.8}
.team .social_icons .fa-facebook:hover,.team .social_icons .fa-twitter:hover,.team .social_icons .fa-google-plus:hover{transform:rotate(360deg);-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg);transition-duration:2s;transition-property:all;transition-timing-function:ease;opacity:1;transition:all 0.9s ease 0s;-moz-transition:all 0.9s ease 0s;-webkit-transition:all 0.9s ease 0s;-o-transition:all 0.9s ease 0s}
.team .social_icons .fa-facebook{background:#0182c4}
.team .social_icons .fa-twitter{background:#20B8FF}
.team .social_icons .fa-google-plus{background:#D34836}
.team-bar .first-one-arrow{float:left;margin-right:30px;width:2%}
.team-bar .first-arrow{float:left;margin-left:5px;margin-right:35px;width:22%}
.team-bar .second-arrow{float:left;margin-left:5px;width:21%}
.team-bar .third-arrow{float:left;margin-left:40px;margin-right:12px;width:22%}
.team-bar .fourth-arrow{float:left;margin-left:25px;width:20%}
.team-bar .first-one-arrow hr{border-bottom:1px solid #2D7DA4;border-top:1px solid #2D7DA4}
.team-bar .first-arrow hr{border-bottom:1px solid #2D7DA4;border-top:1px solid #2D7DA4}
.team-bar .second-arrow hr{border-bottom:1px solid #6aa42f;border-top:1px solid #6aa42f}
.team-bar .third-arrow hr{border-bottom:1px solid #FFBD20;border-top:1px solid #FFBD20}
.team-bar .fourth-arrow hr{border-bottom:1px solid #db3615;border-top:1px solid #db3615}
.team-bar{margin-bottom:15px;margin-top:30px;position:relative}
.team-bar i{border-radius:50%;color:#FFF;display:block;height:24px;line-height:24px;margin-top:-32px;overflow:hidden;padding:0;text-align:center;width:24px;position:absolute}
.team-bar .first-arrow .fa-angle-up{background:#2D7DA4;margin-left:-33px}
.team-bar .second-arrow .fa-angle-down{background:#6AA42F;margin-left:-33px}
.team-bar .third-arrow .fa-angle-up{background:#FFBD20;margin-left:-32px}
.team-bar .fourth-arrow .fa-angle-down{background:#db3615;margin-left:-32px}
.team .single-profile-top:before,.team .single-profile-top:after{content:"";position:absolute;width:0;height:0;border-style:solid}
.team .single-profile-top:before{left:26px;bottom:-20px;border-width:10px;border-color:#fff transparent transparent transparent;z-index:1}
.team .single-profile-top:after{left:25px;bottom:-22px;border-style:solid;border-width:11px;border-color:#ddd transparent transparent transparent;z-index:0}
.team .single-profile-bottom:before,.team .single-profile-bottom:after{position:absolute;content:"";width:0;height:0;border-style:solid}
.team .single-profile-bottom:before{left:30px;top:-20px;border-width:10px;border-color:transparent transparent #fff transparent;z-index:1}
.team .single-profile-bottom:after{left:29px;top:-22px;border-style:solid;border-width:11px;border-color:transparent transparent #DDD transparent;z-index:0}
/***************************Service page css***************************/.services{padding:0}
.get-started{background:none repeat scroll 0 0 #F3F3F3;border-radius:3px;padding-bottom:30px;position:relative;margin-bottom:18px;margin-top:60px}
.get-started h2{padding-top:30px;margin-bottom:20px}
.request{bottom:-15px;left:50%;position:absolute;margin-left:-110px}
.request h4{position:absolute;width:220px;position:relative}
.request h4 a{background:#ff5733;color:#fff;font-size:14px;font-weight:normal;border-radius:3px;padding:5px 15px}
.request h4:after{border-color:#ff5733 transparent transparent;border-style:solid;border-width:12px;bottom:-18px;content:"";height:0;position:absolute;right:13px;z-index:-99999}
.request h4:before{border-color:#ff5733 transparent transparent;border-style:solid;border-width:12px;bottom:-18px;content:"";height:0;left:13px;position:absolute;z-index:-99999}
.clients-area{padding:60px}
.clients-comments{background-image:url("../images/image_bg.png");background-position:center 118px;background-repeat:no-repeat;margin-bottom:100px}
.clients-comments img{background:#DDD;border:1px solid #DDD;height:182px;padding:3px;width:182px;transition:all 0.9s ease 0s;-moz-transition:all 0.9s ease 0s;-webkit-transition:all 0.9s ease 0s;-o-transition:all 0.9s ease 0s}
.clients-comments h3{margin-top:55px;font-weight:300;padding:0 40px}
.clients-comments h4{font-weight:300;margin-top:15px}
.clients-comments h4 span{font-weight:700;font-style:oblique}
.footer{background:none repeat scroll 0 0 #2E2E2E;border-top:5px solid #ff5733;height:84px;margin-top:110px}
.footer_left{padding:10px}
.gototop{position:absolute;right:15px;bottom:-61px;cursor:pointer}
.text-left{color:#FFF;font-size:12px;margin-top:15px}
/********************************** Portfolio CSS ********************************/#portfolio_page{margin-top:115px;padding-bottom:0}
.portfolio-items,.portfolio-filter{list-style:none outside none;margin:0 0 40px 0;padding:0}
.portfolio-filter > li{display:inline-block}
.portfolio-filter > li a{background:none repeat scroll 0 0 #FFF;font-size:14px;font-weight:400;margin-right:20px;text-transform:uppercase;transition:all 0.9s ease 0s;-moz-transition:all 0.9s ease 0s;-webkit-transition:all 0.9s ease 0s;-o-transition:all 0.9s ease 0s;border:1px solid #F2F2F2;outline:none;border-radius:3px}
.portfolio-filter > li a:hover,.portfolio-filter > li a.active{color:#fff;background:#ff5733;border:1px solid #ff5733;box-shadow:none;-webkit-box-shadow:none}
.portfolio-items > li{float:left;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.portfolio-item{margin:0;padding:0}
/* Start:Recommended Isotope styles *//**** Isotope Filtering ****/.isotope-item{z-index:2}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
/**** Isotope CSS3 transitions ****/.isotope,.isotope .isotope-item{-webkit-transition-duration:0.8s;-moz-transition-duration:0.8s;-ms-transition-duration:0.8s;-o-transition-duration:0.8s;transition-duration:0.8s}
.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:-o-transform,opacity;transition-property:transform,opacity}
/**** disabling Isotope CSS3 transitions ****/.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0s;-moz-transition-duration:0s;-ms-transition-duration:0s;-o-transition-duration:0s;transition-duration:0s}
/* End:Recommended Isotope styles *//* disable CSS transitions for containers with infinite scrolling*/.isotope.infinite-scrolling{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none}
/*********************************** Pricing Table CSS ***************************/.pricing_heading{margin-top:120px}
.pricing_heading h2,.pricing_heading p{color:#4e4e4e}
.pricing-area h1{font-weight:300;margin-top:0;margin-bottom:15px}
.pricing-area span{font-weight:700;font-size:18px}
.pricing-area h3,.pricing-area span{color:#fff}
.plan{position:relative;margin-bottom:70px}
.pricing-area ul{background:#FAFAFA;padding:0;margin:0}
.pricing-area ul li{list-style:none;padding:15px 0;font-size:16px;font-weight:400}
.pricing-area ul li:nth-child(even){background:#DDD}
.pricing-area .price-three img,.pricing-area .price-six img{position:absolute;right:15px;top:0}
.pricing-area .heading-one,.pricing-area .heading-two,.pricing-area .heading-three{padding:17px 0;border-radius:2px 2px 0 0}
.pricing-area .heading-one,.pricing-area .heading-two,.pricing-area .heading-three,.pricing-area .heading-four,.pricing-area .heading-five,.pricing-area .heading-six,.pricing-area .heading-seven{margin-left:-10px}
.pricing-area .heading-one,.pricing-area .price-one .plan-action .btn-primary{background:#e24f43}
.pricing-area .heading-two,.pricing-area .price-two .plan-action .btn-primary{background:#27AE60}
.pricing-area .heading-three,.pricing-area .price-three .plan-action .btn-primary{background:#f39c12}
.pricing-area .heading-four,.pricing-area .price-four .plan-action .btn-primary{background:#5c5c5c}
.pricing-area .heading-five,.pricing-area .price-five .plan-action .btn-primary{background:#5c5c5c}
.pricing-area .heading-six,.pricing-area .price-six .plan-action .btn-primary{background:#e24f43}
.pricing-area .heading-seven,.pricing-area .price-seven .plan-action .btn-primary{background:#5c5c5c}
.pricing-area .bg{background:#fafafa}
.pricing-area .heading-one h3:before{border-color:#bf4539 transparent transparent}
.pricing-area .heading-two h3:before{border-color:#1f8c4d transparent transparent}
.pricing-area .heading-three h3:before{border-color:#d4880f transparent transparent}
.pricing-area .heading-four h3:before{border-color:#424242 transparent transparent}
.pricing-area .heading-five h3:before{border-color:#424242 transparent transparent}
.pricing-area .heading-six h3:before{border-color:#bf4539 transparent transparent}
.pricing-area .heading-seven h3:before{border-color:#424242 transparent transparent}
.pricing-area h3:before{border-color:#D4880F transparent transparent;border-radius:5px 0 0 0;border-style:solid;border-width:12px;content:"";height:0;left:4px;position:absolute;top:78px;width:0;z-index:-999}
.small-pricing h3:after{height:94px}
.small-pricing h3:before{top:74px}
.plan-action{height:40px}
.pricing-area .plan-action .btn-primary{position:relative;padding:5px 20px;color:#fff;margin-top:5px}
.pricing-area .plan-action .btn-primary:before{border-color:#E24F43 transparent transparent;border-radius:5px 0 0 0;border-style:solid;border-width:12px;bottom:-12px;content:"";height:0;left:-9px;position:absolute;width:0;z-index:-1}
.pricing-area .plan-action .btn-primary:after{border-color:#E24F43 transparent transparent;border-radius:5px 0 0 0;border-style:solid;border-width:12px;bottom:-12px;content:"";height:0;position:absolute;right:-9px;width:0;z-index:-1}
.pricing-area .price-two .plan-action .btn-primary:before,.pricing-area .price-two .plan-action .btn-primary:after{border-color:#1f8c4d transparent transparent}
.pricing-area .price-three .plan-action .btn-primary:before,.pricing-area .price-three .plan-action .btn-primary:after{border-color:#d4880f transparent transparent}
.pricing-area .price-four .plan-action .btn-primary:before,.pricing-area .price-four .plan-action .btn-primary:after,.pricing-area .price-five .plan-action .btn-primary:before,.pricing-area .price-five .plan-action .btn-primary:after,.pricing-area .price-seven .plan-action .btn-primary:before,.pricing-area .price-seven .plan-action .btn-primary:after{border-color:#424242 transparent transparent;right:-9px}
.pricing-area .price-six .plan-action .btn-primary:before,.pricing-area .price-six .plan-action .btn-primary:after{border-color:#bf4539 transparent transparent;right:-9px}
/********************************** Contact Us CSS ********************************/.gmap-area{background-image:url("../images/map.jpg");background-position:0 0;background-repeat:no-repeat;background-size:cover;padding:70px 0}
.gmap-area .gmap iframe{border-radius:50%;height:480px;width:500px}
.gmap{border:10px solid #f6f5f0;height:500px;width:500px;box-shadow:0 0 3px 3px #e7e4dc;overflow:hidden;position:relative;margin:0 auto;border-radius:50%;}
.gmap-area .map-content ul{list-style:none}
.gmap-area .map-content address h5{font-weight:700;/* font-size:16px;*/}
#contact-page{padding-top:0}
#contact-page .contact-form .form-group label{color:#4E4E4E;font-size:16px;font-weight:300}
.form-group .form-control{padding:7px 12px;border-color:#DDD;box-shadow:none}
textarea#message{resize:none;padding:10px}
#contact-page .contact-wrap{margin-top:20px}
/*************************blog page css***************************/.widget{margin-bottom:60px;padding-left:0}
.single_comments{margin-bottom:20px}
.single_comments img{float:left;margin-right:10px;margin-top:5px}
.single_comments p{margin-bottom:0}
.widget .entry-meta span{display:inline-block;margin-right:10px}
.widget h3{color:#000;text-transform:uppercase;margin-bottom:20px; margin-top: 0px;}
.blog_category{list-style:none;margin:0;padding:0}
.blog_category li{float:none;margin-bottom:20px}
.blog_category li a{background:#DDD;border-radius:4px;color:#888;display:inline-block;padding:5px 15px}
.blog_category li a:hover{background:#ff5733;color:#fff}
.badge:before{border-color:transparent transparent transparent #ff5733;border-style:solid;border-width:10px;bottom:-8px;content:"";height:0;left:5px;position:absolute;z-index:-99999}
.badge{background-color:#ff5733;border-radius:5px;color:#fff;padding:8px;position:relative;left:60px;top:-18px;font-weight:normal}
.blog_archieve{list-style:none outside none;margin:0;padding:0}
.blog_archieve li{padding:10px 0;border-bottom:1px solid #DDD}
.blog_archieve li:first-child{padding-top:0}
ul.gallery{list-style:none;padding:0;margin:0}
ul.gallery li{display:block;width:60px;padding:0;margin:0 4px 4px 0;float:left}
ul.faq{list-style:none;margin:0}
ul.faq li{margin-top:30px}
ul.faq li:first-child{margin-top:0}
ul.faq li span.number{display:block;float:left;width:50px;height:50px;line-height:50px;text-align:center;background:#34495e;color:#fff;font-size:24px}
ul.faq li > div{margin-left:70px}
ul.faq li > div h3{margin-top:0}
.embed-container{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}
.embed-container iframe,.embed-container object,.embed-container embed{position:absolute;top:0;left:0;width:100%;height:100%}
.blog-item{border-radius:0;overflow:hidden;margin-bottom:50px}
.blog .blog-item .img-blog{border-radius:5px;float: left;width: 200px;margin-right: 15px;}
.blog .blog-item .blog-content{padding-bottom:25px}
.blog .blog-item .blog-content h2 {margin-top:0;font-size:16px;text-align: left;}
.readmore{margin-top:0;position:absolute;right:22px;bottom:10px;}
.blog .blog-item .blog-content h3{color:#858586;margin-bottom: 15px;font-size: 14px;}
.blog .blog-item .blog-content h4{font-size:14px}
.post-tags{}
.blog .blog-item .entry-meta{border-radius:5px;overflow:hidden}
.blog .blog-item .entry-meta > span{background:#DDD;border-top:1px solid #fff;display:block;font-size:12px;overflow:hidden;padding:5px;text-align:left}
#publish_date{background:#ff5733;border-bottom:5px solid #4e4e4e;color:#fff;padding:5px 0;text-align:center}
.blog .blog-item .entry-meta > span{color:#ccc}
.blog .blog-item .entry-meta > span a{font-size:12px;margin-left:3px;font-weight:300;color:#888}
ul.pagination > li > a{border:1px solid #F1F1F1;margin-right:5px;border-radius:5px;font-size:16px;padding:5px 14px}
ul.pagination > li > a i{margin-left:5px;margin-right:5px}
ul.pagination > li.active > a,ul.pagination > li:hover > a{background-color:#ff5733 !important;border-color:#ff5733 !important;color:#fff}
.search_box{background-image:url("../images/search_icon.png");background-position:314px 15px;background-repeat:no-repeat;border-color:#DEDEDE;height:48px;outline:medium none;box-shadow:none}
.form-control:focus{box-shadow:none;outline:0 none}
ul.tag-cloud,ul.sidebar-gallery{list-style:none;padding:0;margin:0}
.tag-cloud li{display:inline-block;margin-bottom:3px}
.tag-cloud li a{background:#DDD;color:#888;border:0;border-radius:4px;padding:8px 15px}
.tag-cloud li a:hover{background:#ff5733;color:#fff}
.sidebar-gallery li{display:inline-block;margin:0 10px 10px 0}
.sidebar-gallery li a{border-radius:4px;display:inline-block}
/************************blog single page css***********************/.reply_section{background:#DDD;border-radius:5px}
.post_reply{margin-left:10px;margin-top:45px}
.post_reply img{width:85px;height:85px;border:5px solid #D5D8DD}
.post_reply ul{list-style:none outside none;margin:0;padding:0;margin-top:5px}
.post_reply ul li{float:left}
.post_reply ul li a{display:block}
.post_reply ul li a i{border:1px solid #DDD;border-radius:39px;color:#FFF;font-size:20px;height:30px;margin-right:3px;padding-top:7px;text-align:center;width:30px}
.post_reply ul li a i.fa-facebook{background:#0182C4}
.post_reply ul li a i.fa-twitter{background:none repeat scroll 0 0 #3FC1FE}
.post_reply ul li a i.fa-google-plus{background:none repeat scroll 0 0 #D34836}
.post_reply ul li a i:hover{opacity:.5}
.post_reply_content{margin:30px}
.post_reply_content h1 a:hover{color:#FFC800}
.post_reply_content h4{margin-bottom:50px}
.reply_section .media-body{display:inherit}
.comment_section .media-body{display:inherit}
#comments_title{color:#4e4e4e;font-weight:700px;font-size:20px;margin-top:60px;margin-bottom:40px}
.comment_section{margin-top:30px;position:relative}
.post_comments img{width:85px;height:85px;margin-top:35px}
.post_reply_comments{background:#DDD;border-radius:4px;padding:30px}
.post_reply_comments:before{border-color:transparent #F0F0F0 transparent transparent;border-style:solid;border-width:15px;content:" ";height:0;left:75px;position:absolute;top:20px}
.post_reply_comments h3,.post_reply_content h3{margin-top:0}
.post_reply_comments h1 a:hover{color:#ff5733}
.post_reply_comments h4{color:#c4c4c5;font-weight:400}
.post_reply_comments p{padding-bottom:30px}
.post_reply_comments a{bottom:15px;position:absolute;right:30px;background:#ff5733;color:#fff;border-radius:5px;padding:8px 20px}
.post_reply_comments a:before{border-color:#ff5733 transparent transparent;border-style:solid;border-width:16px;bottom:-11px;content:"";height:0;left:-12px;position:absolute;z-index:99999}
.post_reply_comments h2 a{}
.message_heading{margin-bottom:50px;margin-top:60px}
.newletter {position: relative;}
.newletter .newletter-main {padding-right: 100px;}
.newletter button {padding: 5px 25px;background: #ff5733;color: #fff;border-radius: 4px;display: inline-block;border: none;position: absolute;top: 0px;right: 0px;}
.view-all {text-align: center;}
.view-all a {padding: 8px 20px;background: #ff5733;color: #fff;margin-top: 25px;display: inline-block;}.view-all a:hover {background: #333;font-weight:bold;}
.view-all.simple a{padding: 5px 10px;background: none;border:1px solid #333;color:#333;font-size:14px !important;text-transform:uppercase;font-family:'utm-avo-bold'}
.product-list .title {text-align: center;}
.product-list .title h1 {font-size: 30px;margin-top: 0;margin-bottom: 20px;color: #4e4e4e;}
.product-list .product-item{padding:5px;margin:0px !important;}
.product-list .product-item .name{background:#282828;height:30px;text-align:center;overflow:hidden;text-shadow:none;}
.product-list .product-item .name a{color:#FFF;text-align:center;line-height:30px;font-family: utm-avo-bold;font-size:13px;text-shadow:none;}
.product-list .big-thumb {position: relative;border: 1px solid #ddd;overflow:hidden;}
.product-list .big-thumb img {width: 100%;height:200px;}
.product-list .big-thumb h3 {position:absolute;bottom:0;left:0;width:100%;border-radius:0;background:rgba(0, 0, 0, 0.6);color:#fff;text-align:center;vertical-align:middle;-webkit-transition:opacity 500ms;-moz-transition:opacity 500ms;-o-transition:opacity 500ms;transition:opacity 500ms;margin: 0px;}
.product-list .big-thumb h3 a {display: block;color: #fff;padding:5px;font-size:12px;}
.product-list .bottom-tt {display: none;}
.product-list.large .product-item{margin:0px;padding:0px;}
.product-list.large .big-thumb{border:0px;}
.product-list.large .big-thumb img {width: 100%;height:250px;}
.product-list .view-all-wrapper{background:#282828;float:left;width:100%;padding:30px 0px 30px 0px; text-align:center;}
.product-list .view-all-wrapper a{color:#ff5733;font-family:'utm-avo-bold';padding:7px 10px 7px 10px;border:1px solid #ff5733;text-transform:uppercase;font-size:12px;}
.home-product .name{text-align:center;overflow:hidden;text-shadow:none;padding:5px;}
.home-product .name a{font-family: utm-avo-bold;font-size:13px;float:left;width:100%;height:35px;line-height:35px;background:#282828;color:#ff6f5b;text-align:center;text-shadow:none;text-transform:uppercase;}
.home-product .recent-work-wrap{margin:0px}
.project-details{    position: absolute;
    width: 100%;
    top: 40%;background:none;}	
.project-inner{
	position:relative;
}
.project-inner .project-caption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(40,40,40,0.7);		
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	visibility: hidden;
	opacity: 0;	
}
.project-inner:hover .project-caption, .project-inner:focus .project-caption{
	visibility: visible;
	opacity: 1;
}
.project-caption {
    color: #fff;
    text-align: center;
}
.project-caption i{
	color: #ff5733;
	font-size:20px;
}
.project-caption h3{
	font-family: 'utm-avo', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	background:none !important;
	position:absolute;
	top:75%;
}

/****************** 404 page css ******************/#error .btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success:hover{background-color:#EBEBEB;border-color:#EBEBEB;color:#4E4E4E}
#error h1{color:#4e4e4e;text-transform:uppercase}
/******************shortcodes page css******************/.shortcode-item{padding-bottom:0}
.shortcode-item h2{color:#4E4E4E;font-size:24px;margin-bottom:22px;margin-top:0;font-weight:600}
/******************************** Footer ******************************/#bottom{background:#DDD;border-bottom:5px solid #ff5733;font-size:14px}
#bottom h3{margin-top:0;margin-bottom:10px;text-transform:uppercase;font-size:20px;color:#666;padding-bottom: 7px;border-bottom: 1px solid #ccc;}
#bottom ul{list-style:none;padding:0;margin:0}
#bottom ul li{display:block;padding:5px 0}
#bottom ul li a{color:#808080}
#bottom ul li a:hover{color:#ff5733}
#bottom .widget{margin-bottom:0}
#footer{padding-top:30px;padding-bottom:30px;color:#fff;background:#2e2e2e}
#footer a{color:#fff}
#footer a:hover{color:#ff5733}
#footer ul{list-style:none;padding:0;margin:0}
#footer ul > li{display:inline-block;margin-left:15px}
.detail {border: 1px solid #ddd;margin-bottom: 15px;padding: 15px;}
.detail h1.title {font-size: 20px;color: #555;margin: 0px 0px 10px 0px;padding: 0px 0px 7px 0px;border-bottom: 1px solid #ddd;}
.detail span.time {font-size: 12px;display: block;padding: 5px 0px;}
.detail img {width: 85%;margin: 10px auto;display: block;border: 1px solid #ddd;padding: 3px;}
.detail p {color: #555;}.detail p a {text-decoration: underline;color: #0dbd00;}
.share {padding: 10px 0px;border-top: 1px solid #efefef;border-bottom: 1px solid #efefef;margin-bottom: 15px;}
.share a {float: left;color: #d4302b;}
.share a.sr {margin-right: 15px;}
a.sr {padding-left: 25px;display: inline-block;background: url(../images/sr.png) left center no-repeat;margin-top: 3px;}
a.print {padding-left: 25px;display: inline-block;background: url(../images/print.png) left center no-repeat;margin-top: 3px;}
a.save {padding-left: 25px;display: inline-block;background: url(../images/save.png) left center no-repeat;margin-top: 3px;}
a.in {display: inline-block;width: 29px;height: 29px;background: url(../images/in.png) center no-repeat;margin: 0px 1px;}
a.fb {display: inline-block;width: 29px;height: 29px;background: url(../images/fb.png) center no-repeat;margin: 0px 1px;}
a.tw {display: inline-block;width: 29px;height: 29px;background: url(../images/tw.png) center no-repeat;margin: 0px 1px;}
a.mail {display: inline-block;width: 29px;height: 29px;background: url(../images/mail.png) center no-repeat;margin: 0px 1px;}
.other-news {margin-bottom: 15px;border-bottom: 1px solid #ddd;}
.other-news .title {text-transform: uppercase;font-size: 14px;font-weight: normal;color: #333;font-weight: bold;padding-bottom: 7px;border-bottom: 1px solid #ddd;margin-bottom: 10px;}
.other-news ul {margin: 0;padding: 0;list-style: none;}
.other-news ul li {margin-bottom: 8px;}
.other-news ul li a {color: #333;}
.other-news ul li a span {color: #d4302b;margin-right: 5px;}
.video {padding: 2px;border: 1px solid #ddd;margin-bottom: 15px;}
.video .title {background-color: #a5a5a5;margin-bottom: 2px;padding: 10px 20px;color: #fff;font-size: 15px;font-family:'utm-avo', 'Roboto Condensed', sans-serif;text-transform: uppercase;}
.video .title span {margin-right: 5px;}
.list-news-bar {padding: 2px;border: 1px solid #ddd;margin-bottom: 15px;}
.list-news-bar .title {background-color: #a5a5a5;margin-bottom: 10px;padding: 10px 20px;color: #fff;font-size: 15px;font-family: 'utm-avo','Roboto Condensed', sans-serif;text-transform: uppercase;}
.list-news-bar .title span {margin-right: 5px;}
.list-news-bar ul {padding: 0px 5px;margin: 0;list-style: none;}
.list-news-bar ul li {padding: 5px 0px;border-bottom: 1px solid #ddd;overflow: hidden;}
.list-news-bar ul li:last-child {border-bottom: none;}
.list-news-bar ul li img {width: 80px;float: left;padding: 2px;border: 1px solid #ddd;margin-right: 5px;}

.tag {padding: 5px 0px;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;margin-bottom: 15px;}
aside.preview {}
aside.preview img#main {width: 100%;height: 100%;}
aside.preview nav {text-align: center;}
aside.preview nav img {width: 66px;height: 66px;border: 1px solid #ddd;}
aside.preview p {padding-top: 10px;text-align: center;}

.product-detail .zoom-in{float:left;width:60px;height:60px;position:absolute;top:35%;left:45%;background:url(../images/zoom_in.png) no-repeat;}
.product-detail .preview{position:relative;}
.main-detail-info {}
.main-detail-info  h1 {font-size: 18px;color: #333;}
.main-pice {font-size: 30px;color: #e33c05;font-weight: bold;}
.main-pice p em {font-size: 14px;}
.main-pice p span {font-size: 16px;float: right;font-weight: normal;font-style: italic;}
.main-detail-info ul.ts {overflow: hidden;list-style: none;margin: 0px;padding: 0px;padding-bottom: 15px;border-bottom: 1px solid #000;margin-bottom: 15px;}
.main-detail-info ul.ts li {float: left;margin-right: 15px;}
.main-detail-info ul.ts li strong {font-size: 18px;}
.main-detail-info .share .title {font-size: 13px;font-weight: bold;padding-bottom: 7px;border-bottom: 1px solid #000;margin-bottom: 7px;}
.fr-addcart .last .order .button-order {float: right;display: inline-block;padding: 7px 30px;color: #fff;font-weight: bold;background: #6b6b6b;border-radius: 5px;}
.cnt-detail {clear: both;padding-top: 30px;margin-bottom: 15px;}
.cnt-detail .tab-content {border: 1px solid #ddd;padding: 15px;margin-top: -2px;}
.cnt-detail .tab-content a {color: #000;}
.cnt-detail .tab-content h3 {margin: 0;padding: 0;font-family: Georgia;font-size: 16px;padding-bottom: 7px;border-bottom: 1px solid #ddd;margin-bottom: 15px;}
.cnt-detail #tab3 img {width: 100%;}
.cnt-detail .nav-tabs {border-right: none;}
.cnt-detail table {border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;}
.cnt-detail table tr th {border-top: 1px solid #ddd;border-right: 1px solid #ddd;padding: 5px;background: #ff5733;text-align: center;color: #fff;}
.cnt-detail table tr td {border-top: 1px solid #ddd;border-right: 1px solid #ddd;padding: 5px;}
.cnt-detail .nav-tabs>li.active>a:after {display: none;}
.cnt-detail .nav-tabs>li>a {padding: 7px 20px;}
.cnt-detail .catalog a {color: #ff5733;font-weight: bold;}
.cnt-detail .catalog li {margin-bottom: 5px;}
.product-other {padding: 2px;border: 1px solid #ddd;margin-bottom: 15px;}
.product-other .title {background-color: #a5a5a5;margin-bottom: 2px;padding: 10px 20px;color: #fff;font-size: 15px;font-family: 'utm-avo','Roboto Condensed', sans-serif;text-transform: uppercase;}
.product-other .title span {margin-right: 5px;}
.faq-list-item a{font-size:16px;}

.gallery .desc{}
.gallery .desc img{width:75%; text-align:center;margin:auto;}
.gallery .sub-gallery{    padding: 20px;
    margin: auto;
    background: #FFF;
    border-radius: 10px;}
.gallery .recent-work-wrap{height:180px;}
.gallery .img-responsive{height:180px !important;}
/* lg */ @media (min-width:1200px){/* Make Navigation Toggle on Desktop Hover */ .dropdown:hover .dropdown-menu{display:block;-webkit-animation:fadeInUp 400ms;animation:fadeInUp 400ms}
#portfolio .row{margin-left:-10px;margin-right:-10px}
}
/* md */@media (min-width:992px) and (max-width:1024px){/* Make Navigation Toggle on Desktop Hover */ .dropdown:hover .dropdown-menu{display:block;-webkit-animation:fadeInUp 400ms;animation:fadeInUp 400ms}
.navbar-nav > li{margin-left:10px}
.navbar-collapse{padding-left:0;padding-right:0}
.recent-work-wrap .recent-work-inner h3 a{font-size:20px}
.recent-work-wrap .overlay{padding:15px}
.services-wrap{padding:40px 10px 40px 30px}
.feature-wrap h2,.single-services h2{font-size:18px}
.feature-wrap h3,.single-services h3{font-size:14px}
.tab-wrap .media .parrent.pull-left{clear:both;width:100%}
.tab-wrap .media .parrent.media-body{clear:both}
#portfolio .row{margin-left:-10px;margin-right:-10px}
.recent-work-wrap .overlay .preview{line-height:inherit}
.team-bar .first-arrow{width:21%}
.team-bar .second-arrow{width:20%}
.team-bar .third-arrow{width:21%}
.team-bar .fourth-arrow{width:20%}
ul.social_icons li{margin-right:0}
.navbar>.container .navbar-brand span {display: none;}
}
/* sm */@media (min-width:768px) and (max-width:991px){/* Make Navigation Toggle on Desktop Hover */ .dropdown:hover .dropdown-menu{display:block;-webkit-animation:fadeInUp 400ms;animation:fadeInUp 400ms}
.navbar-collapse{padding-left:0;padding-right:0}
.navbar-nav > li{margin-left:0}
#main-slider .carousel h1{font-size:25px}
#main-slider .carousel h2{font-size:20px}
.tab-wrap .media .parrent.pull-left,.media.accordion-inner .pull-left{clear:both;width:100%}
.tab-wrap .media .parrent.media-body,.media.accordion-inner .media-body{clear:both}
.services-wrap{padding:40px 0 40px 30px}
.recent-work-wrap .overlay{padding:15px}
.recent-work-wrap .recent-work-inner h3 a{font-size:20px}
.sinlge-skill{width:150px;height:150px}
.sinlge-skill p em{font-size:25px}
.sinlge-skill p{font-size:16px}
.team-bar .first-one-arrow{width:2%}
.team-bar .first-arrow{width:18%}
.team-bar .second-arrow{width:24%}
.team-bar .third-arrow{width:15%}
.team-bar .fourth-arrow{width:20%}
.blog .blog-item .entry-meta > span a{font-size:10px}
.navbar>.container .navbar-brand span {display: none;}
aside.preview {width: 100%;float: none;clear: none;margin-right: 0px;}
aside.preview img#main {width: 100%;height: 405px;}
.main-detail-info {float: none;width: 100%;}
}
/* xs */@media (max-width:767px){.container > .navbar-header,.container > .navbar-collapse{margin-left:0}
.top-number{font-size:14px}
input.search-form:hover{width:120px}
.navbar-nav > li{padding-bottom:0}
#main-slider .carousel h1{font-size:25px}
#main-slider .carousel h2{font-size:16px}
.feature-wrap h2,.single-services h2{font-size:18px}
.feature-wrap h3,.single-services h3{font-size:14px}
.media.accordion-inner .pull-left,.media.accordion-inner .media-body{clear:both}
.accordion-inner h4{margin-top:10px}
.tab-wrap .media .pull-left{clear:both;width:100%}
.tab-wrap .media .media-body{clear:both}
.nav-tabs > li.active > a:after{display:none}
#footer .col-sm-6{text-align:center}
#footer .pull-right{float:none !important}
.sinlge-skill{margin:0 auto;margin-top:30px;margin-bottom:30px}
.team .single-profile-top,.team .single-profile-bottom{margin-bottom:30px}
.clients-area{padding:60px 0}
.clients-area h1{font-size:25px}
.portfolio-item,#recent-works .col-xs-12.col-sm-4.col-md-3{padding:0 15px}
ul.social_icons li{margin-right:0}
.blog .blog-item .entry-meta{margin-bottom:20px}
.blog .blog-item .blog-content h3{margin-bottom:20px}
.post_reply_comments{padding-left:20px}
aside.preview {width: 100%;float: none;clear: none;margin-right: 0px;}
aside.preview img#main {width: 100%;height: 405px;}
.main-detail-info {float: none;width: 100%;}
}
/* XS Portrait */@media (max-width:480px){
	.navbar>.container .navbar-brand img{position:relative;width:50%;}
  .navbar>.container .navbar-brand span {display: none;}
  .navbar>.container .navbar-brand {font-size: 14px;}
  .top-number .fa {display: none;}
  .navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 {position: relative;top: 0px;right: 0px;width: auto;background-color:rgba(0,0,0,.85);-webkit-box-shadow:0 3px 8px rgba(0,0,0,0.125);-moz-box-shadow:0 3px 8px rgba(0,0,0,0.125);box-shadow:0 3px 8px rgba(0,0,0,0.125);border:0;padding:0;margin-top:0;border-top:0;border-radius:0;list-style: none;display: block;}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li > a{color:#fff;display: block;font-size: 12px;font-style: italic;}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li:hover > a,.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,.navbar-inverse .navbar-nav .dropdown-menu > li.active > a{background-color:#ff5733;color:#fff}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li.divider{background-color:transparent}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li > a { padding: 7px 15px;}
.navbar-inverse .navbar-nav .dropdown-menu > li:hover > .dropdown-menu2 {display: block;}
.center h2 {font-size: 28px;margin-bottom: 10px;font-family:'utm-avo-bold';}
.center h2 span{border-bottom:1px solid #F00;}
.lead {display: none;}
.fa.pull-right {display: none;}
.contact-info h2 {font-size: 14px;}
aside.preview {width: 100%;float: none;clear: none;margin-right: 0px;}
aside.preview img#main {width: 100%;height: 405px;}
.main-detail-info {float: none;width: 100%;}
}
/* XS Portrait */@media (max-width:650px){
  .navbar>.container .navbar-brand span {display: none;}
  .navbar>.container .navbar-brand {font-size: 14px;}
  .top-number .fa {display: none;}
  .navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 {position: relative;top: 0px;right: 0px;width: auto;background-color:rgba(0,0,0,.85);-webkit-box-shadow:0 3px 8px rgba(0,0,0,0.125);-moz-box-shadow:0 3px 8px rgba(0,0,0,0.125);box-shadow:0 3px 8px rgba(0,0,0,0.125);border:0;padding:0;margin-top:0;border-top:0;border-radius:0;list-style: none;display: block;}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li > a{color:#fff;display: block;font-size: 12px;font-style: italic;}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li:hover > a,.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,.navbar-inverse .navbar-nav .dropdown-menu > li.active > a{background-color:#ff5733;color:#fff}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li.divider{background-color:transparent}
.navbar-inverse .navbar-nav .dropdown-menu > li > .dropdown-menu2 li > a { padding: 7px 15px;}
.navbar-inverse .navbar-nav .dropdown-menu > li:hover > .dropdown-menu2 {display: block;}
.center h2 {font-size: 28px;margin-bottom: 10px;}
.lead {display: none;}
.fa.pull-right {display: none;}
.contact-info h2 {font-size: 14px;}
aside.preview {width: 100%;float: none;clear: none;margin-right: 0px;}
aside.preview img#main {width: 100%;height: 405px;}
.main-detail-info {float: none;width: 100%;}
}

.gsc-control-cse {
		font-family: 'utm-avo',Arial, sans-serif;
		border-color: #FFFFFF;
		background-color: #FFFFFF;
	}
	.gsc-control-cse .gsc-table-result {
		font-family: 'utm-avo',Arial, sans-serif;
	}
	input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
		border-color: #D9D9D9;
	}
	input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
		border-color: #666666;
		background-color: #CECECE;
		background: url(../images/search_icon.png) no-repeat 50% 50% !important;
		filter: none;
		height:25px !important;

	}
	.gsc-tabHeader.gsc-tabhInactive {
		border-color: #FF9900;
		background-color: #FFFFFF;
	}
	.gsc-tabHeader.gsc-tabhActive {
		border-color: #E9E9E9;
		background-color: #E9E9E9;
		border-bottom-color: #FF9900
	}
	.gsc-tabsArea {
		border-color: #FF9900;
	}
	.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
		border-color: #FFFFFF;
		background-color: #FFFFFF;
	}
	.gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
		border-color: #FFFFFF;
		background-color: #FFFFFF;
	}
	.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b  {
		color: #0000CC;
	}
	.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
		color: #0000CC;
	}
	.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b {
		color: #0000CC;
	}
	.gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b {
		color: #0000CC;
	}
	.gsc-cursor-page {
		color: #0000CC;
	}
	a.gsc-trailing-more-results:link {
		color: #0000CC;
	}
	.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
		color: #000000;
	}
	.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
		color: #008000;
	}
	.gs-webResult div.gs-visibleUrl-short {
		color: #008000;
	}
	.gs-webResult div.gs-visibleUrl-short  {
		display: none;
	}
	.gs-webResult div.gs-visibleUrl-long {
		display: block;
	}
	.gs-promotion div.gs-visibleUrl-short {
		display: none;
	}
	.gs-promotion div.gs-visibleUrl-long  {
		display: block;
	}
	.gsc-cursor-box {
		border-color: #FFFFFF;
	}
	.gsc-results .gsc-cursor-box .gsc-cursor-page {
		border-color: #E9E9E9;
		background-color: #FFFFFF;
		color: #0000CC;
	}
	.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
		border-color: #FF9900;
		background-color: #FFFFFF;
		color: #0000CC;
	}
	.gsc-webResult.gsc-result.gsc-promotion {
		border-color: #336699;
		background-color: #FFFFFF;
	}
	.gsc-completion-title {
		color: #0000CC;
	}
	.gsc-completion-snippet {
		color: #000000;
	}
	.gs-promotion a.gs-title:link,.gs-promotion a.gs-title:link *,.gs-promotion .gs-snippet a:link  {
		color: #0000CC;
	}
	.gs-promotion a.gs-title:visited,.gs-promotion a.gs-title:visited *,.gs-promotion .gs-snippet a:visited {
		color: #0000CC;
	}
	.gs-promotion a.gs-title:hover,.gs-promotion a.gs-title:hover *,.gs-promotion .gs-snippet a:hover  {
		color: #0000CC;
	}
	.gs-promotion a.gs-title:active,.gs-promotion a.gs-title:active *,.gs-promotion .gs-snippet a:active {
		color: #0000CC;
	}
	.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * {
		color: #000000;
	}
	.gs-promotion .gs-visibleUrl,.gs-promotion .gs-visibleUrl-short  {
		color: #008000;
	}