.company-home-category-table
{
	border:1px solid #CCCCCC;
	margin-bottom:4px;
}
#home-item-category-tree
{
	list-style:none;
	margin:0px;
	position:relative;
	color:#000000;
	display:block;
	width:100%;
	padding:0px;
	margin:0px;
}
#home-item-category-tree li
{
	display:block;
	width:100%;
}
a.home-news-category-level1,a.home-news-category-level1:visited
{
	background-repeat:no-repeat;
	cursor:pointer;
	background:url(images/title-bg.jpg);
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:5px;
	font-weight:bold;
}
a.home-news-category-level2,a.home-news-category-level2:visited
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#EFEFEF;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:15px;
}
a.home-news-category-level3
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#F1F1F1;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:25px;
	font-size:8pt;
}
a.home-news-category-level4
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#FFFFFF;
	border-bottom:1px solid #FFFFFF;
	width:100%;
	height:25px;
	line-height:18px;
	text-indent:35px;
	font-size:8pt;
}
a.home-news-category-level1-selected,a.home-news-category-level1-selected:visited
{
	font-weight:bold;
	background-repeat:no-repeat;
	cursor:pointer;
	background:url(images/title-bg.jpg);
	border-bottom:1px solid #FFFFFF;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:5px;
}
a.home-news-category-level2-selected,a.home-news-category-level2-selected:visited
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#EFEFEF;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:15px;
	font-weight:bold;
}
a.home-news-category-level1-parent-selected
{
	background-repeat:no-repeat;
	cursor:pointer;
	background:url(images/title-bg.jpg);
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:5px;
}
a.home-news-category-level1-parent-selected-hover
{
	background-repeat:no-repeat;
	cursor:pointer;
	background:url(images/title-bg.jpg);
	border-bottom:1px solid #FFFFFF;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:5px;
}
a.home-news-category-level2-parent-selected
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#EFEFEF;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:15px;
}
a.home-news-category-level2-parent-selected-hover
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#EFEFEF;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:15px;
	font-weight:bold;
}
a.home-news-category-level3-parent-selected
{
background-repeat:no-repeat;
	cursor:pointer;
	background-color:#F1F1F1;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:25px;
	font-size:8pt;
}
a.home-news-category-level3-parent-selected-hover
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#F1F1F1;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:25px;
	font-size:8pt;
}
a.home-news-category-level3-selected
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#F1F1F1;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:25px;
	font-weight:bold;
	font-size:8pt;
}
a.home-news-category-level4-selected
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#FFFFFF;
	border-bottom:1px solid #FFFFFF;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:35px;
	font-weight:bold;
	font-weight:bold;
	overflow:hidden;
	font-size:8pt;
}
a.home-news-category-level2-hover
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#EFEFEF;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:15px;
	font-weight:bold;
}
a.home-news-category-level1-hover
{
	background-repeat:no-repeat;
	cursor:pointer;
	background:url(images/title-bg.jpg);
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:5px;
	font-weight:bold;
}
a.home-news-category-level3-hover
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#F1F1F1;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:25px;
	font-weight:bold;
	font-size:8pt;
	overflow:hidden;
}
a.home-news-category-level4-hover
{
		background-repeat:no-repeat;
	cursor:pointer;
	background-color:#FFFFFF;
	border-bottom:1px solid #FFFFFF;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:35px;
	font-weight:bold;
	font-size:8pt;
	overflow:hidden;
}
a.home-news-category-level4-selected-hover
{
		background-repeat:no-repeat;
	cursor:pointer;
	background-color:#FFFFFF;
	border-bottom:1px solid #FFFFFF;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:35px;
	font-weight:bold;
	font-size:8pt;
	overflow:hidden;
}
a.home-news-category-level1-selected-hover
{
	font-weight:bold;
	background-repeat:no-repeat;
	cursor:pointer;
	background:url(images/title-bg.jpg);
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:5px;
}
a.home-news-category-level2-selected-hover
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#EFEFEF;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	padding:0px;
	height:25px;
	line-height:18px;
	text-indent:15px;
	font-weight:bold;
	font-size:8pt;
}
a.home-news-category-level3-selected-hover
{
	background-repeat:no-repeat;
	cursor:pointer;
	background-color:#F1F1F1;
	border-bottom:1px solid #CCCCCC;
	width:100%;
	height:25px;
	line-height:18px;
	text-indent:25px;
	font-size:8pt;
	font-weight:bold;
}
.align-left
{
	padding-left:5px;
}
.underline
{
padding-right:5px;
 background-repeat:no-repeat
}
.table-menu
{
	width:200px;
	background-color:#CCCCCC;
}
.title-career
{
	color:#FFFFFF;
	font-weight:bold;
	padding-left:10px;
}