#toolbar{
	background-color:#FBFBFB;
	border:1px solid #CDCDCD;
}
#toolbar-title{
	background:url(../images/cms/header/icon-48-article.png) no-repeat;
	width:500px;
	height:100%;
	float:left;
	text-indent:56px;
	line-height:50px;
	margin-top:5px;
	color:#0B55C4;
	font-size:26px;
	font-weight:bold;
}
#toolbar-personal{
	background:url(../images/cms/header/icon-48-user.png) no-repeat;
	width:500px;
	height:100%;
	float:left;
	text-indent:56px;
	line-height:50px;
	margin-top:5px;
	color:#0B55C4;
	font-size:26px;
	font-weight:bold;
}
#toolbar-normal{
	width:500px;
	height:100%;
	float:left;
	line-height:50px;
	margin-top:5px;
	color:#0B55C4;
	font-size:20px;
	font-weight:bold;
}
#toolbar-info{
	background:url(../images/cms/header/icon-48-info.png) no-repeat;
	width:500px;
	height:100%;
	float:left;
	text-indent:56px;
	line-height:50px;
	margin-top:5px;
	color:#0B55C4;
	font-size:26px;
	font-weight:bold;
}
#toolbar-publish A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-publish A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-publish A SPAN{
	background:url(../images/cms/toolbar/icon-32-publish.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-unpublish A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-unpublish A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-unpublish A SPAN{
	background:url(../images/cms/toolbar/icon-32-unpublish.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-move A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-move A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-move A SPAN{
	background:url(../images/cms/toolbar/icon-32-move.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-copy A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-copy A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-copy A SPAN{
	background:url(../images/cms/toolbar/icon-32-copy.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-trash A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-trash A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-trash A SPAN{
	background:url(../images/cms/toolbar/icon-32-trash.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-edit A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-edit A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-edit A SPAN{
	background:url(../images/cms/toolbar/icon-32-edit.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-new A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-new A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-new A SPAN{
	background:url(../images/cms/toolbar/icon-32-new.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-help A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-help A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-help A SPAN{
	background:url(../images/cms/toolbar/icon-32-help.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-preview A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-preview A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-preview A SPAN{
	background:url(../images/cms/toolbar/icon-32-preview.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-cancel A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-cancel A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-cancel A SPAN{
	background:url(../images/cms/toolbar/icon-32-cancel.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-save A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-save A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-save A SPAN{
	background:url(../images/cms/toolbar/icon-32-save.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-config A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-config A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-config A SPAN{
	background:url(../images/cms/toolbar/icon-32-config.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-back A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-back A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-back A SPAN{
	background:url(../images/cms/toolbar/icon-32-back.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-param A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-param A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-param A SPAN{
	background:url(../images/cms/toolbar/icon-32-archive.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
#toolbar-list A{
	width:60px;
	height:50px;
	display:block;
	text-decoration:none;
	border:1px solid #FBFBFB;
	color:#0B55C4;
}
#toolbar-list A:hover{
	border:1px solid #CCCCCC;
	border-top:1px solid #EEEEEE;
	border-left:1px solid #EEEEEE;
}
#toolbar-list A SPAN{
	background:url(../images/cms/toolbar/icon-32-default.png) no-repeat top center;
	width:32px;
	height:32px;
	display:block;
}
.select-large{
	width:200px;
	border:1px solid #CCCCCC;
}
.select-huge{
	width:500px;
	border:1px solid #CCCCCC;
}
.select{
	width:105px;
	border:1px solid #CCCCCC;
}
.input{
	width:100px;
	border:1px solid #CCCCCC;
}
.input-large{
	width:200px;
	border:1px solid #CCCCCC;
}
.input-huge{
	width:220px;
	border:1px solid #CCCCCC;
}
.input-big-huge{
	width:50%;
	border:1px solid #CCCCCC;
}
.textarea-nomarl{
	width:300px;
	height:60px;
	overflow:auto;
	border:1px solid #CCCCCC;
}
.textarea-small{
	width:90%;
	height:100px;
	overflow:auto;
	border:1px solid #CCCCCC;
}
.textarea-medium{
	width:90%;
	height:200px;
	overflow:auto;
	border:1px solid #CCCCCC;
}
.file{
	width:200px;
	border:1px solid #CCCCCC;
	line-height:22px;
}
#panel{
	margin-top:8px;
}
#panel_1{
	background:url(../images/cms/menu/downarrow.png) no-repeat;
	text-indent:20px;
	background-color:#F6F6F6;
	border:1px solid #CCCCCC;
	padding-left:1px;
	#padding-left:0px;
}
#panel_1 SPAN{
	font-size:13px;
	font-weight:bold;
	color:#666666;
	line-height:20px;
}
.cmd-title{
	line-height:20px;
	background-color:#F0F0F0;
}
.require{
	color:#FF0000;
}
.bound-template{
	width:187px;
	height:180px;
	float:left;
	margin:10px;
	background:url(../images/download-button2.gif) no-repeat;
}
.bound-template div{
	padding-top:150px;
	text-align:center;
}
.bound-template div a{
	font-weight:bold;
}
/*----Multi----*/
.multi_edit_input{
	margin:4px 0px;
}
.multi_input_header span{
	font-weight:bold;
	text-align:center;
}
span.multi_input_title{float:left ;width:90px; margin-left:10px;}
/*--------- ManageRegisterDemo -----------------*/
.contact-detail{
}
.contact-detail div{
	padding:5px 0;
}
.contact-checked{
	position:absolute;
	top:0; right:0;
}
.manage-time-contact-bound tr:hover{
	background-color:#FFFFA4;
}