<!--new-->
.main-menu-bound .menu a:link,.main-menu-bound .menu a:visited,
.main-menu-bound .menu a:hover,.main-menu-bound .menu a:visited:hover{
	color:#FFFFFF;
	text-decoration:none;
	}
<!--new-->
.banner-logo
{
}
.clear-both
{
	clear:both;
}
.main-menu-bound{
	overflow:hidden;
	border:0px;
	padding:0px;
	height:30px;
}
.main-menu-bound .menu{
	height:25px;
	background-color:#F0F0F0;
	padding:1px;
	color: #333333;
	font-weight:bold;
	line-height:22px;
	border:1px solid #CCCCCC;
}
#root-menu-div ul {
	border: 1px solid #CCCCCC;
	overflow: visible;
}
#root-menu-div li{
	white-space:nowrap;
}
* html #root-menu-div li{
	height: 1.2em; /* fixing ie6 problem */
}
ul.menu,
#root-menu-div ul {
	background-color: #EFEFEF;
	list-style: none;
	margin: 0;
	padding: 3px;
	border-right:1px solid #D8D8D8;
}
li.active{
	background-color:#0099FF;
}
#root-menu-div li.active a:link,#root-menu-div li.active a:visited,
#root-menu-div li.active a:hover,#root-menu-div li.active a:visited:hover {
	color: #FFFFFF;
	text-decoration:none;
	display:block;
}
li.menumain {
	float: left;
	padding: 0 10px;
	line-height:25px;
	cursor:pointer;
	border-right:1px solid #D8D8D8;
	border-left:1px solid #F0F0F0;
}
li.activetarget{
	border-left:1px solid #6D9D2E;
	border-right:1px solid #6D9D2E;
	background-color:#E7EDDF;
}
* html div.menu-item {
}
#root-menu-div li a:link,
#root-menu-div li a:visited,
#root-menu-div li a:hover,
#root-menu-div li a:visited:hover {
	color:#000000;
	line-height:22px;
	vertical-align:middle;
	display:block;
	width:100%;
	text-decoration:none;
}
div.menu-item {
	padding: 1px 10px 1px 4px;
}
img.menu-item-arrow{
	position: absolute;
	right: 4px;
	top: 8px;
}
li.menu-separator{
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #FFFFFF;
	font-size: 0px; /* for ie */
	overflow:hidden;
	height: 0px;
	line-height: 0px; /* for ie */
	margin:5px 3px 5px 3px;
}
li.menu-separator.active{
}
li.red {
	color: red;
}
li.blue {
	color: blue;
}/*-------------Module HomeMenu-------------------------*/
.home-menu-bound{
	margin-top:10px;
}
.home-menu-group-name{
	clear:both;
	background:#EFEFEF;
	font-weight:bold;
	font-size:14px;
	text-align:left;
	padding-left:10px;
	color:#0D2EA1;
	line-height:24px;
}
.home-menu-item{
	float:left;
	width:15%;
	margin:10px;
	padding:16px;
	height:80px;
	border:1px solid #CCCCCC;
	background:#F7F7F7;
	cursor:pointer;
}
.home-menu-item:hover a:link,
.home-menu-item:hover a:visited,
.home-menu-item:hover a:hover,
.home-menu-item:hover a:visited:hover{
	color:#FF0000;
}
.home-menu-function-bound{
}
.home-menu-item-img{
	text-align:center;
}
.home-menu-item-img img{
	width:50px;
	height:50px;
}
.home-menu-item-name{
	text-align:center;
}
.home-menu-item-name a:link,.home-menu-item-name a:visited{
	font-weight:bold;
	color:#0D2EA1;
	text-decoration:none;
}
.home-menu-item-name a:hover,
.home-menu-item-name a:visited:hover{
	color:#0080FF;
}
